
.profile-pic {

	position: relative;
	display: inline-block;
}

.loading {
    position: fixed;
    left: 45%;
    top: 50%;
}

.profile-pic:hover  {
    opacity: 0.4;
  }
  
  .profile-pic:hover .middle {
    opacity: 1;
    background-color: white;
  }


  .profile-pic {

	position: relative;
	display: inline-block;
}



.profile-pic:hover  {
    opacity: 0.4;
  }
  
  .profile-pic:hover .middle {
    opacity: 1;
    background-color: white;
  }


   .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.profile-pic img{
    width: 100%;
    height: 215px;
}

.profile-pic:hover .edit {
	display: block;
}

.edit {
  
	display: inline-block;
}

.edit a {
	color: #000;
}


.emp-profile{

    border-radius: 0.5rem;
    background:transparent;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 323px;
    height: 215px;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}

.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}



@media screen and (min-width: 1200px) {
    .container {
        max-width: 1488px;
    }
  }




   .container-fluid
   {
     margin-top:5%;
     max-height: 50%;
   
   }
   
  
   .transparent {
       background-color: Transparent;
       background-repeat:no-repeat;
       border: none;
       cursor:pointer;
       overflow: hidden;
       outline:none;
   }
 
   .header
   {
       background-color: darkseagreen;
       border-radius: 20px;
       padding-top:17px;
       padding-bottom: 3px;
   }
   
   i question
   {
       font-size: small;
   }
   
   .content
   {
       padding: 1rem 2rem;
       -webkit-box-shadow: 1px 1px 11px 0px #666666; 
       box-shadow: 1px 1px 11px 0px #666666 ;
       width: 90%;
       margin: auto;
       margin-bottom: 2%;
       padding-top:10px;
     
   }
   .content-wrapper
   {
       padding-top: 4px;
       max-height: 400px;
       overflow: auto;
   }
   

   /* Animations to fade the snackbar in and out */
   @-webkit-keyframes fadein {
       from {top: 0; opacity: 0;} 
       to {top: 21%; opacity: 1;}
   }
   
   @keyframes fadein {
       from {top: 0; opacity: 0;}
       to {top: 21%; opacity: 1;}
   }
   
   @-webkit-keyframes fadeout {
       from {top: 21%; opacity: 1;} 
       to {top: 0; opacity: 0;}
   }
   
   @keyframes fadeout {
       from {top: 21%; opacity: 1;}
       to {top: 0; opacity: 0;}
   }
   hr{
       color:black;
       height: 5px;
   }
   .row
   {
       margin-left: 25px;
   }
   
   .request-outer
   {
       max-height: 400px;
       overflow-y: auto;
   }
   
   
   @media only screen and (min-width: 600px) {
       .title{
           margin-left: 113px;
       }
     }
   
     b{
         font-weight: bold;
     }
     a{
        cursor: pointer;
    }
    
   .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.profile-pic img{
    width: 100%;
    height: 215px;
}

.profile-pic:hover .edit {
	display: block;
}

.edit {
  
	display: inline-block;
}

.edit a {
	color: #000;
}


.emp-profile{

    border-radius: 0.5rem;
    background:transparent;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 323px;
    height: 215px;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}

.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}



@media screen and (min-width: 1200px) {
    .container {
        max-width: 1488px;
    }
  }




   .container-fluid
   {
     margin-top:5%;
     max-height: 50%;
   
   }
   
  
   .transparent {
       background-color: Transparent;
       background-repeat:no-repeat;
       border: none;
       cursor:pointer;
       overflow: hidden;
       outline:none;
   }
 
   .header
   {
       background-color: darkseagreen;
       border-radius: 20px;
       padding-top:17px;
       padding-bottom: 3px;
   }
   
   i question
   {
       font-size: small;
   }
   
   .content
   {
       padding: 1rem 2rem;
       -webkit-box-shadow: 1px 1px 11px 0px #666666; 
       box-shadow: 1px 1px 11px 0px #666666 ;
       width: 90%;
       margin: auto;
       margin-bottom: 2%;
       padding-top:10px;
     
   }
   .content-wrapper
   {
       padding-top: 4px;
       max-height: 400px;
       overflow: auto;
   }
   

   /* Animations to fade the snackbar in and out */
   @-webkit-keyframes fadein {
       from {top: 0; opacity: 0;} 
       to {top: 21%; opacity: 1;}
   }
   
   @keyframes fadein {
       from {top: 0; opacity: 0;}
       to {top: 21%; opacity: 1;}
   }
   
   @-webkit-keyframes fadeout {
       from {top: 21%; opacity: 1;} 
       to {top: 0; opacity: 0;}
   }
   
   @keyframes fadeout {
       from {top: 21%; opacity: 1;}
       to {top: 0; opacity: 0;}
   }
   hr{
       color:black;
       height: 5px;
   }
   .row
   {
       margin-left: 25px;
   }
   
   .request-outer
   {
       max-height: 400px;
       overflow-y: auto;
   }
   
   
   @media only screen and (min-width: 600px) {
       .title{
           margin-left: 113px;
       }
     }
   
     b{
         font-weight: bold;
     }
     a{
        cursor: pointer;
    }
    @media only screen and (max-width: 600px) {
        .scrollableTable {
            overflow-x: auto;
        }
    }
    th {
        border-width: 1px;
        padding: 0.5em;
        position: relative;
        text-align: left;
        background: #eee;
        border-color: #bbb;
        border-radius: 0.25em;
        border-style: solid;
    }
    
    td {
        border-width: 1px;
        padding: 0.5em;
        position: relative;
        text-align: left;
        border-color: #ddd;
        border-radius: 0.25em;
        border-style: solid;
    }

    @media print {
        #print {
            display: none;
        }
    }
    

.profile-activity {
    padding: 10px 4px;
    border-bottom: 1px dotted #D0D8E0;
    position: relative;
    border-left: 1px dotted #FFF;
    border-right: 1px dotted #FFF
}

.profile-activity:first-child {
    border-top: 1px dotted transparent
}

.profile-activity:hover {
    background-color: #F4F9FD;
    border-left: 1px dotted #D0D8E0;
    border-right: 1px dotted #D0D8E0
}

.profile-activity .time {
    display: block;
    margin-top: 4px;
    color: #777
}

ul.listSide li {
    float:left; width:50%;
}

span.warning {
    top: 7%;
    color: #d47df7;
    background-color:#f6ecfa;
   font-weight: bold;
  font-size: large;
  border-radius: 10px;
   float: right;

  }
  @media (max-width: 767px) {
    span.warning {
        top: 7%;
        color: #d47df7;
        background-color:#f6ecfa;
       font-weight: bold;
      font-size: large;
      border-radius: 10px;
       float: right;
       width: 90px;
       padding-left: 5px;
      }
  }

  .tabs-left>li.active>a,
.tabs-left>li.active>a:hover,



a:focus { color: #7971ea;
    font-weight: 700;
}

 
.tab-content {
    border: 1px solid #C5D0DC;
    padding: 16px 12px;
    position: relative
}


