<div *ngIf="loading" style="z-index: 1000;" class="loading">
    <div style="margin: 0 auto;">
        <img width="100px" height="50px" src="../../assets/spinner.gif">
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-2">
            <div class="profile-pic img">
                <div *ngIf="picturePath">
                    <img [src]="picturePath" *ngIf="picturePath != ''" alt="">
                </div>
                <div *ngIf="!picturePath">
                    <img *ngIf="comservice.myUserRole == 'cc'"
                        src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/ccDefault_jwgxz8.jpg"
                        alt="">
                    <img *ngIf="comservice.myUserRole == 'student'"
                        src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967445/LearningPod/myAccounts/studentDefault_ovz6b6.jpg"
                        alt="">
                    <img *ngIf="comservice.myUserRole == 'teacher'"
                        src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967445/LearningPod/myAccounts/studentDefault_ovz6b6.jpg"
                        alt="">
                </div>


                <div class="middle">

                    <button style="padding: 2px;" class="edit d-inline-block">
                        <a onclick="document.getElementById('myFileInput').click()">
                            <i class="fa fa-pencil fa-lg"></i>
                        </a>
                    </button>

                    <button *ngIf="picturePath != null" style="padding: 2px;" class="edit d-inline-block">
                        <a (click)="deleteImage(comservice.myUserId,picturePath)">
                            <i class='fas fa-trash-alt'></i>
                        </a>
                    </button>
                </div>
            </div>
            <input style="opacity: 0;" type="file" id="myFileInput" (change)="uploadPhoto($event)" accept="image/*" />
            <div *ngIf="ccInfo != null ">
                <div class="col-sm-12 form-group">
                    <b>Number of teachers</b>&nbsp;
                    <span>{{teacherStudentCount.teacherCount}}</span>
                </div>
                <div class="col-sm-12 form-group">
                    <b>Number of students</b>&nbsp;
                    <span>{{teacherStudentCount.studentCount}}</span>
                </div>
                <div class="col-md-12 form-group">
                    <button data-toggle="modal" (click)="focusOnFirstInput()"
                        style="cursor: pointer; border-radius: 20px" data-target="#changepassword" *ngIf="!editable"
                        class="btn-sm btn-primary">
                        Change Password
                    </button>
                </div>

                <div class="col-md-12 form-group">
                    <button data-target="#packageUsage" data-toggle="modal" (click)="getUserPackage()"
                        style="cursor: pointer; border-radius: 20px" class="btn-sm btn-primary">
                        Check Usage
                    </button>
                </div>

            </div>
        </div>
        <div *ngIf="ccInfo != null" class="col-md-10">
            <div class="row" style="float: right;">
                <!--  -->
                <span class="warning" *ngIf="!cbsStepComplete || !teacherStepComplete || !studentStepComplete ">
                    Setup your institute &nbsp;

                    <button class="btn-sm btn-primary" data-toggle="modal" data-target="#openSetup">
                        <a style="z-index: 1000; cursor: pointer;">
                            OK
                        </a>
                    </button>
                </span>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input type="text" onKeyPress="if(this.value.length==250) return false;" class="form-control"
                        placeholder="Enter your coaching name" name="class" [(ngModel)]="ccInfoToUpdate.ccName"
                        *ngIf="editable" />
                    <h3 *ngIf="!editable" style="color: black; display: inline;">{{ccInfo.ccName}} </h3>
                    <!-- <ngx-stars [readonly]="true" [initialStars]="ccInfo.cumulativeRating" [color]="'#e5570b'"
                        [size]="1">
                    </ngx-stars> -->


                    <button (click)="editInfo()" style="cursor: pointer;" *ngIf="!editable" class="transparent"
                        data-toggle="tooltip" title="Edit ">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 form-group">
                    <b>Class(es)</b>
                </div>
                <div class="col-sm-3 form-group" *ngIf="comservice.cbsObj != undefined">
                    <ng-multiselect-dropdown [placeholder]="'--Select Classes--'" [data]="classlist"
                        [(ngModel)]="selectedClassToUpdate" [settings]="dropdownSettingsClass"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" style="color:black;"
                        *ngIf="editable">
                    </ng-multiselect-dropdown>
                    <div *ngIf="!editable">

                        <span style="word-wrap: break-word;"
                            *ngFor="let x of selectedClass | slice:0: selectedClass.length - 1; let i = index">
                            {{x.className}},</span>
                        {{selectedClass.length >= 2 ? "" + selectedClass[selectedClass.length - 1].className : ""}}
                        {{selectedClass.length == 1 ? selectedClass[selectedClass.length - 1].className : ""}}

                    </div>
                </div>

                <div class="col-sm-1 form-group">
                    <b>Board(s)</b>
                </div>
                <div class="col-sm-3 form-group">
                    <ng-multiselect-dropdown [placeholder]="'--Select Boards--'" [data]="boardlist"
                        [(ngModel)]="selectedBoardsToUpdate" [settings]="dropdownSettingsBoard"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" style="color:black;"
                        *ngIf="editable">
                    </ng-multiselect-dropdown>
                    <div *ngIf="!editable">
                        <span style="word-wrap: break-word;"
                            *ngFor="let x of selectedBoard | slice:0: selectedBoard.length - 1; let i = index">
                            {{x.boardName}},</span>
                        {{selectedBoard.length >= 2 ? "" + selectedBoard[selectedBoard.length - 1].boardName : ""}}
                        {{selectedBoard.length == 1 ? selectedBoard[selectedBoard.length - 1].boardName : ""}}
                    </div>
                </div>

                <div class="col-sm-1 form-group">
                    <b>Subject(s)</b>
                </div>
                <div class="col-sm-3 form-group">
                    <ng-multiselect-dropdown [placeholder]="'--Select Subjects--'" [data]="subjectlist"
                        [(ngModel)]="selectedSubjectsToUpdate" [settings]="dropdownSettingsSubject"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" style="color:black;"
                        *ngIf="editable">
                    </ng-multiselect-dropdown>
                    <div *ngIf="!editable">
                        <span style="word-wrap: break-word;"
                            *ngFor="let x of selectedSubjects | slice:0: selectedSubjects.length - 1; let i = index">
                            {{x.subjectName}},</span>
                        {{selectedSubjects.length >= 2 ? "" + selectedSubjects[selectedSubjects.length - 1].subjectName : ""}}
                        {{selectedSubjects.length == 1 ? selectedSubjects[selectedSubjects.length - 1].subjectName : ""}}
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="editable">
                <div class="col-sm-12">
                    If you want to add a custom class, board or subject to this list then <a data-toggle="modal"
                        style="cursor: pointer; color: #7971ea; font-weight: 500;" data-target="#addCBS"><u>Click
                            Here</u></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <b>About Us </b>
                </div>
                <div class="col-sm-10 form-group">
                    <textarea class="form-control" onKeyPress="if(this.value.length==500) return false;" wrap="soft"
                        id="description" placeholder="Write something about your classes" name="description"
                        [(ngModel)]="ccInfoToUpdate.description" *ngIf="editable"></textarea>
                    <p *ngIf="!editable">{{ccInfo.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 form-group">
                    <b>Address</b>
                </div>
                <div class="col-sm-4" *ngIf="!editable">
                    <p>{{ccInfo.address1}}</p>
                    <p>{{ccInfo.address2}}</p>
                    <p>{{ccInfo.city}}</p>
                    <p>{{ccInfo.state}}</p>
                    <p>{{ccInfo.pincode}}</p>
                </div>
                <div class="col-sm-4" *ngIf="editable">

                    <input type="text" onKeyPress="if(this.value.length==200) return false;" class="form-control"
                        placeholder="Flat/House No./Floor/Building" name="address1"
                        [(ngModel)]="ccInfoToUpdate.address1" />

                    <input type="text" onKeyPress="if(this.value.length==200) return false;" class="form-control"
                        placeholder="Colony/Street/Locality" name="address2" [(ngModel)]="ccInfoToUpdate.address2" />

                    <input type="text" onKeyPress="if(this.value.length==200) return false;" class="form-control"
                        name="city" [(ngModel)]="ccInfoToUpdate.city" placeholder="City" />

                    <input type="text" onKeyPress="if(this.value.length==200) return false;"
                        [(ngModel)]="ccInfoToUpdate.state" class="form-control" placeholder="State" />

                    <input type="number" min="0" onKeyPress="if(this.value.length==6) return false;"
                        class="form-control" placeholder="Pincode" name="pincode"
                        [(ngModel)]="ccInfoToUpdate.pincode" />
                </div>
                <div class="col-sm-4 form-group">
                    <b>Phone </b>
                    <br>
                    <input type="text" onKeyPress="if(this.value.length==10) return false;" class="form-control rdonly"
                        placeholder={{ccInfo.phoneNo}} name="phone" [(ngModel)]="ccInfo.phone" disabled
                        *ngIf="editable" />
                    <span *ngIf="!editable">{{ccInfo.phoneNo}}</span>
                    <br>
                    <b>Email</b>
                    <br>
                    <input type="text" onKeyPress="if(this.value.length==50) return false;" class="form-control"
                        placeholder={{ccInfoToUpdate.ccEmail}} name="email" [(ngModel)]="ccInfoToUpdate.ccEmail"
                        (focusout)="ValidateEmail(ccInfo.ccEmail)" *ngIf="editable" />
                    <span *ngIf="!editable">{{ccInfo.ccEmail}}</span>
                    <b *ngIf="emailerr" style="color: white">Enter valid email address</b>
                </div>
            </div>

            <div class-="row">
                <div class="col-sm-12 pt-3" style="text-align: center;" *ngIf="editable">
                    <button class="btn btn-primary btn-pill" (click)="updateCcDetails()">Update</button>&nbsp;
                    <button class="btn btn-primary btn-pill" (click)="disableEditInfo();">Cancel</button>
                </div>
            </div>
        </div>
        <div *ngIf="teacherInfo != null" class="col-md-10">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <input type="text" onKeyPress="if(this.value.length==250) return false;" class="form-control"
                        placeholder="Enter your name" [(ngModel)]="teacherInfoToUpdate.teacherName" *ngIf="editable" />
                    <h3 *ngIf="!editable" style="color: black">{{teacherInfo.teacherName}}</h3>
                    <!-- <ngx-stars [readonly]="true" [initialStars]="teacherInfo.cumulativeRating" [color]="'#e5570b'"
                        [size]="1">
                    </ngx-stars> -->
                </div>
                <div class="col-sm-6">

                </div>
                <div class="col-sm-1">
                    <button (click)="editInfo()" style="cursor: pointer;" *ngIf="!editable" class="transparent"
                        data-toggle="tooltip" title="Edit ">
                        <i class="fa fa-pencil" aria-hidden="true" style="color: black"></i>
                    </button>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-2 form-group">
                    <b>Date Of Birth</b>
                </div>
                <div class="col-sm-2 form-group">
                    <input type="date" class="form-control" placeholder="Enter your DOB" name="date"
                        [(ngModel)]="teacherInfoToUpdate.teacherBirthdate" *ngIf="editable" />
                    <p *ngIf="!editable">{{teacherInfo.teacherBirthdate}}</p>
                </div>

                <div class="col-sm-1 form-group">
                    <b>Gender</b>
                </div>
                <div class="col-sm-2 form-group" *ngIf="editable">
                    <input type="radio" [(ngModel)]="teacherInfoToUpdate.teacherGender" name="gender" value="Male" />
                    <label>Male</label>
                    <br>
                    <input type="radio" [(ngModel)]="teacherInfoToUpdate.teacherGender" name="gender" value="Female" />
                    <label>Female</label>
                </div>
                <div class="col-sm-2 form-group" *ngIf="!editable">
                    <p>{{teacherInfo.teacherGender}}</p>
                </div>
                <div class="col-sm-2 form-group">
                    <b>Qualification</b>
                </div>
                <div class="col-sm-2 form-group">
                    <input type="text" onKeyPress="if(this.value.length==200) return false;" class="form-control"
                        placeholder="Enter your qualifications" name="qualification"
                        [(ngModel)]="teacherInfoToUpdate.qualifications" *ngIf="editable" />
                    <p *ngIf="!editable">{{teacherInfo.qualifications}}</p>
                </div>


            </div>

            <div class="row">


                <div class="col-sm-1 form-group" *ngIf="!editable">
                    <b>Class(es)</b>
                </div>
                <div class="col-sm-3 form-group">
                    <div *ngIf="!editable">
                        <label
                            *ngFor="let x of selectedClass | slice:0:selectedClass.length - 1">{{x.className}},</label>
                        {{selectedClass.length >= 2 ? "" + selectedClass[selectedClass.length - 1].className : ""}}
                        {{selectedClass.length == 1 ? selectedClass[selectedClass.length - 1].className : ""}}
                    </div>
                </div>



                <div class="col-sm-1 form-group" *ngIf="!editable">
                    <b>Board(s)</b>
                </div>
                <div class="col-sm-3 form-group">
                    <div *ngIf="!editable">
                        <label *ngFor="let x of selectedBoard | slice:0:selectedBoard.length - 1">
                            {{x.boardName}},</label>
                        {{selectedBoard.length >= 2 ? "" + selectedBoard[selectedBoard.length - 1].boardName : ""}}
                        {{selectedBoard.length == 1 ? selectedBoard[selectedBoard.length - 1].boardName : ""}}
                    </div>
                </div>

                <div class="col-sm-1 form-group" *ngIf="!editable">
                    <b>Subject(s)</b>
                </div>
                <div class="col-sm-3 form-group">

                    <div *ngIf="!editable">
                        <label *ngFor="let x of selectedSubjects | slice:0:selectedSubjects.length - 1">
                            {{x.subjectName}},</label>
                        {{selectedSubjects.length >= 2 ? "" + selectedSubjects[selectedSubjects.length - 1].subjectName : ""}}
                        {{selectedSubjects.length == 1 ? selectedSubjects[selectedSubjects.length - 1].subjectName : ""}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <b>About Me</b>
                    <textarea class="form-control" onKeyPress="if(this.value.length==500) return false;" rows="3"
                        id="description" placeholder="Write something about you" name="description"
                        [(ngModel)]="teacherInfoToUpdate.description" *ngIf="editable"></textarea>
                    <p *ngIf="!editable">{{teacherInfo.description}}</p>
                </div>



                <div class="col-sm-12 form-group">
                    <b>Skill</b>
                    <textarea class="form-control" onKeyPress="if(this.value.length==200) return false;" rows="3"
                        id="skills" placeholder="Enter your skills" name="skills"
                        [(ngModel)]="teacherInfoToUpdate.teacherSkills" *ngIf="editable"></textarea>
                    <p *ngIf="!editable">{{teacherInfo.teacherSkills}}</p>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-3 form-group">
                    <b>Teaching Experience </b>
                </div>
                <div>
                    <input type="number" min="0" onKeyPress="if(this.value.length==2) return false;"
                        class="form-control" placeholder=Experience name="experience"
                        [(ngModel)]="teacherInfoToUpdate.experience" *ngIf="editable" />
                    <p *ngIf="!editable">{{teacherInfo.experience}}</p>
                </div>
                <div class="col-sm-2" *ngIf="teacherInfo.experience != null">
                    <p>year(s)</p>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 form-group">
                    <b>Address</b>
                </div>
                <div class="col-sm-4" *ngIf="!editable">
                    <p>{{teacherInfo.address1}}</p>
                    <p>{{teacherInfo.address2}}</p>
                    <p>{{teacherInfo.city}}</p>
                    <p>{{teacherInfo.state}}</p>
                    <p>{{teacherInfo.pincode}}</p>
                </div>
                <div class="col-sm-4" *ngIf="editable">

                    <input type="text" onKeyPress="if(this.value.length==200) return false;" class="form-control"
                        placeholder="Flat/House No./Floor/Building" name="address1"
                        [(ngModel)]="teacherInfoToUpdate.address1" />

                    <input type="text" onKeyPress="if(this.value.length==200) return false;" class="form-control"
                        placeholder="Colony/Street/Locality" name="address2"
                        [(ngModel)]="teacherInfoToUpdate.address2" />

                    <input type="text" onKeyPress="if(this.value.length==100) return false;" class="form-control"
                        name="city" [(ngModel)]="teacherInfoToUpdate.city" placeholder="City" />

                    <input type="text" onKeyPress="if(this.value.length==100) return false;"
                        [(ngModel)]="teacherInfoToUpdate.state" class="form-control" placeholder="State" />

                    <input type="number" min="0" onKeyPress="if(this.value.length==6) return false;"
                        class="form-control" placeholder="Pincode" name="pincode"
                        [(ngModel)]="teacherInfoToUpdate.pincode" />

                </div>


                <div class="col-sm-4 form-group">
                    <b>Phone Number</b>
                    <br>
                    <input type="number" class="form-control rdonly" placeholder={{teacherInfoToUpdate.phoneNo}}
                        name="phone" [(ngModel)]="teacherInfoToUpdate.phone" disabled *ngIf="editable" />
                    <label *ngIf="!editable">{{teacherInfo.phoneNo}}</label>
                    <br>
                    <b>Email Id</b>
                    <br>
                    <input type="text" onKeyPress="if(this.value.length==50) return false;" class="form-control"
                        placeholder=example@gmail.com name="email" [(ngModel)]="teacherInfoToUpdate.email"
                        (focusout)="ValidateEmail(teacherInfo.email)" *ngIf="editable" />
                    <label *ngIf="!editable">{{teacherInfo.email}}</label>
                    <b *ngIf="!emailerr" style="color: white">Enter valid email address</b>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-lg-5">
                    <button data-toggle="modal" data-target="#changepassword" class="btn-sm btn-primary"
                        style="cursor: pointer; border-radius: 20px">
                        Change Password
                    </button>
                </div>
                <div class="col-sm-2 col-lg-6">
                    <u><button style="cursor: pointer; border-radius: 20px" class="btn-sm btn-primary"
                            data-target="#teacherReportInTeacherAccount" data-toggle="modal">Get Report</button>
                    </u>

                </div>
            </div>


            <div id="teacherReportInTeacherAccount" class="modal fade modal-open">
                <div class="modal-dialog" style="max-width: 90%; top:0%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Your Report</h4>
                            <button type="button" id="closeUpdateModal" class="close"
                                data-dismiss="modal">&times;</button>
                            <div *ngIf="loadingReport" style="z-index: 1000;" class="loading">
                                <div>
                                    <img width="100px" height="50px" src="../../assets/spinner.gif">
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="scrollableTable">
                                Select Start Date
                                <kendo-datepicker [(ngModel)]="startDate" name="startDate"></kendo-datepicker>
                                and End Date
                                <kendo-datepicker [(ngModel)]="endDate" name="endDate"></kendo-datepicker>
                                <button class="btn btn-primary" style="float: right;cursor: pointer;border-radius:12%;"
                                    id="print" (click)="getTeacherReport(startDate, endDate)">Get Report</button>
                                <button class="btn btn-primary" *ngIf="showPrint" title="Print report" id="print"
                                    (click)="printReport()" style="cursor: pointer; float: right; border-radius:12%;">
                                    Print Report
                                </button>
                                <div *ngIf="!showTable">
                                    {{scheduleClassInfo}}
                                </div>
                                <div *ngIf="showTable">
                                    <br>
                                    <b>Total scheduled classes in past: </b>{{totalCounts.totalPastClassCount}}
                                    <br>
                                    <b>Total live class(es) joined: </b>{{totalCounts.totalPastJoinClassCount}}
                                    <br>
                                    <b>Total live class(es) missed:
                                    </b>{{totalCounts.totalPastClassCount - totalCounts.totalPastJoinClassCount}}
                                    <br>
                                    <div class="scrollableTable">
                                        <table style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">Course Name</th>
                                                    <th rowspan="2">Topic</th>
                                                    <th rowspan="2">Class</th>
                                                    <th rowspan="2">Subject</th>
                                                    <th rowspan="2">Date</th>
                                                    <th colspan="2" style="text-align: center;">Scheduled Class(es)</th>
                                                    <th colspan="4" style="text-align: center;">Conducted Class(es)</th>
                                                </tr>
                                                <tr>
                                                    <th>Scheduled Start Time</th>
                                                    <th>Scheduled End Time</th>
                                                    <th>Live Class Start Time</th>
                                                    <th>Live Class End Time</th>
                                                    <th>No. Of Student Joined</th>
                                                    <th>Teacher Joined</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let x of scheduleClassInfo">
                                                <tr>
                                                    <td rowspan="10">
                                                        {{x.courseTitle}}
                                                    </td>
                                                    <td rowspan="10">
                                                        {{x.topic ? x.topic : "-"}}

                                                    </td>
                                                    <td rowspan="10">
                                                        {{x.className}}th
                                                    </td>
                                                    <td rowspan="10">
                                                        {{x.subjectName}}
                                                    </td>
                                                    <td rowspan="10">
                                                        {{x.scheduleClassDate}}
                                                    </td>

                                                    <td rowspan="10">
                                                        {{x.scheduleClassStartTime}}
                                                    </td>
                                                    <td rowspan="10">
                                                        {{x.scheduleClassEndTime}}
                                                    </td>
                                                </tr>
                                                <tr *ngIf="x.virtualClassInfo.length == 0">
                                                    Nobody joined
                                                </tr>
                                                <tr *ngFor="let x1 of x.virtualClassInfo">
                                                    <td colspan="1">
                                                        {{x1.virtualClassStartTime ? x1.virtualClassStartTime : "-"}}
                                                    </td>
                                                    <td colspan="1">
                                                        {{x1.virtualClassEndTime ? x1.virtualClassEndTime : "-"}}
                                                    </td>
                                                    <td colspan="1">
                                                        {{x1.noOfAttendee ? x1.noOfAttendee : "0"}}
                                                    </td>
                                                    <td colspan="1" *ngIf="x1.scheduleClassStatus == 'Future'">
                                                        <span style="color: green;">Future class</span>
                                                    </td>
                                                    <td colspan="1" *ngIf="x1.scheduleClassStatus == 'Past'">
                                                        <span *ngIf="x1.noOfModerator > 0">Yes</span>
                                                        <span
                                                            *ngIf="x1.virtualStatus == 'Virtual class information is not available'"
                                                            style="color: red;">Teacher missed the class</span>
                                                        <span *ngIf="x1.noOfModerator == 0" style="color: red;">Teacher
                                                            missed the class</span>
                                                    </td>
                                                    <td colspan="1" *ngIf="x1.scheduleClassStatus == 'Present'">
                                                        <span style="color: blue;">Currently scheduled class</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-4 pb-5" *ngIf="editable">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-pill" (click)="updateTeacherDetails()">Update</button> &nbsp;
                    <button class="btn btn-primary btn-pill" (click)="disableEditInfo();">Cancel</button>
                </div>
            </div>
        </div>
        <div *ngIf="studentInfo != null" class="col-md-9">
            <div class="row">

                <div class="col-sm-4 form-group">
                    <input type="text" onKeyPress="if(this.value.length==30) return false;" class="form-control"
                        placeholder="Enter your name" name="name" [(ngModel)]="studentInfoToUpdate.studentName"
                        *ngIf="editable" />
                    <h3 *ngIf="!editable" style="color: black">{{studentInfo.studentName}}</h3>
                </div>
                <div class="col-sm-5">

                </div>

                <div class="col-sm-1">
                    <button (click)="editInfo()" style="cursor: pointer;" *ngIf="!editable" class="transparent"
                        data-toggle="tooltip" title="Edit">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1 form-group" *ngIf="!editable">
                    <b>Class</b>
                </div>
                <div class="col-sm-4 form-group" *ngIf="!editable">
                    <div>
                        <label *ngFor="let x of selectedClass">
                            <div *ngIf="x != undefined">
                                {{x.className}}</div>
                        </label>
                    </div>

                </div>
                <div class="col-sm-1 form-group" *ngIf="!editable">
                    <b>Board</b>
                </div>
                <div class="col-sm-5 form-group" *ngIf="!editable">
                    <div>
                        <label *ngFor="let x of selectedBoard">
                            <div *ngIf="x != undefined">
                                {{x.boardName}}</div>
                        </label>
                    </div>

                </div>


                <div class="col-sm-2 form-group">
                    <b>Address</b>
                </div>
                <div class="col-sm-3" *ngIf="!editable">
                    <p>{{studentInfo.address1}}</p>
                    <p>{{studentInfo.address2}}</p>
                    <p>{{studentInfo.city}}</p>
                    <p>{{studentInfo.state}}</p>
                    <p>{{studentInfo.pincode}}</p>

                </div>
                <div class="col-sm-4" *ngIf="editable">

                    <input type="text" onKeyPress="if(this.value.length==30) return false;" class="form-control"
                        placeholder="Flat/House No./Floor/Building" name="address1"
                        [(ngModel)]="studentInfoToUpdate.address1" />

                    <input type="text" onKeyPress="if(this.value.length==30) return false;" class="form-control"
                        placeholder="Colony/Street/Locality" name="address2"
                        [(ngModel)]="studentInfoToUpdate.address2" />

                    <input type="text" onKeyPress="if(this.value.length==30) return false;" class="form-control"
                        name="city" [(ngModel)]="studentInfoToUpdate.city" placeholder="City" />

                    <input type="text" onKeyPress="if(this.value.length==30) return false;"
                        [(ngModel)]="studentInfoToUpdate.state" class="form-control" placeholder="State" />

                    <input type="number" min="0" onKeyPress="if(this.value.length==6) return false;"
                        class="form-control" placeholder="Pincode" name="pincode"
                        [(ngModel)]="studentInfoToUpdate.pincode" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 form-group">
                    <b>Email</b>
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" onKeyPress="if(this.value.length==40) return false;" class="form-control"
                        placeholder="example@gmail.com" name="email" [(ngModel)]="studentInfoToUpdate.email"
                        (focusout)="ValidateEmail(studentInfo.email)" *ngIf="editable" />
                    <label *ngIf="!editable">{{studentInfo.email}}</label>
                    <b *ngIf="emailerr" style="color: white">Enter valid email address</b>
                </div>
                <div class="col-sm-2 form-group">
                    <b>Phone Number</b>
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" maxlength="500" class="form-control rdonly"
                        placeholder="studentInfoToUpdate.studentContactInfo.phone" name="phone"
                        [(ngModel)]="studentInfoToUpdate.studentContactInfo.phoneNo" disabled *ngIf="editable" />
                    <label *ngIf="!editable">{{studentInfo.studentContactInfo.phoneNo}}</label>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <button data-toggle="modal" data-target="#changepassword"
                        style="cursor: pointer; border-radius: 20px" class="btn-sm btn-primary" *ngIf="!editable">
                        Change Password
                    </button>
                </div>
            </div>

            <div class="row" *ngIf="editable">
                <div class="col-sm-12" style="text-align :center;">
                    <button class="btn btn-primary btn-pill" (click)="updateStudentDetails()">Update</button> &nbsp;
                    <button class="btn btn-primary btn-pill" (click)="disableEditInfo();">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="changepassword" class="modal fade modal-open">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Provide Following Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <input type="text" maxlength="500" placeholder="Phone" disabled class="form-control"
                            name="phone" [(ngModel)]="phone" minlength=10 maxlength=10>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <input type="password" onKeyPress="if(this.value.length==15) return false;"
                            placeholder="Old Password" class="form-control" name="changePassword_old"
                            [(ngModel)]="oldPassword" id="oldPassword">

                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <input type="password" onKeyPress="if(this.value.length==30) return false;"
                            placeholder="New Password" class="form-control" id="newPassword" name="changePassword_pass"
                            [(ngModel)]="newPassword">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <input type="password" onKeyPress="if(this.value.length==30) return false;"
                            placeholder="Confirm Password" id="confirmPassword" class="form-control"
                            name="changePassword_pass_conf" [(ngModel)]="confirmPassword">
                    </div>
                    <div class="col-sm-3"></div>

                </div>
                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <input type="checkbox" (click)="showPassword()">&nbsp;Show Password
                    </div>
                    <div class="col-sm-3"></div>

                </div>
                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-pill" data-dismiss="modal"
                            (click)="changepassword(phone, oldPassword, newPassword, confirmPassword)">Ok</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-pill" data-dismiss="modal"
                    (click)="closeChangePassword()">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="addCBS" class="modal fade modal-open">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Class, Board, Subject</h4>
                <button type="button" class="close" id="closeCBSmodal" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row ">
                        <form class="px-4 py-3 col-lg-4">

                            <div class="form-group">
                                <input type="text" placeholder="Enter class to add" [(ngModel)]="classNameToAdd"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <button class="btn-primary btn-sm" (click)="saveClass()">Save</button>
                        </form>


                        <form class="px-4 py-3 col-lg-4">

                            <div class="form-group">
                                <input type="text" placeholder="Enter board to add" [(ngModel)]="boardNameToAdd"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <button class="btn-primary btn-sm" (click)="saveBoard()">Save</button>
                        </form>
                        <form class="px-4 py-3 col-lg-4">

                            <div class="form-group">
                                <input type="text" placeholder="Enter subject to add" [(ngModel)]="subjectNameToAdd"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <button class="btn-primary btn-sm" (click)="saveSubject()">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="packageUsage" class="modal fade modal-open">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Package Usage</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="loading" style="z-index: 1000;" class="loading">
                    <div style="margin: 0 auto;">
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>
                <div class="row mb-3 ml-3 mr-3" *ngFor="let x of userPackageInfo">
                    <div class="card">
                        <div class="card-block">
                            <div class="profile-activity clearfix ">

                                <ul class="listSide">
                                    <li>
                                        <b>Number of attendee:</b> {{x.noOfAttendee}}
                                    </li>
                                    <li>
                                        <b>Package validate till:</b> {{x.validTill}}
                                    </li>
                                    <li>
                                        <b>Total minute used:</b> {{x.usedMinutes}} min
                                    </li>
                                    <li>
                                        <b>Total minute remaining:</b> {{x.totalMinutes}} min
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>




                </div>
                <div style="overflow-x: auto;" class="pt-3">
                    <table style="width: 100%;" *ngIf="userUsage && userUsage.length > 0">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Total Time Used</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let x of userUsage">
                            <tr>
                                <td>
                                    {{x.courseName}}
                                </td>
                                <td>
                                    {{x.totalTime}} Minute
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="openSetup" class="modal fade modal-open" role="dialog" *ngIf="comservice.myUserRole =='cc'">
    <div class="modal-dialog" style="max-width: 80%; top:0%;">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Set Up Your Institute</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="loading" class="loading">
                    <div>
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>
                <div class="row">
                    <hr />
                    <div class="col-md-2">
                        <a href="#cbs" data-toggle="tab">
                            <div [ngStyle]="{'background-color': cbsStepComplete  ? '#C0DCFF' : '#ffd89d' }"
                                style="width: 140px;height: 70px; margin-bottom: 2%; ">
                                <span>Add Class, Board & Subject</span></div>
                        </a>
                        <a href="#addTeacher" data-toggle="tab">
                            <div [ngStyle]="{'background-color': teacherDetails  ? '#C0DCFF' : '#ffd89d' }"
                                style="width: 140px;height: 70px; margin-bottom: 2%;" (click)="addTeacherValidation()">
                                <span>Add Teacher </span></div>
                        </a>
                        <a href="#addStudent" data-toggle="tab">
                            <div [ngStyle]="{'background-color': studentDetails  ? '#C0DCFF' : '#ffd89d' }"
                                style="width: 140px;height: 70px;margin-bottom: 2%;" (click)="addStudentValidation()">
                                <span> Add Student </span></div>
                        </a>
                        <a href="#addBasicCourse" data-toggle="tab">
                            <div style="width: 140px;height: 70px; margin-bottom: 2%;background-color: #C0DCFF;">
                                <span> Add Course</span> </div>
                        </a>
                        <a href="#freePackage" data-toggle="tab">
                            <div style="width: 140px;height: 70px; background-color: #C0DCFF">
                                <span> Claim Free 30 Hours </span></div>
                        </a>
                    </div>
                    <div class="col-md-9">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="cbs">
                                <b>Select subject(s) that you want to teach in your
                                    institute ?</b>
                                <div class="row pt-4">

                                    <div class="col-sm-4">
                                        <ng-multiselect-dropdown [placeholder]="'--Select Subject--'"
                                            [(ngModel)]="selectedSubjectsToUpdate" [data]="subjectlist"
                                            [settings]="dropdownSettingsSubject" style="color:black;">
                                        </ng-multiselect-dropdown>
                                    </div>

                                </div>
                                <div class="row pt-4" style="text-align: center;">
                                    <div class="col-sm-1">
                                        <button class="btn btn-primary" (click)="updateCcDetails()">Save</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="addTeacher">
                                <div class="row" *ngIf="teacherDetails">
                                    <div class="col-sm-12" *ngIf="teacherDetails.length > 0">
                                        <p><b>You have {{teacherDetails.length}} teacher(s) in your institute</b>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!teacherDetails">
                                    <div class="col-sm-12">
                                        <p><b>Add a teacher to be able to create courses</b>
                                        </p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <h5>Name</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="Enter teacher name" id="basicTeacherName"
                                            class="form-control" name="basicTeacherName" [(ngModel)]="teacherName"
                                            autofocus>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <h5>Phone Number</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="number" onKeyPress="if(this.value.length==10) return false;"
                                            id="basicTeacherPhoneNumber" placeholder="Enter phone number"
                                            class="form-control" name="basicTeacherPhoneNumber"
                                            [(ngModel)]="teacherPhoneNumber">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <h5>Choose Password</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" onKeyPress="if(this.value.length==15) return false;"
                                            id="basicTeacherPassword" placeholder="Enter Password" class="form-control"
                                            name="basicTeacherPassword" [(ngModel)]="teacherPassword">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary btn-pill" [disabled]="diabledButton"
                                            (click)="registerBasicTeacher(teacherName,teacherPhoneNumber,teacherPassword)">Add</button>

                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </div>
                            <div class="tab-pane" id="addStudent">
                                <div class="row" *ngIf="studentDetails">
                                    <div class="col-sm-12">
                                        <p><b>You have {{studentDetails.length}} student(s) in your institute</b>
                                        </p>

                                    </div>
                                </div>
                                <div class="row" *ngIf="!studentDetails">
                                    <div class="col-sm-12">
                                        <p><b>Add students to enroll them in your courses</b>
                                        </p>

                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <h5>Name</h5>
                                    </div>
                                    <div class="col-sm-6">

                                        <input type="text" id="basicStudentName" placeholder="Enter student name"
                                            class="form-control" name="basicStudentName" [(ngModel)]="studentName">
                                    </div>

                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <h5>Phone Number</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="number" id="basicStudentPhoneNumber"
                                            onKeyPress="if(this.value.length==10) return false;"
                                            placeholder="Enter phone number" class="form-control"
                                            name="basicStudentPhoneNumber" [(ngModel)]="studentPhoneNumber">
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>


                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <h5>Choose Password</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" id="basicStudentPassword"
                                            onKeyPress="if(this.value.length==15) return false;"
                                            placeholder="Enter Password" class="form-control"
                                            name="basicStudentPassword" [(ngModel)]="studentPassword">
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary btn-pill" [disabled]="diabledButton"
                                            (click)="registerBasicStudent(studentName, studentPhoneNumber, studentPassword )">Add</button>

                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </div>
                            <div class="tab-pane" id="addBasicCourse">
                                <div class="row" *ngIf="courseList">
                                    <div class="col-sm-12" *ngIf="courseList.length > 0">
                                        <p><b>You have created {{courseList.length}} course(s) in your institute</b>
                                        </p>
                                    </div>
                                    <div class="col-sm-12" *ngIf="courseList.length == 0">
                                        <p *ngIf="!cbsStepComplete">
                                            <b>You need to add Class-Board information to be able to create a
                                                course</b>
                                        </p>
                                        <p *ngIf="!teacherStepComplete">
                                            <b>You need to add a teacher to be able to create a course</b>
                                        </p>
                                    </div>
                                </div>
                                <form #courseForm="ngForm" id="createCourseFormForSetup"
                                    (ngSubmit)="addBasicCourse(courseForm.valid,title,classId,boardId,subjectId,startDate,endDate,frequencySelected,startTime,endTime,teacherId,scheduleLaterFlag);">
                                    <div class="row form-group">
                                        <div class="col-sm-6">
                                            <input type="text" maxlength="500" class="form-control"
                                                placeholder="Course Title" name="title" [(ngModel)]="title"
                                                #titlevalidation="ngModel" id="title"
                                                [disabled]="!teacherStepComplete || !cbsStepComplete"
                                                [ngClass]="{'is-invalid': courseForm.submitted && titlevalidation.invalid}"
                                                required>
                                        </div>
                                        <div class="col-sm-6">
                                            <select class="form-control" [(ngModel)]="classId" name="class_course"
                                                #classCourse="ngModel"
                                                [ngClass]="{'is-invalid': courseForm.submitted && classCourse.invalid}"
                                                required [disabled]="!teacherStepComplete || !cbsStepComplete">
                                                <option [ngValue]="undefined" disabled selected>-- Select Class --
                                                </option>
                                                <option *ngFor="let class of comservice.cbsObj.allClasses"
                                                    value={{class.classId}}>
                                                    {{class.className}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-6">
                                            <select class="form-control" [(ngModel)]="boardId" name="board"
                                                #boardValidation="ngModel"
                                                [ngClass]="{'is-invalid': courseForm.submitted && boardValidation.invalid}"
                                                required [disabled]="!teacherStepComplete || !cbsStepComplete">
                                                <option [ngValue]="undefined" disabled selected>--Select Board --
                                                </option>
                                                <option *ngFor="let board of comservice.cbsObj.allBoards"
                                                    value="{{board.boardId}}">
                                                    {{board.boardName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select class="form-control" [(ngModel)]="subjectId" name="subject"
                                                #subjectValidation="ngModel"
                                                [ngClass]="{'is-invalid': courseForm.submitted && subjectValidation.invalid}"
                                                required [disabled]="!teacherStepComplete || !cbsStepComplete">
                                                <option [ngValue]="undefined" disabled selected>--Select Subject --
                                                </option>
                                                <option *ngFor="let subject of comservice.cbsObj.allSubjects"
                                                    value="{{subject.subjectId}}">
                                                    {{subject.subjectName}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>


                                    <div class="row form-group">
                                        <div class="col-sm-3">
                                            <!-- <div class="k-datetimepicker">
                                                <div class="k-picker-wrap"> -->
                                            <kendo-datepicker [(ngModel)]="startDate" [disabledDates]="disabledDates"
                                                name="from" placeholder="Start Date" #fromvalidation="ngModel"
                                                [disabled]="!teacherStepComplete || !cbsStepComplete"
                                                [ngClass]="{'customerror': courseForm.submitted && fromvalidation.invalid}">
                                            </kendo-datepicker>
                                            <!-- </div>
                                    </div> -->
                                        </div>
                                        <div class="col-sm-3">
                                            <kendo-datepicker [(ngModel)]="endDate" [disabledDates]="disabledDates"
                                                name="to" placeholder="End Date" #tovalidation="ngModel"
                                                [disabled]="!teacherStepComplete || !cbsStepComplete"
                                                [ngClass]="{'is-invalid': courseForm.submitted && tovalidation.invalid}">
                                            </kendo-datepicker>
                                        </div>
                                        <div class="col-sm-6">
                                            <div
                                                [ngClass]="{'customerror' :courseForm.submitted && frequencyValidation.invalid }">
                                                <ng-multiselect-dropdown [placeholder]="'-- Select Frequency --'"
                                                    [data]="frequency" [(ngModel)]="frequencySelected" name="daysList"
                                                    #frequencyValidation="ngModel"
                                                    [disabled]="!teacherStepComplete || !cbsStepComplete"
                                                    [settings]="dropdownSettingsForFrequency" style="color:black;"
                                                    required>
                                                </ng-multiselect-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-3">
                                            <kendo-timepicker [(ngModel)]="startTime" name="start_time"
                                                placeholder="Start Time" #stValidation="ngModel"
                                                [disabled]="!teacherStepComplete || !cbsStepComplete"
                                                [ngClass]="{'is-invalid': courseForm.submitted && stValidation.invalid}">
                                            </kendo-timepicker>
                                        </div>
                                        <div class="col-sm-3">
                                            <kendo-timepicker [(ngModel)]="endTime" name="end_time"
                                                placeholder="End Time" #etValidation="ngModel"
                                                [disabled]="!teacherStepComplete || !cbsStepComplete"
                                                [ngClass]="{'is-invalid': courseForm.submitted && etValidation.invalid}">
                                            </kendo-timepicker>
                                        </div>
                                        <div class="col-sm-6">
                                            <select class="form-control" [(ngModel)]="teacherId" name="teacherName"
                                                #teacherNameValidation="ngModel"
                                                [disabled]="!teacherStepComplete || !cbsStepComplete"
                                                [ngClass]="{'is-invalid': courseForm.submitted && teacherNameValidation.invalid}"
                                                required>
                                                <option [ngValue]="undefined" disabled selected>--Select Teacher --
                                                </option>
                                                <option *ngFor="let x of teacherDetails"
                                                    value="{{x.teacherInfo.teacherId}}">
                                                    {{x.teacherInfo.teacherName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-6">
                                            <input type="checkbox" [(ngModel)]="scheduleLaterFlag"
                                                [disabled]="!teacherStepComplete || !cbsStepComplete"
                                                name="scheduleLater">&nbsp;&nbsp;Schedule classes manually
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-12" style="text-align: center">
                                            <input type="submit" id="addCourseBtn" class="btn btn-primary btn-pill"
                                                value="Create" *ngIf="teacherStepComplete && cbsStepComplete"
                                                [disabled]="diabledButton">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="freePackage">
                                <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967445/LearningPod/myAccounts/offer_oockpc.jpg"
                                    style="width: 40%; height:40%;">
                                <button class="btn btn-primary" [disabled]="diabledButton" (click)="buyPackage()"
                                    style="font-size: large;">
                                    Claim Free 30 Hours<br> Of Live Class
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>