<div class="container" style="padding-top: 30px;">
    <button (click)="printFunction()" id="print" style="float: right;">Print</button>
     <!-- <button printSectionId="demo" ngxPrint style="float: right;">Print</button> -->
</div>
<div id="demo" class="container pt-5" >

  <header>
    <h1 >
      Invoice</h1>
 
    <div contenteditable style="text-align: center;">
        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/ccDefault_jwgxz8.jpg" style="width: 100px;height:100px; float: left;">
      <span><h4>{{comservice.ccName}}</h4></span>
     
      <span>{{comservice.ccAddress1}}<br>{{comservice.ccAddress2}}</span><br>
      <span>Phone Number - {{comservice.ccPhone}}</span>
 
    </div>
    <!-- <span><img alt="" src="http://www.jonathantneal.com/examples/invoice/logo.png"><input type="file"
        accept="image/*"></span> -->
        
  </header>
  <article>
      <table class="meta" style=" float: right;
     width: 36%;">
       <tr>
         <th><span contenteditable>Invoice #</span></th>
         <td ><span contenteditable>101138</span></td>
       </tr>
       <tr>
         <th ><span contenteditable>Date</span></th>
         <td ><span contenteditable>{{date}}</span></td>
       </tr>
       <tr>
         <th ><span contenteditable>Amount Due (INR)</span></th>
         <td ><span id="prefix" contenteditable></span><span>{{comservice.pendingAmount}} INR</span></td>
       </tr>
     </table>


    <h5>Recipient</h5>
    
    <div contenteditable style="width: 400px;">
     <span><b>Student:</b> {{comservice.studentName}}</span><br>
     <span><b>Course Name:</b> {{comservice.courseTitle}}</span><br>
     <span><b>Course Cost:</b> {{comservice.courseCost}} INR&nbsp;&nbsp;<b>Discount:</b> {{comservice.discount}} INR</span>
   
    </div>


  

   
   <br> <br> 

    <table class="inventory " style="clear: both; width: 100%; ">
      <thead>
        <tr>
          <th ><span contenteditable>S.No.</span></th>
          <th ><span contenteditable>Installment</span></th>
          <th ><span contenteditable>Start Date</span></th>
          <th ><span contenteditable>End Date</span></th>
          <th ><span contenteditable>Amount Paid (INR)</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td ><span contenteditable>1.</span></td>
          <td ><span contenteditable>{{comservice.installment}}</span></td>
          <td ><span  id="fname" contenteditable>{{comservice.startDate}}</span></td>
          <td ><span contenteditable>{{comservice.endDate}}</span></td>
          <td> <span data-prefix></span><span>{{comservice.amountPaid}}</span></td>
        </tr>
      </tbody>
    </table> 
    <br><br><br>
    <div contenteditable>
        <h5> Amount paid {{comservice.amountPaid}} INR for the duration of {{comservice.startDate}} to {{comservice.endDate}}</h5>
      </div>
   
  </article>

  <br>
  <div contenteditable style="width: 200px;float: right;">
      <h5> Authorized Signatory </h5>
      <br><br>
    </div>
    
</div>

