@media print {
    #print {
        display :  none;
    }
}
th{
    border-width: 1px;
     padding: 0.5em;
     position: relative;
     text-align: left;
     background: #eee;
     border-color: #bbb;
     border-radius: 0.25em;
     border-style: solid;
}

td{
    border-width: 1px;
           padding: 0.5em;
           position: relative;
           text-align: left;
           border-color: #ddd;
           border-radius: 0.25em;
           border-style: solid;
}

h1{
    font: bold 100% sans-serif;
     letter-spacing: 0.5em; text-align: center; 
     text-transform: uppercase; background: #000; border-radius: 0.25em; color: #FFF;
      margin: 0 0 1em; padding: 0.5em 0;
}
a{
    cursor: pointer;
}
