.spacing>li {
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
}

.profile-image {
    height: 40px;
    width: 40px;
}

.navbar-nav {
    font-size: large;
}
 
.menu {
    width: 500px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 10px solid black;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu table {
    padding: 15px;
}

.my-dropdown-item {
    color: black;
    cursor: pointer;
}

.dropdown:hover>.dropdown-menu {
    display: grid;
}

.roleselection {
    background-color: green;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: larger;
    border-radius: 5px;
}

.a {
    cursor: pointer;
}

.dropdown-menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.dropdown-submenu>a:after {
    border-color: transparent transparent transparent rgb(44, 44, 44);
    border-style: solid;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
}

.mynav {
    background-color: #007bff !important;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.num {
    position: relative;
    right: 5px;
    top: -11px;
    color: #fff;
    /* background-color: red; */
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes blinker {
    50% {
        opacity: 0.7;
    }
}

hr {
    color: black;
    height: 10px;
}

.active {
    color: white;
}

.active a {
    color: white
}

.nav-background {
    background-color: #353a3f!important;
}

a:hover {
    color: #7971ea;
}

.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}

.badge-notify {
    background: red;
    position: absolute;
    top: 0px;
}

a {
    outline: none;
}

.nav-link {
    padding: 0;
}

.navbar-container ul {
    margin: 0;
    padding: 0;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

.navbar-container ul li {
    display: inline-block;
    font-size: 16px;
}

.navbar-container ul li a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: color 0.5s;
}

.navbar-container ul li .underline {
    height: 3px;
    background-color: transparent;
    width: 0%;
    transition: width 0.2s, background-color 0.5s;
    margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
    width: 100%;
    background-color: white;
}

.navbar-container ul li:hover a {}

.navbar-container ul li:active a {
    transition: none;
    color: rgba(255, 255, 255, 0.76);
}

.navbar-container ul li:active .underline {
    transition: none;
    background-color: rgba(255, 255, 255, 0.76);
}

@media (max-width: 62em) {
    .navbar-nav {
        padding-top: .425rem;
        padding-left: 0.75rem;
    }
    .navbar-nav .nav-item {
        float: none;
    }
    .navbar-brand {
        float: right;
    }
    .navbar-brand,
    .navbar-nav .nav-item {
        display: block;
    }
    .navbar-nav .nav-item+.nav-item {
        margin-left: 0;
    }
    .dropdown-menu {
        position: relative;
        float: none;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.site-navbar .container-fluid {
    /* padding-left: 5rem; */
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.a {
    display: inline;
    padding: 5px;
}

#inner1 {
    float: left;
}

#inner2 {
    float: left;
    clear: left;
}