<div class="site-navbar  nav-background   site-navbar-target" style="position: fixed;" role="banner">
    <div class="container-fluid">

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

            <div>
                <img *ngIf="!comservice.isUserLoggedIn()"
                    src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1588600394/LearningPod/home/whiteWithLp_jui9dy.png"
                    style="margin-left: 63px; height : 100px; width: 130px;">
                <img *ngIf="comservice.isUserLoggedIn() && comservice.ccPicturePath == undefined"
                    src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/ccDefault_jwgxz8.jpg"
                    style="margin-left: 63px; height : 100px; width: 100px;" class="profile-image img-circle">
                <img *ngIf="comservice.isUserLoggedIn() && comservice.ccPicturePath != undefined"
                    [src]="comservice.ccPicturePath" style="margin-left: 63px; height : 100px; width: 100px;"
                    class="profile-image img-circle">
                <a *ngIf="comservice.isUserLoggedIn()" [routerLink]="['home/profile']" (click)="closeNav()"
                    title="My Profile">
                    <div class="active" style="font-size: smaller;
                font-weight: 600;">
                        {{comservice.myUserRole == "cc" ?  "My Account" : comservice.myUserName}}

                    </div>
                    <div class="underline"></div>
                </a>
            </div>

            <a [routerLink]="['/']" (click)="closeNav()">Home</a>
            <a [routerLink]="['/features']" (click)="closeNav()">Features</a>
            <a *ngIf="comservice.isloggedin" [routerLink]="['home/courses']" (click)="closeNav()">Courses</a>
            <a *ngIf="comservice.isloggedin" [routerLink]="['home/teachers']" (click)="closeNav()">Teachers</a>
            <!-- <li ><a [routerLink]="['scheduleTest']" (click)="closeNav()" title="Explore Teachers">ScheduleTest</a>
                <div class="underline"></div>
            </li> -->


            <!-- <a *ngIf="comservice.isUserLoggedIn()" href="javascript:void(0)"> <i (click)="startTour(); closeNav()"  class="fas fa-map-marked-alt"
                style="cursor: pointer; color: rgb(226, 225, 225)" aria-hidden="true">
            </i></a> -->
            <a *ngIf="comservice.myUserRole == 'cc'" href="javascript:void(0)"><i
                    (click)="getEnrollNotifications(); closeNav()" title="Enroll Notifications" data-dismiss="modal"
                    data-toggle="modal" data-target="#openEnrollNotificationModal" class="fa fa-bell-o"
                    style="cursor: pointer; color: rgb(226, 225, 225)" aria-hidden="true">
                </i></a>
            <a *ngIf="comservice.myUserRole == 'cc'" href="javascript:void(0)"><i
                    (click)="getEnquiryNotifications(); closeNav()" title="Enquiry Notifications" data-dismiss="modal"
                    data-toggle="modal" data-target="#openEnquireNotificationModal" class="fa fa-exclamation-circle"
                    style="cursor: pointer; color: rgb(226, 225, 225)" aria-hidden="true">
                </i></a>
            <a *ngIf="comservice.isUserLoggedIn()" href="javascript:void(0)"><i (click)="logout(); closeNav()"
                    title="Log Out" class="fa fa-power-off nav-link" style="cursor: pointer; color: rgb(226, 225, 225) "
                    aria-hidden="true"></i></a>
        </div>
        <div class="d-flex align-items-center">
            <img style="margin-right: 10px; cursor: default; width: 70px; height: 45px; padding: 2px 2px 2px 2px;"
                src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1588600394/LearningPod/home/whiteWithLp_jui9dy.png"
                *ngIf="!comservice.isUserLoggedIn()" >
            <img style="margin-right: 10px; cursor: default;"
                *ngIf="comservice.isUserLoggedIn() && comservice.ccPicturePath == undefined"
                src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/ccDefault_jwgxz8.jpg"
                class="profile-image img-circle a">
            <img style="margin-right: 10px; cursor: default;"
                *ngIf="comservice.isUserLoggedIn() && comservice.ccPicturePath != undefined"
                [src]="comservice.ccPicturePath" class="profile-image img-circle a">
            <div id="wrapper">
                <!-- <a href="#" class="navbar-link" role="button"> -->
                <div id="inner1" style="color: white;"><b>{{ccName}}</b></div>
                <!-- </a> -->


            </div>

            <div class="mx-auto text-center">
                <nav id="nav1" class="site-navigation position-relative text-right" role="navigation">
                    <div class="navbar-container">
                        <ul class="nav2 site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                            <li class="nav-link" [routerLinkActive]="['active-link']"
                                [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Home</a>
                                <div class="underline"></div>
                            </li>
                            <li class="nav-link" [routerLinkActive]="['active-link']"><a
                                    [routerLink]="['/features']">Features</a>
                                <div class="underline"></div>
                            </li>
                            <!-- <li class="nav-link" [routerLinkActive]="['active-link']"><a [routerLink]="['home/invoice']">Invoice</a>
                                <div class="underline"></div>
                            </li> -->
                            <li class="nav-link" [routerLinkActive]="['active-link']"
                                *ngIf="comservice.isloggedin && comservice.showExploreCoursesAndTeacher"><a
                                    [routerLink]="['home/courses']" title="Explore Courses">Courses</a>
                                <div class="underline"></div>
                            </li>
                            <li class="nav-link" [routerLinkActive]="['active-link']"
                                *ngIf="comservice.isloggedin && comservice.showExploreCoursesAndTeacher"><a
                                    [routerLink]="['home/teachers']" title="Explore Teachers">Teachers</a>
                                <div class="underline"></div>
                            </li>
                            <!-- <li ><a [routerLink]="['help']">Help</a>
                                <div class="underline"></div>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="w-40 navbar-container">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu  js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                        <li *ngIf="comservice.isUserLoggedIn()">
                            <i (click)="startTour()" class="fas fa-map-marked-alt"
                                style="cursor: pointer; color: rgb(226, 225, 225)" aria-hidden="true">
                            </i>
                        </li> &nbsp;
                        <li data-step="9" data-intro="Here you will get notifications for student enrollment"
                            *ngIf="comservice.isUserLoggedIn() && comservice.myUserRole != 'student'">
                            <i (click)="getEnrollNotifications()" title="Enroll Notifications" data-dismiss="modal"
                                data-toggle="modal" data-target="#openEnrollNotificationModal" class="fa fa-bell-o"
                                style="cursor: pointer; color: rgb(226, 225, 225)" aria-hidden="true">
                            </i>
                        </li> &nbsp;
                        <li data-step="10" data-intro="Here you will get notifications for enquiry"
                            *ngIf="comservice.isUserLoggedIn() && comservice.myUserRole != 'student'">
                            <i (click)="getEnquiryNotifications()" title="Enquiry Notifications" data-dismiss="modal"
                                data-toggle="modal" data-target="#openEnquireNotificationModal"
                                class="fa fa-exclamation-circle" style="cursor: pointer; color: rgb(226, 225, 225)"
                                aria-hidden="true">
                            </i>
                        </li>
                        <!-- <li class="nav-link" [routerLinkActive]="['active-link']" style="padding-left: 25px;" *ngIf="comservice.isUserLoggedIn()">
                            <img [src]="comservice.myProfilePic" class="profile-image img-circle" style="border-radius: 50%;">
                            <a [routerLink]="['home/profile']" title="My Profile">
                                <div class="dropdown">
                                    {{comservice.myUserName}}
                                </div>
                                <div class="underline"></div>
                            </a>
                        </li> -->
                        <li class="nav-link" [routerLinkActive]="['active-link']" style="padding-left: 25px;"
                            *ngIf="comservice.isUserLoggedIn()">

                            <a [routerLink]="['home/profile']" title="My Profile">
                                <div class="dropdown">
                                    <span *ngIf="comservice.myUserRole == 'cc'">My Account</span>
                                    <span *ngIf="comservice.myUserRole != 'cc'">{{comservice.myUserName}}</span>
                                </div>
                                <div class="underline"></div>
                            </a>
                        </li>

                        <li *ngIf="comservice.isUserLoggedIn() ">
                            <i (click)="logout()" title="Log Out" class="fa fa-power-off nav-link"
                                style="cursor: pointer; color: rgb(226, 225, 225) " aria-hidden="true"></i>
                        </li>

                        <li class="cta" *ngIf="!comservice.isUserLoggedIn()"><a href="#"><span>Log In /
                                    Register</span></a>
                        </li>
                    </ul>
                </nav>
                <a (click)="openNav()" class="d-inline-block d-lg-none  js-menu-toggle float-right"><i
                        style="color: white;" class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- /.navbar -->

<div id="openEnrollNotificationModal" class="modal fade modal-open" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>
                <div class="row" *ngIf="notifications == 0">
                    <div class="col-md-9">
                        No enrollment notifications found
                    </div>
                </div>
                <div *ngFor="let x of notifications">
                    <div class="row">
                        <div class="col-md-9">
                            "{{x.studentInformation.studentName}}" has requested that course
                            "{{x.courseInformation.courseTitle}}" has been already paid
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger" id="rejectClicked{{x.requestId}}"
                                (click)="rejectRequest(x.requestId)">Reject</button>&nbsp;
                            <button class="btn btn-success" id="acceptClicked{{x.requestId}}"
                                (click)="acceptRequest(x.requestId)">Accept</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="openEnquireNotificationModal" class="modal fade modal-open" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>
                <div class="row" *ngIf="notifications == 0">
                    <div class="col-md-9">
                        No enquiry notifications found
                    </div>
                </div>
                <div *ngFor="let x of notifications">
                    <div class="row">
                        <div class="col-md-9">
                            "{{x.studentInformation.studentName}}" has enquired about your course
                            {{x.courseInformation.title}}
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.navbar-collapse.in', function (e) {
        if ($(e.target).is('a')) {
            $(this).collapse('hide');
        }
    });
</script>