
        <div class="container">
            <div *ngIf="loading" style="z-index: 1000;" class="loading">
                <div>
                    <img width="100px" height="50px" src="../../assets/spinner.gif">
                </div>
            </div>
            <div *ngIf="comservice.myUserRole == 'cc'">
                <div class="row">
                    <div class="title col-sm-4">
                        <h5>Overall summary</h5>
                    </div>
                </div>
                <div *ngIf="chartData.length != 0" class="row">
                    <div class="chart-mobile col-lg-7">
                            <canvas class="chart-height" baseChart [chartType]="chartType || initialState" [labels]="chartLabels" [datasets]="chartData" [options]="chartOptions" [colors]="chartColors" [legend]="true" (chartClick)="onChartClick($event)">
          </canvas>
                    </div>
                    <div *ngIf="coursePaymentInfo" class="col-lg-5">
                        <ul style="padding-top: 45px; list-style-type: square;" class="list-group">
                            <li style="padding: 9px;" class="list-group-item list-group-item-light"><b>Total Courses Cost Amount : {{coursePaymentInfo.totalCoursesCostAmount}}</b></li>
                            <li style="padding: 9px;" class="list-group-item list-group-item-light"><b>Total Course Count : {{coursePaymentInfo.totalCourseCount}}</b></li>
                            <li style="padding: 9px;" class="list-group-item list-group-item-light"><b>Total Discount Amount : {{coursePaymentInfo.totalCoursesCostAmount - coursePaymentInfo.totalCoursesPayableAmount}}</b></li>
                            <li style="padding: 9px;" class="list-group-item list-group-item-light"> <b>Total Courses Payable Amount : {{coursePaymentInfo.totalCoursesPayableAmount}}</b></li>
                            <li style="padding: 9px;" class="list-group-item list-group-item-light"><b>Total Courses Paid Amount : {{coursePaymentInfo.totalCoursesPaidAmount}}</b></li>


                        </ul>

                    </div>
                </div>
            </div>

            <div *ngIf="comservice.myUserRole == 'student'">
                <div class="row">
                    <div class="title col-lg-4">
                        <h5>Overall summary for student</h5>
                    </div>
                    

                </div>
                <div *ngIf="chartData.length != 0" class="row">
                    <div class="chart-mobile col-lg-7">
                            <canvas class="chart-height" baseChart [chartType]="chartType || initialState" [labels]="chartLabels" [datasets]="chartData" [options]="chartOptions" [colors]="chartColors" [legend]="true" (chartClick)="onChartClick($event)">
          </canvas>
                    </div>
                    <div *ngIf="studentPaymentDetails" class="col-lg-5">
                        <ul style="padding-top: 45px; list-style-type: square;" class="list-group">
                            <li style="padding: 9px;" class="list-group-item list-group-item-light"><b>Total Courses Cost Amount : {{studentPaymentDetails.totalCourseCost}}</b></li>
                            <li style="padding: 9px;" class="list-group-item list-group-item-light"><b>Total Course Count : {{studentPaymentDetails.totalCourseCount}}</b></li>
                            <li style="padding: 9px;" class="list-group-item list-group-item-light"><b>Total Discount Amount : {{studentPaymentDetails.totalCourseCost - studentPaymentDetails.totalPayableAmount}}</b></li>
                            <li style="padding: 9px;" class="list-group-item list-group-item-light"> <b>Total Courses Payable Amount : {{studentPaymentDetails.totalPayableAmount}}</b></li>
                            <li style="padding: 9px;" class="list-group-item list-group-item-light"><b>Total Courses Paid Amount : {{studentPaymentDetails.totalPaidAmount}}</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    <div *ngIf="coursePaymentInfo " class="container">
        <div class="row mb-3">
            <div class="title col-lg-4">
                <h5>Course wise payment details</h5>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div *ngIf="comservice.myUserRole == 'cc'" class="row">
            <div *ngFor="let one of coursePaymentInfo.feeDetails" class="col-12 col-sm-8 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{one.courseTitle}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Cost : <span class="price text-success">INR {{one.courseCost}}</span></h6>
                        Total students enrolled : {{one.totalStudentCount}}
                        <br>
                        <br>
                        <button id="openCardbtn" (click)="getPaymentDetailsByCourseId(one.courseId)" style="border-radius: 20px" data-dismiss="modal" data-toggle="modal" data-target="#openPaymentDetails" class="btn-sm btn-primary"> View Details</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="comservice.myUserRole == 'student' && studentPaymentDetails" class="row">
            <div *ngFor="let one of studentPaymentDetails.studentCourse" class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{one.courseTitle}} for class {{one.className}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Fees Status <span class="price text-success">{{one.feeStatus}}</span></h6>

                        Subject name {{one.subjectName || "NA"}}
                        <br> Paid amount {{one.paidAmount || "NA"}}
                        <br> Frequency {{one.frequency || "NA"}}
                        <br>
                        <br>
                        <button id="openCardbtn" style="border-radius: 20px" data-dismiss="modal" data-toggle="modal" data-target="#openStudentPaymentDetails" (click)="getCourseWiseTransaction(one.courseId)" class="btn-sm btn-primary"> View Details</button>
                        <!-- <div class="buy d-flex justify-content-between align-items-center">
             
               <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> View Details</a>
            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


<div id="openPaymentDetails" class="modal fade modal-open" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Course payment details</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <div *ngIf="loading" class="loading">
                        <div>
                            <img width="100px" height="50px" src="../../assets/spinner.gif">
                        </div>
                    </div>

                    <div *ngIf="coursePaymentInfoByCourseId">
                        <div class="row">
                        <ul class="listSide">
                            <li class="list-group-item list-group-item-light"><b>Total Course Cost : {{coursePaymentInfoByCourseId.totalCourseCostAmount}}</b></li>
                            <li class="list-group-item list-group-item-light"><b>Total Student Count : {{coursePaymentInfoByCourseId.totalStudentCount}}</b></li>
                            <li class="list-group-item list-group-item-light"><b>Total Course Payable Amount : {{coursePaymentInfoByCourseId.totalCoursePayableAmount}}</b></li>
                            <li class="list-group-item list-group-item-light"><b>Total Course Paid Amount : {{coursePaymentInfoByCourseId.totalCoursePaidAmount}}</b></li>
                            <li class="list-group-item list-group-item-light"><b>Total Discount Amount : {{coursePaymentInfoByCourseId.totalCourseCostAmount - coursePaymentInfoByCourseId.totalCoursePayableAmount}}</b></li>
                           
                        </ul>
                     </div>
                    </div>

                        <div *ngIf="coursePaymentInfoByCourseId" class="mt-3">
                            <h6>Student payment details</h6>
                                    <div *ngFor="let x of coursePaymentInfoByCourseId.studentFeeDetails" class="row mb-3 ml-3 mr-3">
                                        <div class="card">
                                            <div class="card-block">
                                                <div class="profile-activity clearfix ">
                                                    <div>
                                                        <img class="pull-left" alt="Alex Doe's avatar" src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1576570138/user_uiipks.png">
                                                        <b style="font-weight: bold; color: #7971ea;" class="user"> {{x.studentName}} </b>
                                                        <!-- <a class="user" (click)="getAffiliatedTeacher(x.teacherInfo.teacherId);" (click)="updateTeacher()" data-target="#updateTeacher" >{{x.teacherInfo.teacherName}}</a> -->
                                                        <br>
                                                      
                                                        <ul class="listSide">
                                                            <li>
                                                                Course Fee : {{x.courseFee}}
                                                            </li>
                                                            <li>
                                                                Fee Status : {{x.feeStatus}}
                                                            </li>
                                                            <li>
                                                                Frequency : {{x.frequency}}
                                                            </li>
                                                            <li>
                                                                Total Payable : {{x.totalPayable}}
                                                            </li>
                                                            <li>
                                                                Total Paid : {{x.totalPaid}}
                                                            </li>

                                                            <li>
                                                                Total Discount : {{x.courseFee - x.totalPayable}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-pill" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="openStudentPaymentDetails" class="modal fade modal-open" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Student payment details</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="studentPaymentDetails" class="py-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sr. no</th>
                                    <th>Payment Date</th>
                                    <th>Paid amount</th>

                                </tr>
                            </thead>
                            <tbody>


                                <tr *ngFor="let x of courseWiseTransaction;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{x.paymentDate}}</td>
                                    <td>{{x.paidAmount}}</td>
                                </tr>
                            </tbody>
                        </table>
                

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-pill" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>