<div *ngIf="loading" style="z-index: 1000;" class="loading">
    <div>
        <img width="100px" height="50px" src="../../assets/spinner.gif">
    </div>
</div>

<div *ngIf="!currentCourseId" class="course-view">
    <div class="row">
        <div class="col-sm-2">

            <input type="text" id="searchCourse" class="form-control" (keyup)="searchCourseByName()"
                placeholder="Search for course" title="Type in a name">

        </div>
        <div class="col-sm-8">

        </div>
        <div class="col-sm-2">
            <button *ngIf="comservice.allowCreateCourse && comservice.myUserRole != 'student'"
                class="btn btn-primary btn-pill" data-toggle="modal" (click)="createCourseClicked()" data-target="#addCourse">Create
                Course</button>
        </div>
    </div>


    <div class="container-fluid mt-0">
        <!-- error message start -->
        <div *ngIf="allCourses && allCourses.length == 0" style="text-align: center; padding-top: 2%;">
            <img width="500px" height="300px"
                src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/noRecordings_j5qvnw.png">
            <h3 style="color: grey;">
                No Courses Found
            </h3>
        </div>

        <div *ngIf="showNoResults" style="text-align: center; padding-top: 2%;">
            <img width="500px" height="300px"
                src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/noRecordings_j5qvnw.png">
            <h3 style="color: grey;">
                No Courses Found
            </h3>
        </div>

        <!-- error message end -->

        <div>


            <!-- Course body start -->
            <div class="container container-left-margin">

                <!-- no result found error -->
                <div *ngIf="isFilteredDataAvailable != undefined">
                    <div *ngIf="!isFilteredDataAvailable" style="text-align: center; padding-top: 2%;">
                        <img width="500px" height="300px"
                            src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/noRecordings_j5qvnw.png">
                        <h3 style="color: grey;">
                            No result found!
                        </h3>
                    </div>
                </div>



                <div class="row">

                    <div *ngIf="allCourses && allCourses.length != 0 && !showNoResults"
                        class="container container-left-margin col-lg-3 pt-4">
                        <div class="container">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 type="button" class="panel-title" id="collapseCourse" data-toggle="collapse"
                                        href="#filterCollapse">Filter &nbsp;<i class="fa fa-caret-down"
                                            style="font-size:20px; "></i></h4>
                                </div>
                                <div class="panel-body">
                                    <form role="form">

                                        <!-- CHECKBOXES -->
                                        <div class="form-group">
                                            <div id="filterCollapse" class="collapse show">
                                                <div style="overflow: auto;height: 330px;">

                                                    <div *ngIf="comservice.myUserRole != 'student'">
                                                        <label><b>Classes</b></label>

                                                        <!-- Basic Checkbox -->
                                                        <div 
                                                            *ngFor="let c of classListForFilter; let a = index;"
                                                            >

                                                            <label>
                                                                <input class="class_checkbox" [value]="c.className"
                                                                    id="className{{a}}" type="checkbox">
                                                                {{c.className}}
                                                            </label>

                                                        </div>
                                                        <div *ngIf="classListForFilter.length == 0">
                                                            <p>No classes available</p>
                                                        </div>
                                                    </div>
                                                    <label><b>Subjects</b></label>
                                                    <div>

                                                        <div 
                                                            *ngFor="let s of subjectListForFilter; let b = index;"
                                                        >

                                                            <label>
                                                                <input class="subject_checkbox" [value]="s.subjectName"
                                                                    id="subjectName{{b}}" type="checkbox">
                                                                {{s.subjectName}}
                                                            </label>

                                                        </div>
                                                    </div>
                                                    <div *ngIf="subjectListForFilter.length == 0">
                                                        <p>No subjects available</p>
                                                    </div>

                                                    <div *ngIf="comservice.myUserRole != 'teacher'">
                                                        <label><b>Teachers</b></label>
                                                        <div *ngFor="let t of teacherListForFilter; let c =index;"
                                                            >

                                                            <label>
                                                                <input class="teacher_checkbox" [value]="t.teacherName"
                                                                    id="teacherName{{c}}" type="checkbox">
                                                                {{t.teacherName}}
                                                            </label>

                                                        </div>
                                                    </div>
                                                    <div *ngIf="teacherListForFilter.length == 0">
                                                        <p>No teachers available</p>
                                                    </div>

                                                    <div *ngIf="comservice.myUserRole != 'student'">
                                                        <label><b>Boards</b></label>

                                                        <div style="height: 30px;"
                                                            *ngFor="let b of boardListForFilter; let d= index;"
                                                            class="checkbox">

                                                            <label>
                                                                <input class="board_checkbox" [value]="b.boardName"
                                                                    id="boardName{{d}}" type="checkbox">
                                                                {{b.boardName}}
                                                            </label>

                                                        </div>

                                                    </div>
                                                    <div *ngIf="boardListForFilter.length == 0">
                                                        <p>No boards available</p>
                                                    </div>
                                                </div>

                                                <button class="btn-sm btn-primary btn-pill mr-2"
                                                    style="border-radius: 50px;" (click)="getFilteredData()">
                                                    Filter</button>
                                                <button class="btn-sm btn-primary btn-pill" style="border-radius: 50px;"
                                                    (click)="clearFilteredData()">Clear Filter</button>
                                                <button id="showError" style="visibility: hidden;"
                                                    (click)="isFilterErrorShow()"></button>
                                                <button id="hideError" style="visibility: hidden;"
                                                    (click)="isFilterErrorHide()"></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container container-left-margin col-lg-9">

                        <!-- no result found error -->
                        <div *ngIf="isFilteredDataAvailable != undefined">
                            <div *ngIf="!isFilteredDataAvailable" style="text-align: center; padding-top: 2%;">
                                <img width="500px" height="300px"
                                    src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/noRecordings_j5qvnw.png">
                                <h3 style="color: grey;">
                                    No result found!
                                </h3>
                            </div>
                        </div>



                        <div class="row">
                            <div *ngFor="let x of filteredCourseData || allCourses" class="card" style="width: 16rem;"
                                [ngStyle]="{'background-color': x.toBeScheduled == 'true' ? '#FFFFF0' : '#F4F9FF' }">
                                <div class="card-body">
                                    <h5 class="card-title link">
                                        <a (click)="opentabDetails(x) ; enrolledStudentsForPayment(x)" id="viewDetails"
                                            style="border-radius: 20px">{{x.title}}</a>
                                    </h5>
                                    <ngx-stars [readonly]="true" hidden [initialStars]="x.cumulativeRating"
                                        [color]="'#e5570b'" [size]="1">
                                    </ngx-stars>
                                    <!-- <h5>Class : {{x.classInfo.className}}</h5> -->
                                    <div class="text-muted cat">
                                        <p style="display: inline;" *ngIf="x.classInfo">
                                            {{x.classInfo.className == null ?  "" : "class " + x.classInfo.className + ","}}</p>
                                        <p style="display: inline;" *ngIf="x.subjectInfo"> {{x.subjectInfo.subjectName}}
                                        </p>
                                        <p style="display: inline;" *ngIf="x.boardInfo"> 
                                            {{x.boardInfo.boardName == null ? "" : (x.boardInfo.boardName)}}
                                        </p>
                                    </div>
                                    <small class="text-muted cat" *ngIf="x.startDate || x.endDate">
                                        <div style="display: inline;" class="mr-3">
                                            <i *ngIf="x.startDate" class="far fa-calendar text-info"></i>
                                            {{x.startDate}}</div>
                                        <div style="display: inline;">
                                            <i *ngIf="x.startDate" class="fas fa-calendar text-info"></i> {{x.endDate}}
                                        </div>
                                    </small>
                                    <small class="text-muted" *ngIf="x.startTime || x.endTime">
                                        <div style="display: inline;" class="mr-3">
                                            <i class="far fa-clock text-info"></i> {{x.startTime}}</div>
                                        <div style="display: inline;">
                                            <i class="fas fa-clock text-info"></i> {{x.endTime}}</div>
                                    </small>
                                    <span *ngIf="x.frequency != null" class="text-muted">
                                        <i class="far fa-calendar text-info" style="color : purple !important"></i>
                                        {{comservice.formatFrequencyForExplore(x.frequency)}}
                                    </span><br>

                                    <span *ngIf="x.toBeScheduled == 'true'" class="text-muted">
                                        <i class="fa fa-exclamation-circle" style="color : red"></i>&nbsp;Schedule
                                        classes manually
                                    </span>
                                    <span
                                        *ngIf="x.description && x.description.length < 70">{{x.description}}</span><br>
                                    <div *ngIf="x.description && x.description.length > 70">
                                        {{x.description.substring(0, 70)}}...</div><br>
                                    <h6 *ngIf="x.cost && comservice.myUserRole != 'teacher'">
                                        <i class="fa fa-inr text-info"></i> {{x.cost}} INR per month</h6>
                                    <button id="openCardbtn"
                                        (click)="opentabDetails(x) ; enrolledStudentsForPayment(x);"
                                        style="border-radius: 20px" class="btn-sm btn-primary">
                                        View Details</button>
                                    <button class="btn-sm btn-primary"
                                        *ngIf="comservice.myUserRole == 'student' && comservice.allowRating"
                                        style="border-radius: 20px" (click)="openReviewDetails(x)" data-dismiss="modal"
                                        data-toggle="modal" data-target="#openReviewDetails" class="btn-sm btn-primary">
                                        Give Rating</button>
                                    <div *ngIf="comservice.myUserRole == 'cc' ">
                                        <button style="position: absolute; bottom: 50px;right: 10px;"
                                            [disabled]="loading">
                                            <i class="fas fa-trash-alt" (click)="deleteCourse(x.courseId)">
                                            </i></button>
                                    </div>
                                </div>
                                <div *ngIf="comservice.myUserRole != 'teacher' && x.teacherInfo" class="card-footer">By
                                    : {{x.teacherInfo.teacherName}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- course body end -->
        </div>


    </div>

</div>

<!-- add Course modal start -->
<div id="addCourse" class="modal fade modal-open" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <b>Enter Course Details</b>
                <button type="button" id="closeCreateCourse" (click)="resetForm()" class="close"
                    data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="loading" style="z-index: 1000;" class="loading">
                    <div>
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>
                <form #courseForm="ngForm" id="createCourseForm" (ngSubmit)="addcourse(courseForm.valid);">
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <input type="text" maxlength="500" class="form-control" placeholder="Course Title"
                                name="title" [(ngModel)]="courseToAdd.title" #titlevalidation="ngModel" id="title"
                                [ngClass]="{'is-invalid': courseForm.submitted && titlevalidation.invalid}" required>
                            <small *ngIf="courseForm.submitted && titlevalidation.invalid" id="emailHelp"
                                class="form-text text-muted">*Please enter title</small>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" [(ngModel)]="courseToAdd.classId" name="class_course">
                                <option [ngValue]="undefined" disabled selected>-- Select Class --</option>
                                <option *ngFor="let class of comservice.cbsObj.allClasses" value={{class.classId}}>
                                    {{class.className}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <select class="form-control" [(ngModel)]="courseToAdd.boardId" name="board">
                                <option [ngValue]="undefined" disabled selected>--Select Board --</option>
                                <option *ngFor="let board of comservice.cbsObj.allBoards" value="{{board.boardId}}">
                                    {{board.boardName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" [(ngModel)]="courseToAdd.subjectId" (change)="showcolorcode();"
                                name="subject" #subjectValidation="ngModel"
                                [ngClass]="{'is-invalid': courseForm.submitted && subjectValidation.invalid}" required>
                                <option [ngValue]="undefined" disabled selected>--Select Subject --</option>
                                <option *ngFor="let subject of comservice.cbsObj.allSubjects"
                                    value="{{subject.subjectId}}">
                                    {{subject.subjectName}}
                                </option>
                            </select>
                            <small *ngIf="subNotAddedError" id="emailHelp"
                                class="form-text text-muted">*Add atleast one subject from "My Profile" to be able to create a course</small>

                            <small *ngIf="courseForm.submitted && subjectValidation.invalid" id="emailHelp"
                                class="form-text text-muted">*Please select subject</small>
                        </div>

                    </div>
                    <div class="row form-group" [hidden]="!showcolor">
                        <div class="col-sm-12">
                            <div class="square" id="square"></div> &nbsp;&nbsp;This color code will be used to display
                            courses related to the selected subject.
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-3">
                            <div class="k-datetimepicker">
                                <div class="k-picker-wrap" id="createCourseStartDate">
                                    <kendo-datepicker [(ngModel)]="courseToAdd.startDate"
                                        (select)="removeDateValidation()" [disabledDates]="disabledDates" name="from"
                                        placeholder="Start Date">
                                    </kendo-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="k-datetimepicker">
                                <div class="k-picker-wrap" id="createCourseEndDate">
                                    <kendo-datepicker [(ngModel)]="courseToAdd.endDate"
                                        (select)="removeDateValidation()" [disabledDates]="disabledDates" name="to"
                                        placeholder="End Date">
                                    </kendo-datepicker>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div [ngClass]="{'customerror' :courseForm.submitted && frequencyValidation.invalid }">
                                <ng-multiselect-dropdown [placeholder]="'-- Select Frequency --'" [data]="frequency"
                                    [(ngModel)]="courseToAdd.frequencySelected" name="daysList"
                                    #frequencyValidation="ngModel" [settings]="dropdownSettingsForFrequency"
                                    style="color:black;" required>
                                </ng-multiselect-dropdown>
                            </div>
                            <small *ngIf="courseForm.submitted && frequencyValidation.invalid" id="emailHelp"
                                class="form-text text-muted">*Please select frequency</small>
                        </div>

                        <small *ngIf="enterValidDate" class="form-text text-muted pl-2">*Please enter a valid date and
                            time</small>
                        <small *ngIf="endDateLessThenStartDateError" class="form-text text-muted pl-2">*End date should
                            be greater then start date</small>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <div class="k-datetimepicker">
                                <div class="k-picker-wrap" id="createCourseStartTime">
                                    <kendo-timepicker [(ngModel)]="courseToAdd.startTime"
                                        (change)="removeTimeValidation()" name="start_time" placeholder="Start Time">
                                    </kendo-timepicker>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="k-datetimepicker">
                                <div class="k-picker-wrap" id="createCourseEndTime">
                                    <kendo-timepicker [(ngModel)]="courseToAdd.endTime"
                                        (change)="removeTimeValidation()" name="end_time" placeholder="End Time">
                                    </kendo-timepicker>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6" *ngIf="comservice.myUserRole == 'cc'">
                            <select class="form-control" [(ngModel)]="courseToAdd.teacherId" name="teacherName"
                                #teacherNameValidation="ngModel"
                                [ngClass]="{'is-invalid': courseForm.submitted && teacherNameValidation.invalid}"
                                required>
                                <option [ngValue]="undefined" disabled selected>--Select Teacher --</option>
                                <option *ngFor="let x of teacherDetails" value="{{x.teacherInfo.teacherId}}">
                                    {{x.teacherInfo.teacherName}}</option>
                            </select>
                            <small *ngIf="courseForm.submitted && teacherNameValidation.invalid" id="emailHelp"
                                class="form-text text-muted">*Please select teacher</small>
                                <small *ngIf="teacherNotAdded" id="emailHelp"
                                class="form-text text-muted">*Add atleast 1 teacher from "My Teachers" to be able to create a
                                course</small>
                    
                        </div>
                        <small *ngIf="endTimeLessThenStartTimeError" class="form-text text-muted pl-2">*End time should
                            be greater then start time</small>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="2" id="description"
                                [(ngModel)]="courseToAdd.description" placeholder="Enter Course Description"
                                name="description"></textarea>
                        </div>
                        <div class="col-sm-5">
                            <input type="number" min="0" onKeyPress="if(this.value.length==6) return false;"
                                class="form-control" placeholder="Cost" [(ngModel)]="courseToAdd.cost" name="cost">
                        </div>INR


                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <input type="number" min="0" onKeyPress="if(this.value.length==6) return false;"
                                class="form-control" placeholder="Students Per Session"
                                [(ngModel)]="courseToAdd.maxStudent" name="maxStudent">
                        </div>
                        <div class="col-sm-6">
                            <input type="checkbox" [(ngModel)]="courseToAdd.scheduleLaterFlag"
                                name="scheduleLater">&nbsp;&nbsp;Schedule classes manually
                        </div>
                    </div>
                   <div class="row form-group">
                        <div class="col-sm-12" style="text-align: center">
                            <input type="submit" id="addCourseBtn" class="btn btn-primary btn-pill" value="Create"
                                [disabled]="disabledButton">
                            <button (click)="opentabDetails(courseId);" id="hiddenButtonAfterCourseAdd"
                                data-toggle="modal" data-target="#courseDetailsModal" hidden></button>
                            <input type="button" class="btn btn-primary btn-pill" (click)="clearCreateCourse()"
                                value="Clear">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="course-details-view" *ngIf="currentCourseId" class="course-details-view pb-4">

    <button class="btn btn-primary" (click)="backToMyCourses(); clearCourseDetailsModal();">Back to my courses</button>
    <div id="courseDetails" class="course-details">
        <div class="container">

            <div class="row" *ngIf="comservice.myUserRole == 'cc'">
                <div class="col-lg-5">
                    <h3>Course details</h3>
                </div>
                <div class="col-lg-5">
                    <p *ngIf="courseDetails.toBeScheduled == 'true' " class="text-muted">
                        <i class="far fa-calendar text-info" style="color : red !important"></i> The classes of this
                        course are to be scheduled manually
                    </p>
                    <div *ngIf="disableStartDate">
                        <b class="warning">*Past course cannot be updated</b>
                    </div>

                </div>
                <div class="col-lg-2" *ngIf="!isDisabled">
                    <div class="form-group">
                        <button class="btn btn-primary btn-pill"
                            (click)="Updatecoursedetails(course.courseId)">Update</button>
                    </div>
                </div>

                <div class="col-lg-2" *ngIf="!disableStartDate">
                    <div class="form-group">
                        <button class="btn btn-primary btn-pill" [hidden]="!isDisabled"
                            (click)="enableCourseDetailsEdit()">Edit</button>
                    </div>
                </div>
            </div>
            <div id="updateDetailsForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="fname">Course Title*</label>
                            <input [(ngModel)]="course.title" id="fname" [disabled]="isDisabled" class="form-control"
                                type="text">
                            <small *ngIf="updateCourseTitleError" class="form-text text-muted">*Please enter course
                                title</small>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="fname">Course Description</label>
                            <textarea [(ngModel)]="course.description" [disabled]="isDisabled"
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                
                    <div *ngIf="comservice.myUserRole != 'teacher'" class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label for="fname">Teacher Name*</label><br>
                            <span *ngIf="isDisabled">{{course.teacherName}}</span>
                            <select class="form-control" [(ngModel)]="course.teacherId" *ngIf="!isDisabled"
                                name="teacherName" required>
                                <option [ngValue]="undefined" disabled selected>--Select Teacher --
                                </option>
                                <option *ngFor="let x of teacherDetails" value="{{x.teacherInfo.teacherId}}">
                                    {{x.teacherInfo.teacherName}}</option>
                            </select>
                            <small *ngIf="updateCourseTeacherError" class="form-text text-muted">*Please select
                                teacher</small>
                        </div>
                    </div>

                    <div class="col-xs-12  col-sm-8 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label for="lname">Class* </label><br>
                            <span *ngIf="isDisabled">{{course.className}}</span>
                            <select *ngIf="!isDisabled" class="form-control" [(ngModel)]="course.classId" name="class">
                                <option [ngValue]="undefined" disabled selected>-- Select Class --
                                </option>
                                <option *ngFor="let class of comservice.cbsObj.allClasses" value={{class.classId}}>
                                    {{class.className}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label for="fname">Board*</label><br>
                            <span *ngIf="isDisabled">{{course.boardName}}</span>
                            <select class="form-control" [(ngModel)]="course.boardId" name="class"
                            *ngIf="!isDisabled" #boardCourse="ngModel">
                                <option [ngValue]="undefined" disabled selected>-- Select Board --
                                </option>
                                <option *ngFor="let board of comservice.cbsObj.allBoards" value={{board.boardId}}>
                                    {{board.boardName}}</option>
                            </select>
                            
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-8 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label for="lname">Subject*</label><br>
                                <span *ngIf="isDisabled">{{course.subjectName}}</span>
                                <select class="form-control" [(ngModel)]="course.subjectId" name="subject"
                                *ngIf="!isDisabled" #subjectValidation="ngModel"
                                    >
                                    <option [ngValue]="undefined" disabled selected>--Select Subject --
                                    </option>
                                    <option *ngFor="let subject of comservice.cbsObj.allSubjects"
                                        value="{{subject.subjectId}}">
                                        {{subject.subjectName}}</option>
                                </select>
                      
                            </div>
                        </div>
                </div>

      

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="fname">Duration</label>
                            <div>
                                <div class="k-datetimepicker">
                                    <div class="k-picker-wrap" id="courseUpdateStartDate">
                                        <kendo-datepicker [(ngModel)]="course.startDate" [disabled]="isDisabled"
                                            [disabledDates]="disabledDates" name="from"
                                            (change)="removeDateValidation()" placeholder="{{course.startDate}}"
                                            [disabled]="editParticularFields">
                                        </kendo-datepicker>
                                    </div>
                                </div>

                            </div>
                            To
                            <div>
                                <div class="k-datetimepicker">
                                    <div class="k-picker-wrap" id="courseUpdateEndDate">
                                        <kendo-datepicker [(ngModel)]="course.endDate" [disabled]="isDisabled"
                                            [disabledDates]="disabledDates" name="from"
                                            (change)="removeDateValidation()" placeholder="{{course.endDate}}"
                                            [disabled]="editParticularFields">
                                        </kendo-datepicker>
                                    </div>
                                </div>

                            </div>
                            <small *ngIf="endDateLessThenStartDateError" class="form-text text-muted">*End date should
                                be greater then start date</small>
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-8 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="lname">Timimg</label>
                            <div>
                                <div class="k-datetimepicker">
                                    <div class="k-picker-wrap" id="courseUpdateStartTime">
                                        <kendo-timepicker [(ngModel)]="course.startTimeToUpdate"
                                            placeholder="{{course.startTimeToUpdate}}" (change)="removeTimeValidation()"
                                            [disabled]="isDisabled">
                                        </kendo-timepicker>
                                    </div>
                                </div>
                            </div>
                            To
                            <div>
                                <div class="k-datetimepicker">
                                    <div class="k-picker-wrap" id="courseUpdateEndTime">
                                        <kendo-timepicker [(ngModel)]="course.endTimeToUpdate"
                                            placeholder="{{course.endTimeToUpdate}}" (change)="removeTimeValidation()"
                                            [disabled]="isDisabled">
                                        </kendo-timepicker>
                                    </div>
                                </div>
                            </div>
                            <small *ngIf="endTimeLessThenStartTimeError" class="form-text text-muted">*End time should
                                be greater then start time</small>
                            <small *ngIf="enterValidDate" class="form-text text-muted">*Enter a valid date and
                                time</small>
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-8 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="lname">Frequency*</label>
                            <ng-multiselect-dropdown [placeholder]="'--Select Frequency--'" [data]="frequency"
                                [(ngModel)]="courseFrequencyArr" name="frequencyList"
                                [settings]="dropdownSettingsForFrequency" (onSelectAll)="onSelectAll($event)"
                                style="color:black;" [disabled]="isDisabled">
                            </ng-multiselect-dropdown>
                            <small *ngIf="updateCourseFrequencyError" class="form-text text-muted">*Please select
                                frequency</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="fname">Course Cost</label>
                            <input [(ngModel)]="course.cost" id="fname" class="form-control" type="text"
                                [disabled]="isDisabled">
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-8 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="lname">Max Students</label>
                            <input [(ngModel)]="course.maxStudent" id="lname" class="form-control" type="number"
                                [disabled]="isDisabled">
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>


    <div *ngIf="comservice.myUserRole == 'cc' || comservice.myUserRole == 'teacher' && preferenceData.allowUploadNotes == true"
        class="upload-notes">
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>Upload notes</h3>
                </div>
                <div class="col-lg-5">
                    <img *ngIf="isCourseNotesLoading" width="100px" height="50px" src="../../assets/spinner.gif">
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input id="notesTitle" [(ngModel)]="notesTitle" placeholder="Enter notes title to be upload"
                            class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <button (click)="checkTitle()" [disabled]="isUploadNotesPending"
                            class="btn btn-primary">Upload</button>
                    </div>
                    <input type="file" hidden style="display: inline;" id="myNotes"
                        (change)="uploadNotes($event,course.courseId)">

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table tabl-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Upload Date</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of courseNotes">
                                <td>
                                    {{x.courseNotesTitle}}
                                </td>
                                <td>
                                    {{x.courseNotesDate}}
                                </td>
                                <td>
                                    <button>
                                        <a [href]=x.courseNotesUrl download>
                                            <i class="fa fa-arrow-down">
                                            </i>
                                        </a>
                                    </button>
                                    <button *ngIf="comservice.myUserRole == 'cc'"
                                        (click)="deleteNotes(x.courseNotesId, courseDetails.courseId)">
                                        <i class="fas fa-trash-alt">
                                        </i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="comservice.myUserRole == 'cc'"
        class="enroll-students">
        <hr>

        <div class="container">

            <div class="row">
                <div class="col-md-5">
                    <h3>Enroll Students</h3>
                </div>
                <div class="col-lg-5">
                    <img *ngIf="isStudentEnrollLoading" width="100px" height="50px" src="../../assets/spinner.gif">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="content1">
                        <div class="search">

                            <input id="unenrolledInput" [(ngModel)]="unenrolledInput" (keyup)="searchUnenrolled()"
                                placeholder="Search" name="search">

                        </div>
                        <ul id="unenrolledUL" style="border: solid 1px black;
                padding: 0; overflow-y: scroll; height: 390px;">

                            <li id="unenrolledInputLi" *ngFor="let one of unEnrolledStudent">
                                <div class="option1">
                                    <input type="checkbox" (click)="enableEnroll()" name="optionUnenrolled"
                                        [id]="one.studentId" [value]="one.studentId">
                                    <label [for]="one.studentId">{{one.studentName}}</label>
                                </div>
                            </li>
                            <li *ngIf="teacherStudentCount.studentCount > 20 && showLoadMore">
                                <div class="option1">
                                    <label><a style="color: #7971ea;" (click)="loadMoreStudents()">Load
                                            more...</a></label>
                                </div>
                            </li>

                        </ul>
                        <div>
                            <button (click)="enrollStudent()" [disabled]="isEnrollPending"
                                class="btn btn-primary">Enroll</button>
                            <b class="warning">{{enrollErrorMessage}}</b>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content1">
                        <div class="search">
                            <input id="enrolledInput" [(ngModel)]="enrolledInput" (keyup)="searchEnrolled()"
                                placeholder="Search">

                        </div>
                        <ul id="enrolledUL" style="border: solid 1px black;
                padding: 0; overflow-y: scroll; height: 390px;">

                            <li *ngFor="let one of enrolledStudent">
                                <div class="option1">
                                    <input type="checkbox" name="optionEnrolled" [id]="one.studentId"
                                        [value]="one.studentId">
                                    <label [for]="one.studentId">{{one.studentName}}</label>
                                </div>
                            </li>

                        </ul>
                        <div>
                            <button (click)="unEnrollStudent()" [disabled]="isUnenrollPending"
                                class="btn btn-primary">Unenroll</button> <b
                                class="warning">{{unEnrollErrorMessage}}</b>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>



    <div *ngIf="comservice.myUserRole != 'student'  && preferenceData.allowPaymentModification == true"
        class="payment-details">
        <hr>
        <div class="container">

            <div class="row">
                <div class="col-md-5">
                    <h3>Payment Details</h3>
                </div>
                <div class="col-lg-5">
                    <img *ngIf="isCoursePaymentDetailsLoading" width="100px" height="50px"
                        src="../../assets/spinner.gif">
                </div>
            </div>
            <div class="tags" *ngFor="let one of enrolledStudent">
                <div class="">
                    <div class="row" (click)="passCourseDetailsEnrolled(one)" data-toggle="collapse"
                        [attr.data-target]="'#div' + one.studentId">
                        <div class="col-md-12 pt-3 pb-3">
                            <div style="margin:0;" class="card">
                                <div class="card-block">
                                    <h1 style="margin: 0;" class="card-text good-review-score float-left"> <img
                                            class="pull-left" alt="Alex Doe's avatar" style="width: 50px; height: 50px;"
                                            src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1576570138/user_uiipks.png">
                                    </h1>
                                    <h4 class="card-title pl-2"><a>{{one.studentName}}</a></h4>
                                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="collapse category" [id]="'div' + one.studentId">
                        <div class="">

                            <div class="row form-group border">
                                <div class="col-sm-12">
                                    <b>Student:</b> {{studentName}}
                                </div>
                                <div class="col-sm-12">
                                    <b> Fee Payment Details:</b>
                                </div>
                                <div class="col-sm-4">
                                    Course Cost:
                                    <span>
                                        {{cost}}
                                        INR</span>
                                </div>

                                Discount:
                                <div class="col-sm-2" *ngIf="!editDiscountVariable">
                                    <span>{{discountEnrolled}} INR</span>
                                </div>

                                <div class="col-sm-2" *ngIf="editDiscountVariable">
                                    <input type="number" min="0" max="{{cost}}" id="discountEnrolled"
                                        placeholder="Enter Discount" class="form-control discountWidth" name="discount"
                                        [(ngModel)]="discountEnrolled">
                                </div>

                                <div class="col-sm-3">
                                    Total Payable: <span>{{payable}} INR</span>
                                </div>
                                <div class="col-sm-1" *ngIf="!editDiscountVariable">
                                    <i class="fa fa-pencil" title="Edit discount" (click)="editDiscount()"></i>
                                </div>
                                <div class="col-sm-1" *ngIf="editDiscountVariable">
                                    <button class="btn btn-primary" *ngIf="comservice.myUserRole != 'student'"
                                        (click)="updateFees(studentFeeInfo.courseCost,discountEnrolled,studentFeeInfo.startDate,studentFeeInfo.endDate,studentFeeInfo.frequency)">Save</button>
                                </div>
                            </div>

                            <form>
                                <b>Fee Transaction Details: </b>
                                <div class="scrollableTable">
                                    <table id="myTable" class="table">
                                        <thead>
                                            <th>Transaction Date</th>
                                            <th>Payment Start Date</th>
                                            <th>Payment End Date</th>
                                            <th>Paid Amount (INR)</th>
                                            <th>Edit</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let x of studentTransactionInfo; index as i;">

                                                <td>
                                                    <span *ngIf="enableEditIndex != i">{{x.transactionDate}}</span>
                                                    <input class="form-control" type="date"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="x.transactionDate"
                                                        *ngIf="enableEdit && enableEditIndex == i" />
                                                </td>
                                                <td class="benchmark_name">
                                                    <span *ngIf="enableEditIndex != i">{{x.startDate}}</span>
                                                    <input type="date" [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="x.startDate" class="form-control"
                                                        *ngIf="enableEdit && enableEditIndex == i" />
                                                </td>
                                                <td>
                                                    <span *ngIf="enableEditIndex != i">{{x.endDate}}</span>
                                                    <input class="form-control" type="date"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="x.endDate"
                                                        *ngIf="enableEdit && enableEditIndex == i" />
                                                </td>
                                                <td>
                                                    <span *ngIf="enableEditIndex != i">{{x.paidAmount}}</span>
                                                    <input class="form-control" min="0" max="{{payable}}" type="number"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="x.paidAmount"
                                                        *ngIf="enableEdit && enableEditIndex == i" />
                                                </td>
                                                <td>
                                                    <i class="fa fa-pencil" *ngIf="!enableEdit"
                                                        (click)="enableEditMethod(i, $event)" title="Edit row"></i>
                                                    <input type="button"
                                                        (click)="Modify(x.startDate,x.endDate,x.paidAmount,x.studentCourseFeeTransactionId, x.transactionDate)"
                                                        *ngIf="enableEdit && enableEditIndex == i && comservice.myUserRole != 'student'"
                                                        id="saveBtn" class="btn btn-primary" value="Save">
                                                    <i class="fa fa-close" *ngIf="enableEdit && enableEditIndex == i"
                                                        id="cancel" (click)="cancel()"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <input type="button" class="btn btn-primary" id="addNewRow" (click)="addRow()"
                                    value="Add New Fee Transaction">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div *ngIf="reviewData && reviewData.length > 0">
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Rating And Reviews</h3>
                </div>
                
                <div class="card" *ngFor="let x of reviewData" >
                
                    <div class="card-block">
                    
                        <div class="profile-activity">
                            <b>Student Name: </b>{{x.studentName}}<br>
                            <ngx-stars [readonly]="true" [initialStars]="x.studentRating" [color]="'#e5570b'"
                                [size]="1">
                            </ngx-stars>
                            {{x.studentReview}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- this is course details view end -->
</div>

<div id="openReviewDetails" class="modal fade " role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Course reviews</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="ratingReview">
                    <div class="row form-group">
                        <div class="col-sm-3">Course:</div>
                        <div class="col-sm-4">
                            {{ratingReview.title}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">Rating:</div>
                        <div class="col-sm-4" id="stars">
                            <ngx-stars [initialStars]="ratingReview.courseRating" (ratingOutput)="onRatingSet($event)"
                                [color]="'#e5570b'" [size]="1"></ngx-stars>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">Review:</div>
                        <div class="col-lg-7">
                            <textarea rows="4" [(ngModel)]="ratingReview.courseReview"
                                class="form-control">{{ratingReview.courseReview}}</textarea>
                        </div>
                        <div class="col-sm-2">

                            <button class="btn btn-success" (click)="addCourseReview(ratingReview)">Save</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div *ngIf="ratingReview != undefined">
                    <div class="row form-group">
                        <div class="col-sm-3">Teacher:</div>
                        <div class="col-sm-9">
                            {{ratingReview.teacherInfo.teacherName}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">Rating:</div>

                        <div class="col-sm-9" id="stars">
                            <ngx-stars [initialStars]="ratingReview.teacherRating" (ratingOutput)="onRatingSet($event)"
                                [color]="'#e5570b'" [size]="1"></ngx-stars>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">Review:</div>
                        <div class="col-lg-7">
                            <textarea rows="4" [(ngModel)]="ratingReview.teacherReview"
                                class="form-control">{{ratingReview.teacherReview}}</textarea>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-success" (click)="addTeacherReview(ratingReview)">Save</button>
                        </div>
                    </div>
                </div>

                <div *ngIf="ratingReview != undefined">
                    <hr>
                    <div class="row form-group">
                        <div class="col-sm-3">Coaching Class:</div>
                        <div class="col-sm-8">
                            {{ratingReview.ccInfo.ccName}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">Rating:</div>
                        <div class="col-sm-9" id="stars">
                            <ngx-stars [initialStars]="ratingReview.ccRating" (ratingOutput)="onRatingSet($event)"
                                [color]="'#e5570b'" [size]="1"></ngx-stars>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">Review:</div>
                        <div class="col-lg-7">
                            <textarea rows="4" [(ngModel)]="ratingReview.ccReview"
                                class="form-control">{{ratingReview.ccReview}}</textarea>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-success" (click)="addCcReview(ratingReview)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-pill" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>