.loading {
    position: fixed;
    left: 45%;
    top: 50%;
}

.discountWidth {
    width: 70px;
    height: 30px;
}

.customerror {
    border-color: red;
    -webkit-box-shadow: 0 0 0 0.1rem rgb(250, 17, 0);
    box-shadow: 0 0 0 0.1rem rgb(236, 16, 0);
    display: block;
}

i {
    font-size: 15px;
}

.square {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.fa-check {
    color: green;
    font-size: 20px;
}

.fa-times {
    color: red;
    font-size: 20px;
}

video {
    width: 100%;
    height: auto;
}

.container-fluid {
    margin-top: 5%;
    max-height: 50%;
}

.jumbotron {
    color: black;
    background-color: #e9ecef;
    width: 80%;
    margin: auto;
}

.header {
    background-color: darkseagreen;
    border-radius: 20px;
    padding-top: 17px;
    padding-bottom: 3px;
}

i question {
    font-size: small;
}

.content {
    padding: 1rem 2rem;
    -webkit-box-shadow: 1px 1px 11px 0px #666666;
    box-shadow: 1px 1px 11px 0px #666666;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    padding-top: 10px;
}

.content-wrapper {
    padding-top: 4px;
    max-height: 400px;
    overflow: auto;
}

hr {
    color: black;
    height: 5px;
}


/* .row {
    margin-left: 25px;
} */

.request-outer {
    max-height: 400px;
    overflow-y: auto;
}

@media only screen and (min-width: 600px) {
    .title {
        margin-left: 113px;
    }
}




.card-title {
    margin-bottom: 0.3rem;
}

.cat {
    display: inline-block;
    margin-bottom: 1rem;
}

.card-footer {
    font-size: 0.8rem;
}

.card {
    margin-left: 33px;
    margin-top: 33px;
}

.wrap {
    padding-top: 30px;
}

.glyphicon {
    margin-bottom: 10px;
    margin-right: 10px;
}

small {
    display: block;
    color: #888;
}

.well {
    border: 1px solid blue;
}

@media only screen and (max-width: 600px) {
    .container-left-margin {
        margin-left: 0;
    }
}

@media only screen and (min-width: 992px) {
    .container-left-margin {
        margin-left: 0;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /* .row {
        margin-right: -67px;
        margin-left: -32px;
    } */
    /* Force table to not be like tables anymore */

}

th {
    border-width: 1px;
    padding: 0.5em;
    position: relative;
    text-align: left;
    background: #eee;
    border-color: #bbb;
    border-radius: 0.25em;
    border-style: solid;
}

td {
    border-width: 1px;
    padding: 0.5em;
    position: relative;
    text-align: left;
    border-color: #ddd;
    border-radius: 0.25em;
    border-style: solid;
}

#ck-button {
    margin: 4px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    float: left;
}

#ck-button:hover {
    background: red;
}

#ck-button label {
    float: left;
    width: 4.0em;
}

#ck-button label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
}

#ck-button label input {
    position: absolute;
    top: -20px;
}

#ck-button input:checked+span {
    background-color: #911;
    color: #fff;
}

.checkbox {
    height: 0;
}

b {
    font-weight: 600;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.scrollableTable {
    overflow-x: auto;
}
a{
    cursor: pointer;
}

.activePayment{
    color: #7971ea;
    font-weight: 700;
}
#scrollDivCourse{
    scroll-behavior: smooth;
}

#scrollBtnCourse {
    position: fixed;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    background: rgba(85, 77, 201, 0.7);
    width: 50px;
    height: 50px;
    z-index: 100;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scrollBtnCourse i {
    cursor: pointer;
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scrollBtnCourse:hover {
    cursor: pointer;
    background: rgba(85, 77, 201, 0.9);
}
#scrollBtnCourse:hover i {
    color: #fff;
    top: 5px;
}

.activePayment{
    color: #7971ea;
    font-weight: 700;
}
.good-review-score{
    background-color:#66CC33;
    color:white;
    text-align: center;
    padding: 10px;
    margin-right: 5px
/*width: 50px;
    height: 30px; 
    line-height: 30px*/
}



.container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}



.content1 {
	padding: 1rem;
}

.content1 ul li {
	list-style: none;
	line-height: 1.5;
}

.content1 ul li:first-child {
	margin-bottom: 0.5rem;
}

.search {
	position: relative;
}

.search input {
	width: 100%;
	padding: 0.75rem 0.5rem 0.75rem 1.75rem;
	border: 1px solid #cdc;
	border-radius: 0.25rem;
}

.search span {
	font-size: 1.5em;
	position: absolute;
	transform: rotate(-45deg);
	left: 10px;
	top: 4px;
}

.option1 {
	position: relative;
}

.content1 label {
	display: block;
	padding: 0.5rem;
	text-decoration: none;
	color: #252829;
	border-radius: 0.25rem;
	cursor: pointer;
}

.content1 label:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.content1 input[type="checkbox"] {
	display: none;
}

.content1 input[type="checkbox"]:checked + label {
	cursor: default;
}

.content1 input[type="checkbox"]:checked + label:after {
	content: "\2714";
	position: absolute;
	right: 0.5rem;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

hr{
    border-top: 2px solid grey;
}

.warning{
    color: #ffb160;
    font-weight: 700;
}

.tags{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    padding: 10px !important;
}

.profile-activity {
    padding: 10px 4px;
    border-bottom: 1px dotted #D0D8E0;
    position: relative;
    border-left: 1px dotted #FFF;
    border-right: 1px dotted #FFF
}

.profile-activity:first-child {
    border-top: 1px dotted transparent
}

.profile-activity:hover {
    background-color: #F4F9FD;
    border-left: 1px dotted #D0D8E0;
    border-right: 1px dotted #D0D8E0;
}

.profile-activity .time {
    display: block;
    margin-top: 4px;
    color: #777
}



