<div class="site-section">
    <div class="splitright right">
        <div class="container mobile-pad" style="padding-top: 7%" *ngIf="!showExploreDetails">
            <div class="jumbotron mb-8" *ngIf="emptydatalist">
                <h3>
                    <strong> Sorry ! </strong> No Teachers found
                </h3>
            </div>
 
            <div *ngIf="loading" style="z-index: 1000;" class="loading">
                <div class="imagediv">
                    <img width="100px" height="50px" src="../../assets/spinner.gif">
                </div>
            </div>
            <div *ngFor="let x of teacherList | paginate: { itemsPerPage: 4, currentPage: p }">
                <div class="tags">
                    <div class="jumbotron">
                        <div class="row" onclick="$(this).parent().parent().find('.category').slideToggle();">
                            <div class="col-sm-5">

                                <!-- <h4 (click)="teacherDetails(x.teacherInfo.teacherId)" style="cursor: pointer;"> -->
                                <a [routerLink]="['/teacher']" (click)="teacherClicked(x.teacherInfo.teacherId)"
                                    style="cursor: pointer;">
                                    <h4 style="color: black;"> {{x.teacherInfo.teacherName}}</h4>
                                </a>

                                <p> {{x.teacherInfo.qualifications}}</p>

                                <ngx-stars [readonly]="true" [initialStars]="x.teacherInfo.cumulativeRating"
                                    [color]="'#e5570b'" [size]="1"></ngx-stars>

                            </div>
                            <div class="col-sm-5">
                                <label> Experience with Learning Pod</label> {{x.teacherInfo.lpExpeience}}&nbsp;year(s)
                            </div>
                        </div>
                        <!-- <div class="category" id="category">
                            <hr />
                            <div class="row">
                                <div class="col-sm-5">
                                    <b>Contact Details</b>
                                    <br>
                                    <b>Phone No.</b> {{x.teacherInfo.phoneNo}}
                                </div>
                            </div>
                            <hr>

                        </div> -->
                    </div>
                </div>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <!-- <div *ngIf="showExploreDetails">
            <app-explore-profile [teacher]="teacherDetailsId"></app-explore-profile>
        </div> -->
    </div>

</div>