.site-section{
  font-weight: 400 !important;
}
.header
{
    
    margin-top:6%;
    margin-left:2%;
    width:80%;
}
.options
{
    margin-top:12%;
    margin-left:10%;
  

}
.form-group button,b
{
   color: white;    
}
.Title
{
    margin-top:12%;
    margin-left:10%;
    color: white;
    
}
.contentdiv
{
    width:80%;
    margin-top:1%;
    margin-left:6%;
  padding-left: 10%;
  border: 1px solid #007bff;
  background-color: white;
  border-radius: 5px;
 
   

}
.isactive
{
    background-color: white;
    color: black;
}


      .splitright {
        height: 100%;
        width: 100%;
        position: fixed;
       
        top: 20px;
        overflow-x: hidden;
        padding-top: 20px;
      }
      

      /* Control the right side */
      .right {
        right: 0;
        top:0px;
        background-color: white;
      }
      

      /* Style the image inside the centered container, if needed */
      .centered img {
        width: 150px;
        border-radius: 50%;
      }
      .col-md-4 ,.col-md-6
      {
          color: white;
      }
      .black
      {
          color: black;
      }
     .fixedcontainer
     {
    position: fixed;z-index: 1000; background-color: white;
     }
     .myhiddendiv
     {
         display: none;
     }
    .category
    {
        display: none;
       }

       .jumbotron
       {
         color: black;
         background-color: #e9ecef;
      
           padding: 1rem 2rem;
           -webkit-box-shadow: 1px 1px 11px 0px #666666; 
           box-shadow: 1px 1px 11px 0px #666666 ;
       }
     
    .col-sm-6 p{
        font-size: medium;
        font-weight: 600;
    }
    .fa-check
    {
        color: green;
      font-size: 20px;
    }
    .fa-times
    {
        color: red;
      font-size: 20px;
    }
    label{
        color: black;
    }
    .loading {
      position: fixed;
      left: 45%;
      top: 50%;
  }
      .btn-success
      {
          height: 25px;
          text-align: center;
          vertical-align: middle;
          margin-top: 25px;
          position: fixed;
      }

      .enrollbtn
      {
          margin-top: 6px;
      }

      
  .aligned
  {
      margin-top:-30px;
  }

  .back
  {
      margin-top: 3%;
      position: absolute;
      margin-left: 2%;
      z-index: 10;
      position: fixed;
      color: white;
  }
   
  button
  {
      background-color: #353a3f;
      border-radius: 10px;
      padding: 7px; 
      border: white;
      width: 100px;
      
  }
.rating{
  color: white
}

@media only screen and (max-width: 600px) {
  .mobile-pad
  {
    padding-top: 18% !important;
  }
}

a{
  cursor: pointer;
}
