.container-fluid {
    margin-top: 5%;
    max-height: 50%;
  
}

@media only screen and (max-width: 480px) {
    h4.modal-title {
        margin-left: 0;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    h4.modal-title {
        margin-left: 190px;
    }
}



i question {
    font-size: small;
}


hr {
    color: black;
    height: 5px;
}


/* .row
{
    margin-left: 25px;
} */

.profile-info-name,
.profile-info-row:first-child .profile-info-name,
.dd-empty,
.dd-handle,
.dd-placeholder,
.loading {
    position: fixed;
    left: 45%;
    top: 50%;
}

.profile-activity {
    padding: 10px 4px;
    border-bottom: 1px dotted #D0D8E0;
    position: relative;
    border-left: 1px dotted #FFF;
    border-right: 1px dotted #FFF
}

.profile-activity:first-child {
    border-top: 1px dotted transparent
}

.profile-activity:hover {
    background-color: #F4F9FD;
    border-left: 1px dotted #D0D8E0;
    border-right: 1px dotted #D0D8E0
}

.profile-activity img {
    border: 2px solid #C9D6E5;
    border-radius: 100%;
    max-width: 40px;
    margin-right: 10px;
    margin-left: 0;
    box-shadow: none
}

.profile-activity .thumbicon {
    background-color: #74ABD7;
    display: inline-block;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    margin-right: 10px;
    margin-left: 0;
    text-shadow: none!important
}

.profile-activity .time {
    display: block;
    margin-top: 4px;
    color: #777
}

.profile-activity a.user {
    font-weight: 700;
    color: #9585BF
}

.profile-activity .tools {
    position: absolute;
    right: 12px;
    bottom: 8px;
    display: none
}

.profile-activity:hover .tools {
    display: block
}

.user-profile .ace-thumbnails li {
    border: 1px solid #CCC;
    padding: 3px;
    margin: 6px
}

.user-profile .ace-thumbnails li .tools {
    left: 3px;
    right: 3px
}

.user-profile .ace-thumbnails li:hover .tools {
    bottom: 3px
}

.btn-link:hover .ace-icon {
    text-decoration: none!important
}

.profile-social-links>a:hover>.ace-icon,
.profile-users .memberdiv .name a:hover .ace-icon,
.profile-users .user {
    display: block;
    position: static;
    text-align: center;
    width: auto
}

.profile-users .user img {
    padding: 2px;
    border-radius: 100%;
    border: 1px solid #AAA;
    max-width: none;
    width: 64px;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s
}

.profile-users .user img:hover {
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .33);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .33)
}

.profile-users .memberdiv .tools {
    position: static;
    display: block;
    width: 100%;
    margin-top: 2px
}

@media only screen and (max-width:480px) {
    .profile-info-name {
        width: 80px
    }
    .profile-user-info-striped .profile-info-name {
        float: none;
        width: auto;
        text-align: left;
        padding: 6px 4px 6px 10px;
        display: block
    }
    .profile-user-info-striped .profile-info-value {
        margin-left: 10px;
        display: block
    }
    .user-profile .memberdiv {
        width: 50%;
        margin-left: 0;
        margin-right: 0
    }
}

.itemdiv>.user>.img,
.itemdiv>.body>.time .ace-icon {
    font-size: 14px;
    font-weight: 400
}

@media (min-width:992px) {
    .itemdiv.memberdiv {
        max-width: 50%
    }
}

@media (max-width:991px) {
    .itemdiv.memberdiv {
        min-width: 33.333%
    }
}

.itemdiv.memberdiv>.user>img {
    border-color: #DCE3ED
}

.itemdiv.memberdiv>.body>.time {
    position: static
}

.itemdiv.memberdiv>.body>.name {
    line-height: 18px;
    height: 18px;
    margin-bottom: 0
}

.itemdiv.memberdiv>.body>.name>a {
    display: inline-block;
    max-width: 100px;
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all
}

.itemdiv .tools {
    position: absolute;
    right: 5px;
    bottom: 10px;
    display: none
}

.item-list>li>.checkbox,
.item-list>li>label.inline,
.itemdiv:hover .tools {
    display: inline-block
}

.itemdiv .tools .btn {
    border-radius: 36px;
    margin: 1px 0
}

.itemdiv .body .tools {
    bottom: 4px
}

.itemdiv.commentdiv .tools {
    right: 9px
}

.item-list>li.selected .lbl,
.ace-thumbnails>li,
.ace-thumbnails>li>.tools,
.ace-thumbnails>li>.tools>a,
.ace-thumbnails>li>:first-child .inner a {
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4px
}

.ace-thumbnails>li>.tools>a:hover,
.ace-thumbnails>li>:first-child .inner a:hover {
    text-decoration: none;
    color: #C9E2EA
}

.ace-thumbnails>li .tools.tools-bottom>a,
.dialogs,
.nav-tabs>li>a .ace-icon {
    opacity: .75
}

.nav-tabs>li.active>a .ace-icon,
.nav-tabs li .ace-icon {
    width: 1.25em;
    display: inline-block;
    text-align: center
}

@media only screen and (min-width: 992px) {
    .container-left-margin {
        margin-left: 0;
    }
}

.row {
    display: flex;
}

.row .col {
    flex: 1;
}

.row .col:last-child {
    margin-left: 1em;
}


/* Accordion styles */

input:checked+.tab-label {
    background: #ffffff;
}

input:checked+.tab-label::after {
    transform: rotate(90deg);
}

input:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
}

b {
    font-weight: 600;
}


/* @media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .row {
        margin-right: -67px;
        margin-left: -32px;
    }
   
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
   
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
      
        position: absolute;
    
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    td:nth-of-type(1):before {
        content: "Start Date";
    }
    td:nth-of-type(2):before {
        content: "End Date";
    }
    td:nth-of-type(3):before {
        content: "Paid amount";
    }
    td:nth-of-type(4):before {
        content: "Edit";
    }
} */


/* @media only screen and (max-width: 600px) {
    .scrollableTable {
        overflow-x: auto;
    }
} */

.scrollableTable {
    overflow-x: auto;
}

a{
    cursor: pointer;
}


th {
    border-width: 1px;
    padding: 0.5em;
    position: relative;
    text-align: left;
    background: #eee;
    border-color: #bbb;
    border-radius: 0.25em;
    border-style: solid;
}

td {
    border-width: 1px;
    padding: 0.5em;
    position: relative;
    text-align: left;
    border-color: #ddd;
    border-radius: 0.25em;
    border-style: solid;
}

b {
    font-weight: 600;
}

.modal-800 {
    width: 800px;
    margin: 30px auto;
}

@media print {
    #print {
        display: none;
    }
}

a{
    cursor: pointer;
}

.active{
    color: #7971ea;
    font-weight: 700;
}


  
  #scrollDivStudent{
    scroll-behavior: smooth;
}

#scrollBtnStudent {
    position: fixed;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    background: rgba(85, 77, 201, 0.7);
    width: 50px;
    height: 50px;
    z-index: 100;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scrollBtnStudent i {
    cursor: pointer;
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scrollBtnStudent:hover {
    cursor: pointer;
    background: rgba(85, 77, 201, 0.9);
}
#scrollBtnStudent:hover i {
    color: #fff;
    top: 5px;
}

