<!-- <a (click)="topFunction()" id="scrollBtnStudent" title="Back To Top"> <i class="fa fa-chevron-up"></i></a> -->
<div *ngIf="loading" style="z-index: 1000;" class="loading">
    <div>
        <img width="100px" height="50px" src="../../assets/spinner.gif">
    </div>
</div>

<div *ngIf="!studentDetails" id="mystudentId" class="myStudentPage container-fluid mt-4">

    <div class="row">

        <div class="col-sm-2">
            <input type="text" id="searchStudent" class="form-control" (keyup)="searchStudentByName()"
                placeholder="Search for student" title="Type in a name">
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
            <button data-toggle="modal" class="changepassword" (click)="addStudentRemoveValidation()"
                data-target="#registerStudent" class="btn btn-primary btn-pill">Add Student Individually</button>
        </div>
        <div class="col-sm-2" >
                <button data-toggle="modal" class="changepassword"  data-target="#registerStudentInBulk" class="btn btn-primary btn-pill">Add Students in bulk</button>
            </div>
    </div>
    <div *ngIf="comservice.myUserRole == 'cc'">

        <div *ngIf="!displayInfoMyAffiliation" style="text-align: center; padding-top: 2%;">
            <img width="500px" height="300px"
                src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/noRecordings_j5qvnw.png">
            <h3 style="color: grey;">
                Start Adding New Students
            </h3>
        </div>
        <div *ngIf="showNoResults" style="text-align: center; padding-top: 2%;">
            <img width="500px" height="300px"
                src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/noRecordings_j5qvnw.png">
            <h3 style="color: grey;">
                No Students Found
            </h3>
        </div>







        <div style="padding-top: 33px !important;" class="row">

            <div *ngIf="displayInfoMyAffiliation != undefined && !showNoResults" class="container-left-margin col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 type="button" class="panel-title" id="collapseStudent" data-toggle="collapse"
                            data-target="#filterCollapse">
                            Filter &nbsp;<i class="fa fa-caret-down" style="font-size:20px; "></i></h4>


                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <!-- CHECKBOXES -->
                            <div class="form-group">
                                <div id="filterCollapse" class="collapse show">
                                    <div style="overflow: auto;height: 250px;" *ngIf="classListForFilter">
                                        <label><b>Classes</b></label>
                                        <div style="height: 30px;" *ngFor="let c of classListForFilter;let a = index"
                                            class="checkbox">
                                            <label id="myForm1">
                                                <input class="class_checkbox" id="class{{a}}" [value]="c.className"
                                                    type="checkbox">
                                                {{c.className}}
                                            </label>
                                        </div>
                                        <div *ngIf="classListForFilter.length == 0">
                                            <p>No classes available</p>
                                        </div>
                                        <label><b>Boards</b></label>

                                        <div style="height: 30px;" *ngFor="let b of boardListForFilter; let i = index;"
                                            class="checkbox">
                                            <label>
                                                <input class="board_checkbox" [value]="b.boardName" id="board{{i}}"
                                                    type="checkbox">
                                                {{b.boardName}}
                                            </label>
                                        </div>
                                        <div *ngIf="boardListForFilter.length == 0">
                                            <p>No boards available</p>
                                        </div>
                                    </div>
                                    <button class="btn-sm btn-primary btn-pill mr-2" style="border-radius: 50px;"
                                        (click)="getFilteredData()"> Filter</button>
                                    <button class="btn-sm btn-primary btn-pill" style="border-radius: 50px;"
                                        (click)="clearFilteredData()">Clear Filter</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class=" container-left-margin col-lg-9">
                <div *ngIf="isFilteredDataAvailable != undefined">
                    <div *ngIf="!isFilteredDataAvailable" style="text-align: center; padding-top: 2%;">
                        <img width="500px" height="300px"
                            src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/noRecordings_j5qvnw.png">
                        <h3 style="color: grey;">
                            No result found!
                        </h3>
                    </div>
                </div>
                <!-- style="overflow:auto; height: 430px;" -->
                <div class="profile-feed row hidden-md-up" id="scrollDivStudent">

                    <div *ngFor="let x of filteredStudentData || displayInfoMyAffiliation " class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-block">
                                <div class="profile-activity clearfix ">
                                    <div>
                                        <img class="pull-left" alt="Alex Doe's avatar"
                                            src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1576570138/user_uiipks.png">
                                        <a class="user" (click)="getStudentDetails(x.studentId)"> {{x.studentName}}
                                        </a>
                                        <!-- <a class="user" (click)="getAffiliatedTeacher(x.teacherInfo.teacherId);" (click)="updateTeacher()" data-target="#updateTeacher" >{{x.teacherInfo.teacherName}}</a> -->
                                        <br>
                                        <br> {{x.studentName}} is listed as your student
                                        {{x.classInfo == undefined ? '' : "for class " + x.classInfo.className}}
                                        {{x.boardInfo == undefined ? '' : "(" + x.boardInfo.boardName + " Board)"}}
                                        <div class="time">
                                            <i class="fa fa-phone"></i> {{x.phoneNo}}
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a style="margin: 10px;" class="blue">
                                            <button data-target="#studentPayment" data-toggle="modal"
                                                (click)="getStudentCourses(x.studentId,x.studentName);"><i
                                                    class="fa fa-rupee"></i></button>
                                        </a>
                                        <!-- <a style="margin: 10px;" class="red">
                                                        <button (click)="deleteStudent(x.studentId);" id="deleteHide{{x.studentId}}"><i
                                                                class="fas fa-trash-alt"></i></button>
                 
                                                    </a> -->
                                        <a style="margin: 10px;" class="red">
                                            <button data-toggle="modal" data-target="#updateStudent"
                                                (click)="getStudentById(x)"><i
                                                    class="ace-icon fa fa-pencil "></i></button>
                                        </a>
                                        <a style="margin: 10px;" class="red">
                                            <button data-toggle="modal" data-target="#downloadStudentReport"
                                                (click)="getStudentById(x)" title="View student report"><i
                                                    class="far fa-address-book"></i></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination flex-wrap">
                            <li class="page-item"><a><button class="page-link" (click)="previous()"
                                        [disabled]="diasablePrevious">Previous</button></a></li>
                            <li *ngFor="let x of arr" class="page-item"><a class="page-link"
                                    (click)="pageClicked($event)">{{x}}</a></li>
                            <li class="page-item"><a><button class="page-link" (click)="next()"
                                        [disabled]="diasableNext">Next</button></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- style="overflow:auto; height: 450px;" -->
<div *ngIf="studentDetails" class="studentDetails container">
    <button class="btn btn-primary" (click)="backToMyStudents()">Back To All Students</button>
    <div class="mt-4">
        <div class="row">
            <div *ngIf="studentDetails && studentDetails.picturePath != undefined" class="col-md-2">
                <img [src]="studentDetails.picturePath" style="border-radius: 50%; height: 80px; width: 80px;">
            </div>
            <div *ngIf="studentDetails && studentDetails.picturePath == undefined" class="col-md-2">
                <img src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1576570138/user_uiipks.png"
                    style="border-radius: 50%; height: 80px; width: 80px;">

            </div>

            <div class="col-md-5">
                <h2>{{studentDetails.studentName}}</h2>
                <b>Class</b> {{studentDetails.classInfo == undefined ? 'NA' : studentDetails.classInfo.className }}

                <p *ngIf="studentDetails.email"><b>Email</b> {{studentDetails.email}}</p>

                <p *ngIf="studentDetails.studentContactInfo.phoneNo"><b>Mobile</b>
                    {{studentDetails.studentContactInfo.phoneNo}}
                </p>

            </div>
            <div class="col-md-5">
                <div>
                    <p *ngIf="studentDetails.address1 || studentDetails.address2"><b>Address</b>
                        {{studentDetails.address1}}, {{studentDetails.address2}}</p>

                    <p *ngIf="studentDetails.city"><b>City</b> {{studentDetails.city}}</p>

                </div>
            </div>
        </div>
        <hr>
        <br>
        <br>
        <div class="row">

            <div class="col-md-9">
                <h2>{{studentDetails.studentName}}'s Courses</h2>
            </div>
            <div class="scrollableTable">
                <table class="table table-striped mb-5">
                    <thead>
                        <tr>

                            <th>Title</th>
                            <th>Subject</th>
                            <th>Class</th>
                            <th>Duration</th>
                            <th>Timing</th>
                            <th>Frequency</th>
                            <th>Total classes</th>
                            <th>By teacher</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="studentCourseDetails != undefined">
                        <tr *ngFor="let one of studentCourseDetails; let i=index">
                            <td>{{one.courseInfo.title}}</td>

                            <td>{{one.courseInfo.subjectInfo == undefined ? 'NA' : one.courseInfo.subjectInfo.subjectName}}
                            </td>
                            <td>{{one.courseInfo.classInfo == undefined ? 'NA' : one.courseInfo.classInfo.className}}
                            </td>
                            <td *ngIf="one.courseInfo.startDate">{{one.courseInfo.startDate}} to
                                {{one.courseInfo.endDate}}
                            </td>
                            <td *ngIf="!one.courseInfo.startDate">NA</td>
                            <td *ngIf="one.courseInfo.startTime">{{one.courseInfo.startTime}} to
                                {{one.courseInfo.endTime}}
                            </td>
                            <td *ngIf="!one.courseInfo.startTime">NA</td>
                            <td>{{one.courseInfo.frequency == undefined ? 'NA' : comservice.formatFrequencyForExplore(one.courseInfo.frequency)}}
                            </td>
                            <td>{{one.courseInfo.totalClassCount == undefined ? 'NA' : one.courseInfo.totalClassCount}}
                            </td>
                            <td>{{one.courseInfo.teacherInfo == undefined ? 'NA' : one.courseInfo.teacherInfo.teacherName}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br>
            <hr />
            <div class="col-md-9">
                <h2>{{studentDetails.studentName}}'s Payments</h2>
            </div>
            <div class="scrollableTable">
                <table class="table table-striped mb-5">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Subject</th>
                            <th>Class</th>
                            <th>Cost</th>
                            <th>Paid amount</th>
                            <th>Frequency</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="studentPaymentDetails">
                        <tr *ngFor="let one of studentPaymentDetails.studentCourse">
                            <td>{{one.courseTitle == undefined ? 'NA' : one.courseTitle}}</td>
                            <td>{{one == undefined ? 'NA' : one.subjectName}}</td>
                            <td>{{one == undefined ? 'NA' : one.className}}</td>
                            <td>{{one.courseCost == undefined ? 'NA' : one.courseCost}}</td>
                            <td>{{one.paidAmount == undefined ? 'NA' : one.paidAmount}}</td>
                            <td>{{one.frequency == undefined ? 'NA' : one.frequency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br>
            <hr>
            <br>
            <br>
            <div class="col-md-9">
                <h2>{{studentDetails.studentName}}'s class report</h2>
            </div>
            <div class="mt-3 mb-3 scrollableTable">

                <div>
                    Select Start Date
                    <kendo-datepicker [ngModelOptions]="{standalone: true}" [(ngModel)]="startDate" name="startDate">
                    </kendo-datepicker>
                    and End Date
                    <kendo-datepicker [ngModelOptions]="{standalone: true}" [(ngModel)]="endDate" name="endDate">
                    </kendo-datepicker>
                    <button class="btn btn-primary" style="float: right;cursor: pointer;border-radius:12%;" id="print"
                        (click)="getStudentReport(startDate, endDate)">Get
                        Report</button>

                    <button class="btn btn-primary" *ngIf="showPrint" title="Print report" id="print"
                        (click)="printReport()" style="float: right;cursor: pointer;border-radius:12%;">
                        Print Report
                    </button>
                </div>
                <div *ngIf="loadingReport" style="z-index: 1000;" class="loading">
                    <div>
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>
                <div *ngIf="!showTable">
                    {{courseInfo}}
                </div>
                <div *ngIf="showTable">
                    <div *ngIf="courseInfo.length == 0">
                        No schedule class for this student in this date
                    </div>
                    <div *ngIf="courseInfo.length > 0">
                        <br>
                        <b>Total scheduled classes in past: </b>{{totalCounts.totalPastClassCount}}
                        <br>
                        <b>Total live class(es) joined: </b>{{totalCounts.totalPastJoinClassCount}}
                        <br>
                        <b>Total live class(es) missed:
                        </b>{{totalCounts.totalPastClassCount - totalCounts.totalPastJoinClassCount}}
                        <br>
                        <div class="scrollableTable">
                            <table>
                                <thead>
                                    <tr>
                                        <th rowspan="2">Course Name</th>
                                        <th rowspan="2">Topic</th>
                                        <th rowspan="2">Class</th>
                                        <th rowspan="2">Subject</th>
                                        <th rowspan="2">Date</th>
                                        <th colspan="3" style="text-align: center;">Scheduled Class(es)</th>
                                        <th colspan="4" style="text-align: center;">Conducted Class(es)</th>

                                    </tr>
                                    <tr>
                                        <th>Teacher</th>
                                        <th>Scheduled Start Time</th>
                                        <th>Scheduled End Time</th>
                                        <th>Live Class Start Time</th>
                                        <th>Live Class End Time</th>
                                        <th>Student Joined</th>
                                        <th>Teacher Joined</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let x of courseInfo">
                                    <tr *ngFor="let y of x.scClassInfo">
                                        <td>
                                            {{y.courseTitle}}
                                        </td>
                                        <td>
                                            {{y.topic ? y.topic : "-"}}

                                        </td>
                                        <td>
                                            {{y.className}}th
                                        </td>
                                        <td>
                                            {{y.subjectName}}
                                        </td>
                                        <td>
                                            {{y.scheduleClassDate}}
                                        </td>

                                        <td>
                                            {{y.teacherName}}
                                        </td>
                                        <td>
                                            {{y.scheduleClassStartTime}}
                                        </td>
                                        <td>
                                            {{y.scheduleClassEndTime}}
                                        </td>
                                        <td>
                                            {{y.virtualClassInfo.virtualClassStartTime ? y.virtualClassInfo.virtualClassStartTime : "-"}}
                                        </td>
                                        <td>
                                            {{y.virtualClassInfo.virtualClassEndTime ? y.virtualClassInfo.virtualClassEndTime : "-"}}
                                        </td>
                                        <td *ngIf="y.scheduleClassStatus == 'Future'">
                                            <span style="color: green;">Future class</span>
                                        </td>
                                        <td *ngIf="y.scheduleClassStatus == 'Past'">
                                            <span *ngIf="y.joinStatus == true">Yes</span>
                                            <span *ngIf="y.joinStatus == false" style="color: red;">Student missed the
                                                class</span>

                                        </td>
                                        <td *ngIf="y.scheduleClassStatus == 'Present'">
                                            <span style="color: blue;">Currently scheduled class</span>
                                        </td>

                                        <td *ngIf="y.scheduleClassStatus == 'Future'">
                                            <span style="color: green;">Future class</span>
                                        </td>
                                        <td *ngIf="y.scheduleClassStatus == 'Past'">
                                            <span *ngIf="y.virtualClassInfo.noOfModerator > 0">Yes</span>
                                            <span *ngIf="y.virtualClassInfo.noOfModerator == 0"
                                                style="color: red;">Teacher
                                                missed the class</span>
                                            <span
                                                *ngIf="y.virtualClassInfo.virtualClassInfo == 'Virtual class information is not available'"
                                                style="color: red;">Teacher missed the class</span>
                                        </td>
                                        <td *ngIf="y.scheduleClassStatus == 'Present'">
                                            <span style="color: blue;">Currently scheduled class</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="registerStudent" class="modal fade modal-open" *ngIf="comservice.myUserRole =='cc'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Student's Details</h4>
                <button type="button" id="closeRegisterModalStudent" (click)="clearModal()" class="close"
                    data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div *ngIf="loading" style="z-index: 1000;" class="loading">
                    <div>
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Name*</h5>
                    </div>
                    <div class="col-sm-6">

                        <input type="text" id="studentName" placeholder="Enter student name" class="form-control"
                            name="studentName" [(ngModel)]="studentName">
                        <small *ngIf="nameError" id="emailHelp" class="form-text text-muted">*Please enter name</small>
                    </div>

                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Phone number*</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="number" id="phoneNumberToAdd" onKeyPress="if(this.value.length==10) return false;"
                            placeholder="Enter phone number" class="form-control" name="phoneNumber"
                            [(ngModel)]="phoneNumberToAdd">
                        <small *ngIf="phoneError" id="emailHelp" class="form-text text-muted">*Please enter phone
                            number</small>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Board</h5>
                    </div>
                    <div class="col-sm-6" *ngIf="comservice.cbsObj != undefined">
                        <ng-multiselect-dropdown [placeholder]="'--Select Board--'" [data]="comservice.cbsObj.allBoards"
                            [(ngModel)]="board" [settings]="dropdownSettingsBoard" id="board">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Class</h5>
                    </div>
                    <div class="col-sm-6" *ngIf="comservice.cbsObj != undefined">
                        <ng-multiselect-dropdown [placeholder]="'--Select Class--'"
                            [data]="comservice.cbsObj.allClasses" [(ngModel)]="selectedClassToUpdate"
                            [settings]="dropdownSettings2" id="selectedClassToUpdate">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Choose Password*</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="password" id="studentPassword" onKeyPress="if(this.value.length==15) return false;"
                            placeholder="Enter Password" class="form-control" name="studentPassword"
                            [(ngModel)]="studentPassword">
                        <small *ngIf="passwordError" id="emailHelp" class="form-text text-muted">*Please enter
                            password</small>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-pill" [disabled]="disableButton"
                            (click)="registerRestrictedStudent(studentName, phoneNumberToAdd,board,selectedClassToUpdate, studentPassword )">Add</button>
                        <button type="button" (click)="clearModal()" class="btn btn-primary btn-pill"
                            data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="studentPayment" class="modal fade modal-open" *ngIf="comservice.myUserRole =='cc'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{studentName + "'s"}} payment details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="loading" style="z-index: 1000;" class="loading">
                    <div>
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        Enrolled Course(s)
                        <div style="overflow:auto; height: 250px;">
                            <ul *ngFor="let x of courseListForStudentPayment">
                                <li (click)="passCourseDetailsEnrolled(x)" [ngClass]="{'active': selectedItem == x}"
                                    *ngIf="x.isEnrolled == 'true'" style="cursor: pointer;">
                                    {{x.title}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        Other Course(s)
                        <div style="overflow:auto; height: 250px;">
                            <ul *ngFor="let x of courseListForStudentPayment;">
                                <li (click)="passCourseDetailsNotEnrolled(x)" [ngClass]="{'active': selectedItem == x}"
                                    *ngIf="x.isEnrolled == 'false'" style="cursor: pointer;">
                                    {{x.title}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row form-group border" *ngIf="showFeeForEnrolled">
                    <div class="col-sm-12">
                        <b>Course Title:</b> {{courseTitle}}
                    </div>
                    <div class="col-sm-12">
                        <b> Fee Payment Details:</b>
                    </div>
                    <div class="col-sm-4">
                        Course Cost:
                        <span>
                            {{cost}}
                            INR</span>
                    </div>

                    Discount:
                    <div class="col-sm-2" *ngIf="!editDiscountVariable">
                        <span>{{discountEnrolled}} INR</span>
                    </div>

                    <div class="col-sm-2" *ngIf="editDiscountVariable">
                        <input type="number" min="0" max="{{cost}}" id="discountEnrolled" placeholder="Enter Discount"
                            class="form-control discountWidth" name="discount" [(ngModel)]="discountEnrolled">
                    </div>

                    <div class="col-sm-3">
                        Total Payable: <span>{{payable}} INR</span>
                    </div>
                    <div class="col-sm-1" *ngIf="!editDiscountVariable">
                        <i class="fa fa-pencil" title="Edit discount" (click)="editDiscount()"></i>
                    </div>
                    <div class="col-sm-1" *ngIf="editDiscountVariable">
                        <button class="btn btn-primary"
                            (click)="updateFees(studentFeeInfo.courseCost,discountEnrolled,studentFeeInfo.startDate,studentFeeInfo.endDate,studentFeeInfo.frequency)">Save</button>
                    </div>
                </div>

                <form *ngIf="showFeeForEnrolled">
                    <b>Fee Transaction Details: </b>

                    <div class="scrollableTable">
                        <table id="myTable">
                            <thead>
                                <th>Transaction Date</th>
                                <th>Payment Start Date</th>
                                <th>Payment End Date</th>
                                <th>Paid Amount (INR)</th>
                                <th>Edit</th>
                                <th>Print Receipt</th>
                            </thead>
                            <tbody *ngIf="studentTransactionInfo != undefined && studentTransactionInfo.length > 0 ">
                                <tr *ngFor="let x of studentTransactionInfo; index as i;">

                                    <td>
                                        <span *ngIf="enableEditIndex != i">{{x.transactionDate}}</span>
                                        <input class="form-control" type="date" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="x.transactionDate"
                                            *ngIf="enableEdit && enableEditIndex == i" />
                                    </td>
                                    <td class="benchmark_name">
                                        <span *ngIf="enableEditIndex != i">{{x.startDate}}</span>
                                        <input type="date" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="x.startDate" class="form-control"
                                            *ngIf="enableEdit && enableEditIndex == i" />
                                    </td>
                                    <td>
                                        <span *ngIf="enableEditIndex != i">{{x.endDate}}</span>
                                        <input class="form-control" type="date" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="x.endDate" *ngIf="enableEdit && enableEditIndex == i" />
                                    </td>
                                    <td>
                                        <span *ngIf="enableEditIndex != i">{{x.paidAmount}}</span>
                                        <input class="form-control" min="0" max="{{payable}}" type="number"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="x.paidAmount"
                                            *ngIf="enableEdit && enableEditIndex == i" />
                                    </td>
                                    <td>
                                        <i class="fa fa-pencil" *ngIf="!enableEdit"
                                            (click)="enableEditMethod(i, $event)" title="Edit row" id="editRow"
                                            style="cursor: pointer;"></i>
                                        <input type="button"
                                            (click)="Modify(x.startDate,x.endDate,x.paidAmount,x.studentCourseFeeTransactionId, x.transactionDate)"
                                            *ngIf="enableEdit && enableEditIndex == i" id="saveBtn"
                                            class="btn btn-primary" value="Save" style="cursor: pointer;"> &nbsp;
                                        <i class="fa fa-close" *ngIf="enableEdit && enableEditIndex == i" id="cancel"
                                            (click)="cancel()" style="cursor: pointer;"></i>
                                    </td>
                                    <td style="text-align: center;">
                                        <a [routerLink]="['invoice']" target="_blank">
                                            <!-- <a href="http://localhost:4200/#/home/invoice" target="_blank"> -->
                                            <i class="fa fa-print" *ngIf="!enableEdit" (click)="printIndex(i)"
                                                style="cursor: pointer;"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-4">
                            <b>Total Paid Amount:</b> {{totalPaidAmount}} INR
                        </div>
                        <div class="col-md-4">
                            <b>Pending Amount:</b> {{totalPendingAmount}} INR
                        </div>
                    </div>
                    <br>
                    <input type="button" class="btn btn-primary" id="addNewRow" (click)="addRow()"
                        value="Add New Fee Transaction">


                </form>
                <div class="row  border" *ngIf="showFeeForNotEnrolled">
                    <div class="col-sm-12">
                        <b> Fee Payment Details:</b>
                    </div>
                    <div class="col-sm-4">
                        <b>Course Title: </b>
                        <span>{{courseTitle}} </span>
                    </div>
                    <div class="col-sm-4">
                        <b>Course Cost:</b>
                        <input type="text" class="form-control" [(ngModel)]="cost" hidden> {{cost}} INR

                    </div>
                    <div class="col-sm-4">
                        Discount:

                        <input type="number" min="0" max="{{cost}}" id="discountNotEnrolled"
                            placeholder="Enter Discount" class="form-control" name="discount"
                            [(ngModel)]="discountNotEnrolled">
                    </div>


                    <div class="col-sm-2">
                        <button class="btn btn-primary" (click)="Enroll(cost,discountNotEnrolled)">Enroll</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="updateStudent" class="modal fade modal-open"
    *ngIf="updatedStudentInfo != null && comservice.myUserRole =='cc'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update {{updatedStudentInfo.studentName}}'s details</h4>
                <button type="button" id="closeUpdateModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="loading" style="z-index: 1000;" class="loading">
                    <div>
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Name*</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" id="studentName" placeholder="Enter student name" class="form-control"
                            name="studentName" [(ngModel)]="updatedStudentInfo.studentName">
                        <small *ngIf="updateNameError" id="emailHelp" class="form-text text-muted">*Please enter
                            name</small>
                    </div>
                    <div class="col-sm-3"></div>
                </div>



                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Phone number*</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="number" id="updateStudentPhoneNumber" placeholder="Enter phone number"
                            class="form-control" name="phoneNumber" [(ngModel)]="updatedStudentInfo.phoneNo"
                            onKeyPress="if(this.value.length==10) return false;">
                        <small *ngIf="updatePhoneError" id="emailHelp" class="form-text text-muted">*Please enter phone
                            number</small>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Class(es)</h5>
                    </div>
                    <div class="col-sm-6" *ngIf="comservice.cbsObj != undefined">
                        <ng-multiselect-dropdown [placeholder]="'--Select Classes--'"
                            [data]="comservice.cbsObj.allClasses" [(ngModel)]="updateClassInfo"
                            [settings]="dropdownSettings2" style="color:black;">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Board</h5>
                    </div>
                    <div class="col-sm-6" *ngIf="comservice.cbsObj != undefined">
                        <ng-multiselect-dropdown [placeholder]="'--Select Board--'" [data]="comservice.cbsObj.allBoards"
                            [(ngModel)]="updateBoardInfo" [settings]="dropdownSettingsBoard" style="color:black;">
                        </ng-multiselect-dropdown>

                    </div>
                    <div class="col-sm-3"></div>
                </div>


                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Reset password to</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="password" onKeyPress="if(this.value.length==15) return false;"
                            placeholder="Enter Password" class="form-control" name="studentPassword"
                            [(ngModel)]="updatedStudentInfo.studentPassword">
                    </div>
                    <div class="col-sm-3"></div>
                </div>


                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div style="float: right;" class="col-sm-6">
                        <button class="btn btn-primary btn-pill"
                            (click)="updateStudent(updatedStudentInfo,updateClassInfo,updateBoardInfo)">Update</button>
                        <button type="button" class="btn btn-primary btn-pill" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="downloadStudentReport" class="modal fade modal-open">
    <div class="modal-dialog" style="max-width: 90%; top:0%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{studentName}}'s Report</h4>
                <button type="button" id="closeUpdateModal" class="close" data-dismiss="modal">&times;</button>
                <div *ngIf="loadingReport" style="z-index: 1000;" class="loading">
                    <div>
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>
            </div>
            <div class="modal-body">

                <div class="scrollableTable">
                    Select Start Date
                    <kendo-datepicker [ngModelOptions]="{standalone: true}" [(ngModel)]="startDate" name="startDate">
                    </kendo-datepicker>
                    and End Date
                    <kendo-datepicker [(ngModel)]="endDate" name="endDate"></kendo-datepicker>
                    <button class="btn btn-primary" style="float: right;cursor: pointer;border-radius:12%;" id="print"
                        (click)="getStudentReport(startDate, endDate)">Get
                        Report</button>

                    <button class="btn btn-primary" *ngIf="showPrint" title="Print report" id="print"
                        (click)="printReport()" style="float: right;cursor: pointer;border-radius:12%;">
                        Print Report
                    </button>
                </div>
                <div *ngIf="!showTable">
                    {{courseInfo}}
                </div>
                <div *ngIf="showTable">
                    <div *ngIf="courseInfo.length == 0">
                        No schedule class for this student in this date
                    </div>
                    <div *ngIf="courseInfo.length > 0">
                        <br>
                        <b>Total scheduled classes in past: </b>{{totalCounts.totalPastClassCount}}
                        <br>
                        <b>Total live class(es) joined: </b>{{totalCounts.totalPastJoinClassCount}}
                        <br>
                        <b>Total live class(es) missed:
                        </b>{{totalCounts.totalPastClassCount - totalCounts.totalPastJoinClassCount}}
                        <br>
                        <div class="scrollableTable">
                            <table style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Course Name</th>
                                        <th rowspan="2">Topic</th>
                                        <th rowspan="2">Class</th>
                                        <th rowspan="2">Subject</th>
                                        <th rowspan="2">Date</th>
                                        <th colspan="3" style="text-align: center;">Scheduled Class(es)</th>
                                        <th colspan="4" style="text-align: center;">Conducted Class(es)</th>

                                    </tr>
                                    <tr>
                                        <th>Teacher</th>
                                        <th>Scheduled Start Time</th>
                                        <th>Scheduled End Time</th>
                                        <th>Live Class Start Time</th>
                                        <th>Live Class End Time</th>
                                        <th>Student Joined</th>
                                        <th>Teacher Joined</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let y of courseInfo">

                                    <tr>
                                        <td rowspan="10">
                                            {{y.courseTitle}}
                                        </td>
                                        <td rowspan="10">
                                            {{y.topic ? y.topic : "-"}}

                                        </td>
                                        <td rowspan="10">
                                            {{y.className}}th
                                        </td>
                                        <td rowspan="10">
                                            {{y.subjectName}}
                                        </td>
                                        <td rowspan="10">
                                            {{y.scheduleClassDate}}
                                        </td>
                                        <td rowspan="10">
                                            {{y.teacherName}}
                                        </td>
                                        <td rowspan="10">
                                            {{y.scheduleClassStartTime}}
                                        </td>
                                        <td rowspan="10">
                                            {{y.scheduleClassEndTime}}
                                        </td>
                                    </tr>
                                    <tr *ngIf="y.virtualClassInfo.length == 0">
                                        Nobody joined
                                    </tr>
                                    <tr *ngFor="let y1 of y.virtualClassInfo">

                                        <td colspan="1">
                                            {{y1.virtualClassStartTime ? y1.virtualClassStartTime : "-"}}
                                        </td>
                                        <td colspan="1">
                                            {{y1.virtualClassEndTime ? y1.virtualClassEndTime : "-"}}
                                        </td>
                                        <td colspan="1" *ngIf="y.scheduleClassStatus == 'Future'">
                                            <span style="color: green;">Future class</span>
                                        </td>
                                        <td colspan="1" *ngIf="y.scheduleClassStatus == 'Past'">
                                            <span *ngIf="y.joinStatus == true">Yes</span>
                                            <span *ngIf="y.joinStatus == false" style="color: red;">Student missed the
                                                class</span>

                                        </td>
                                        <td colspan="1" *ngIf="y.scheduleClassStatus == 'Present'">
                                            <span style="color: blue;">Currently scheduled class</span>
                                        </td>

                                        <td colspan="1" *ngIf="y.scheduleClassStatus == 'Future'">
                                            <span style="color: green;">Future class</span>
                                        </td>
                                        <td colspan="1" *ngIf="y.scheduleClassStatus == 'Past'">
                                            <span *ngIf="y1.noOfModerator > 0">Yes</span>
                                            <span *ngIf="y1.noOfModerator == 0" style="color: red;">Teacher
                                                missed the class</span>
                                            <span
                                                *ngIf="y1.virtualClassInfo == 'Virtual class information is not available'"
                                                style="color: red;">Teacher missed the class</span>
                                        </td>
                                        <td colspan="1" *ngIf="y.scheduleClassStatus == 'Present'">
                                            <span style="color: blue;">Currently scheduled class</span>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="registerStudentInBulk" class="modal fade modal-open">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add Students In Bulk</h4>
                <button type="button" id="closeUpdateModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <div *ngIf="loadingBulkStudent" style="z-index: 1000;" class="loading">
                            <div>
                                <img width="100px" height="50px" src="../../assets/spinner.gif">
                            </div>
                        </div>
                <div class="row">
                    <div class="col-sm-12">
                        Download the formatted excel sheet and fill in the details of your students in same format<br>
                        <a href="../../../resources/StudentExcelData.xlsx" download>
                            <button class="btn-sm btn-primary">Download excel from here &nbsp;<i
                                    class="fa fa-download"></i></button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        Upload the excel sheet filled with your student information<br>
                        <a onclick="document.getElementById('excelUpload').click()">
                            <button class="btn-sm btn-primary">Upload filled excel sheet here
                                &nbsp;<i class="fa fa-upload"></i>
                            </button>
                        </a>
                        <input style="opacity: 0;" type="file" id="excelUpload" (change)="uploadExcel($event)"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>