.loading {
    position: fixed;
    left: 45%;
    top: 50%;
}

.buttonflash {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% {
        background-color: #008000;
        -webkit-box-shadow: 0 0 3px #008000;
    }
    50% {
        background-color: #00e600;
        -webkit-box-shadow: 0 0 40px #00e600;
    }
    100% {
        background-color: #008000;
        -webkit-box-shadow: 0 0 3px #008000;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #008000;
        -moz-box-shadow: 0 0 3px #008000;
    }
    50% {
        background-color: #00e600;
        -moz-box-shadow: 0 0 40px #00e600;
    }
    100% {
        background-color: #008000;
        -moz-box-shadow: 0 0 3px #008000;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #008000;
        box-shadow: 0 0 3px #008000;
    }
    50% {
        background-color: #00e600;
        box-shadow: 0 0 40px #00e600;
    }
    100% {
        background-color: #008000;
        box-shadow: 0 0 3px #008000;
    }
}

@keyframes glowing {
    0% {
        background-color: #008000;
        box-shadow: 0 0 3px #008000;
    }
    50% {
        background-color: #00e600;
        box-shadow: 0 0 40px #00e600;
    }
    100% {
        background-color: #008000;
        box-shadow: 0 0 3px #008000;
    }
}


/* iframe {
    max-width: 100%;
    max-height: 100%;
} */

.wc-box {
    position: absolute;
    top: calc(14% - 75px);
    right: calc(8% - 45px);
}

@media only screen and (max-device-width: 480px) {
    .wc-box {
        position: absolute;
        top: calc(14% - 75px);
        right: calc(17% - 45px);
    }
    .btn-box {
        display: block;
    }
}

@media only screen and (max-device-width: 600px) {
    .wc-box {
        position: absolute;
        top: calc(14% - 75px);
        right: calc(17% - 45px);
    }
    .btn-box {
        position: absolute;
        top: calc(14% - 75px);
        right: calc(33% - 45px);
    }
    ;
}

.btn-box {
    position: absolute;
    top: calc(14% - 75px);
    right: calc(15% - 45px);
}

.btn-box div:before,
.btn-box div:after {
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    position: absolute;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.wc-box div {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
}

.wc-box div:before,
.wc-box div:after {
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    content: " ";
    position: absolute;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.close {
    margin-top: 0px!important;
}

.wc-box .minimize:before {
    border-bottom-width: 2px;
}

.wc-box .refresh:before {
    border-bottom-width: 2px;
}

.wc-box .maximize:before {
    border-width: 1px 1px 2px 1px;
}

.wc-box .close:before,
.wc-box .close:after {
    bottom: 50%;
    top: 50%;
}

.wc-box .close:before {
    transform: rotate(45deg);
}

.wc-box .close:after {
    transform: rotate(-45deg);
}

.wc-box div:hover {
    background-color: #CCCCCC;
}

.wc-box .close:hover {
    background-color: #E04343;
}

.wc-box div:hover:after,
.wc-box div:hover:before {
    border-color: #333333;
}

.wc-box .close:hover:after,
.wc-box .close:hover:before {
    border-color: #FFFFFF;
}


  /* .k-picker-wrap
  {border-color:rgb(250, 42, 42);}  */
  a{
    cursor: pointer;
}
