<div *ngIf="loading" style="z-index: 1000;" class="loading">
    <div>
        <img width="100px" height="50px" src="../../assets/spinner.gif">
    </div>
</div>
<div style="height: 700px;" id="schedulediv" class="main">

    <ng-template #modalContent let-close="close">
        <div>
            <div class="modal-header">
                <b>Class Details :</b>
                <a data-dismiss="modal" (click)="close()" id="closeModalJoin"> <i class="fa fa-close"
                        style="cursor: pointer;"></i></a>

            </div>
            <div class="modal-body" *ngIf="modalData != null">
                <div *ngIf="loading" style="z-index: 1000;" class="loading">
                    <div>
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12" *ngIf="comservice.myUserRole != 'student'">
                        <button (click)="Editform()" class="btn btn-success"
                            *ngIf="editable == false && comservice.allowEditSchedule" style="float: right;"
                            [disabled]="disableStartdate">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Course Title
                    </div>
                    <div class="col-sm-4">
                        <b>{{courseTitle}}</b>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Topic
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="modalData.event.meta.topic"
                            placeholder="Enter topic to be covered in this class" *ngIf="editable == true">
                        <b *ngIf="editable == false">{{modalData.event.meta.topic ? modalData.event.meta.topic : "NA"}}
                        </b>
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-sm-4">Date</div>
                    <div class="col-sm-4">
                        <kendo-datepicker [(ngModel)]="startDateToUpdate" placeholder={{startDateToUpdate}}
                            *ngIf="editable == true" [disabled]="comservice.myUserRole == 'teacher'"
                             [disabledDates]="disabledDates">
                        </kendo-datepicker>
                        <b *ngIf="editable == false">{{eventStartDateToUpdate}}</b>
                    </div>
                </div>
                
                <div class="row form-group">
                    <div class="col-sm-4">
                        Start Time
                    </div>
                    <div class="col-sm-5">
                        <div *ngIf="editable == true">
                                <div class="k-datetimepicker">
                                        <div class="k-picker-wrap" id="updateStartTime">
                                                <kendo-timepicker [(ngModel)]="startTimeToUpdate"
                                                [disabled]="comservice.myUserRole == 'teacher'" name="startTimeToUpdate"
                                                placeholder={{eventStartTime}} ></kendo-timepicker>
                                        </div>
                                    </div>
                           
                        </div>
                        <b *ngIf="editable == false">{{eventStartTime}}</b>
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        End Time
                    </div>
                    <div class="col-sm-5">
                            <div *ngIf="editable == true">
                                    <div class="k-datetimepicker">
                                            <div class="k-picker-wrap" id="updateEndTime">
                                                    <kendo-timepicker [(ngModel)]="endTimeToUpdate" name="eventEndTime"
                                [disabled]="comservice.myUserRole == 'teacher'" placeholder={{endTimeToUpdate}}
                                ></kendo-timepicker>
                                            </div>
                                        </div>
                               
                            </div>
                           
                                <small *ngIf="endTimeLessThenStartTimeError" class="form-text text-muted">*End time should be greater then start time</small>
                       
                        <b *ngIf="editable == false">{{eventEndTime}}</b>
                    </div>
                   
                </div>
                <div class="row form-group" *ngIf="comservice.myUserRole == 'cc'">
                    <div class="col-sm-4">
                        Teacher
                    </div>
                    <div class="col-sm-4">
                        <select *ngIf="editable == true" class="form-control"
                            [(ngModel)]="modalData.event.meta.teacherId" id="addTeacherId" name="teacherName"
                            formdata=true>
                            <option [ngValue]="undefined" disabled selected>--Select Teacher --</option>
                            <option *ngFor="let x of teacherDetails" value="{{x.teacherInfo.teacherId}}">
                                {{x.teacherInfo.teacherName}}</option>
                        </select>
                        <b *ngIf="editable == false">{{modalData.event.meta.teacherName}}</b>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Subject
                    </div>
                    <div class="col-sm-4" *ngIf="modalData.event.meta.subject != null">
                        <b>{{modalData.event.meta.subject.subjectName}}</b>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Class
                    </div>
                    <div class="col-sm-4" *ngIf="modalData.event.meta.class != null">
                        <b>{{modalData.event.meta.class.className}}</b>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6" *ngIf="disableStartdate && comservice.myUserRole == 'cc'">
                        <b style="color: #ff5500">*Past classes cannot be updated</b>
                    </div>
                    <div class="col-sm-4" *ngIf="comservice.myUserRole == 'student' && editable == true">
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-danger" data-dismiss="modal" *ngIf="editable == true"
                            (click)="cancelForUpdateSc()" style="float: right;margin-left: 3px;">Cancel</button>
                        <button (click)="updateDetails(modalData.event.meta.topic,modalData.event.meta.teacherId)"
                            class="btn btn-success" *ngIf="editable == true" style="float: right;">
                            <b>Save</b>
                        </button>
                        <button
                            *ngIf="(comservice.myUserRole == 'student'|| comservice.myUserRole == 'teacher') && editable == false && showJoinButton"
                            class="buttonflash" style="float: right;" id="joinButton"
                            (click)="joinMeeting(modalData.event.meta.scId,courseTitle)"
                            [disabled]="disabledButton">
                            Join Class
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>
    <div >
        <div class="row text-center">
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Previous
                    </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                        Today
                    </div>
                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Next
                    </div>
                </div>
                <div class="row" *ngIf="comservice.myUserRole != 'teacher'">
                    <div class="col-md-12 btn-group mt-3">

                        <div class="col-md-8">
                            <ng-multiselect-dropdown style="display: inline;width: 230px!important;"
                                [placeholder]="'-- Select Teacher --'" [data]="teacherListForFilterSchedule"
                                [(ngModel)]="filterTeacher" [settings]="dropdownSettingsTeacher"
                                id="selectedClassToUpdate">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="col-md-2">
                            <button style="border-radius: 20px;" class="btn-sm btn-primary btn-pill ml-2"
                                (click)="filterScheduledClasses()">
                                Filter
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button style="border-radius: 20px;" class="btn-sm btn-primary btn-pill ml-2"
                                (click)="clearFilter()">
                                Clear
                            </button>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                <button class="btn btn-primary"
                    *ngIf="comservice.allowAddSchedule && comservice.myUserRole != 'student'" data-target="#addSc"
                    (click)="addScCLassRemoveValidation()" data-toggle="modal">
                    Schedule New Class
                </button>
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" (click)="view = CalendarView.Month"
                        [class.active]="view === CalendarView.Month">
                        Month
                    </div>
                    <div class="btn btn-outline-secondary" (click)="view = CalendarView.Week"
                        [class.active]="view === CalendarView.Week">
                        Week
                    </div>
                    <div class="btn btn-primary" (click)="view = CalendarView.Day"
                        [class.active]="view === CalendarView.Day">
                        Day
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                id="openDivForSC" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)" [dayStartHour]="5" [dayEndHour]="24">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                id="openDivForSC" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)" [dayStartHour]="5" [dayEndHour]="24">
            </mwl-calendar-day-view>
        </div>
    </div>
</div>

<div id="addSc" class="modal fade modal-open" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <b>Add New Class's Details</b>
                <i class="fa fa-close float-right" id="closeAddSc" style="cursor: pointer;" data-dismiss="modal"></i>
                <!-- <button type="button" class="close float-right" id="closeAddSc" 
          data-dismiss="modal">&times;</button> -->
            </div>
            <div class="modal-body">
                    <div *ngIf="loading" style="z-index: 1000;" class="loading">
                            <div>
                                <img width="100px" height="50px" src="../../assets/spinner.gif">
                            </div>
                        </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Course Name
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="addCourseId" id="addCourseId"
                            (change)="setTeacher($event)" name="courseName" formdata=true>
                            <option [ngValue]="undefined" disabled selected>--Select Course --</option>
                            <option *ngFor="let x of allCourses" value="{{x.courseId}}">
                                {{x.title}}
                            </option>
                        </select>
                        <small *ngIf="scCourseError" class="form-text text-muted">*Please select course</small>  
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Teacher
                    </div>
                    <div class="col-sm-8">
                        <select *ngIf="comservice.myUserRole == 'cc'" class="form-control" [(ngModel)]="addTeacherId"
                            id="teacherIdForCreateNewSc" name="teacherName" formdata=true>
                            <option value="undefined" disabled selected>--Select Teacher --</option>
                            <option *ngFor="let x of teacherDetails" value="{{x.teacherInfo.teacherId}}">
                                {{x.teacherInfo.teacherName}} </option>
                        </select>
                        <small *ngIf="scTeacherError" class="form-text text-muted">*Please select teacher</small>
                        <input type="text" class="form-control" disabled *ngIf="comservice.myUserRole == 'teacher'"
                            placeholder="{{comservice.myUserName}}">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Topic
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="topic"
                            placeholder="Enter topic to be covered in this class">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">Date</div>
                    <div class="col-sm-8">
                        <div class="k-datetimepicker">
                            <div class="k-picker-wrap" id="addStartDate">
                                <kendo-datepicker [(ngModel)]="addStartDate" 
                                    [disabledDates]="disabledDates" placeholder="Enter Date"></kendo-datepicker>
                            </div>
                        </div>
                        <small *ngIf="scStartDateError" class="form-text text-muted">*Please select date</small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Start Time
                    </div>
                    <div class="col-sm-8">
                        <div class="k-datetimepicker">
                            <div class="k-picker-wrap" id="addStartTime">
                                <kendo-timepicker [(ngModel)]="addStartTime"  name="addStartTime"
                                placeholder="Start Time">
                            </kendo-timepicker>
                            </div>
                        </div>

                  
                        <small *ngIf="scStartTimeError" class="form-text text-muted">*Please select start time</small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        End Time
                    </div>
                    <div class="col-sm-8">
                        <div class="k-datetimepicker">
                            <div class="k-picker-wrap" id="addEndTime">
                                <kendo-timepicker [(ngModel)]="addEndTime"  name="end_time"
                                placeholder="End Time">
                            </kendo-timepicker>
                            </div>
                        </div>

                        
                        <small *ngIf="scEndTimeError" class="form-text text-muted">*Please select end time</small>
                        <small *ngIf="endTimeLessThenStartTimeError" class="form-text text-muted">*End time should be greater then start time</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-danger" style="float: right; margin-left: 3px;" (click)="clearModal()"
                            data-dismiss="modal">Cancel</button>
                        <button (click)="addNewSc(addCourseId,addTeacherId,topic,addStartDate,addStartTime,addEndTime)"
                            class="btn btn-primary" [disabled]="disabledButton" style="float: right;">
                            <b>Schedule</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


     