	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/03/2019 11:46
  	*/

@font-face {
  font-family: "Flaticon";

  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-reload:before { content: "\f100"; }
.flaticon-download:before { content: "\f101"; }
.flaticon-monitor:before { content: "\f102"; }
.flaticon-chat:before { content: "\f103"; }
.flaticon-glasses:before { content: "\f104"; }
.flaticon-vector:before { content: "\f105"; }