<div class="site-section container" style="padding-top : 120px ;" data-aos="fade-up" data-aos-delay="200">
    <div>
        <div class="row" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
                <div class="row clock_sec" style="color: black !important;">
                    <div class="col-lg-12">

                        <h1 style="color: black !important;">Coaching Institutes</h1>
                        <h5>Features provided to coaching institutes</h5>

                    </div>
                    <div class="col  clockinner">
                        <i class="fa fa-group" style="font-size:56px"></i>
                        <br>
                        <br>
                        <h6>Add Teachers & Students</h6>
                    </div>
                    <div class="col clockinner ">
                        <i class="fa fa-calendar" style="font-size:56px"></i>
                        <br>
                        <br>
                        <h6>Manage Schedule</h6>
                    </div>
                    <div class="col clockinner ">
                        <i class="far fa-address-book" style="font-size:56px"></i>
                        <br>
                        <br>
                        <h6>1 Stop Admin Portal</h6>

                    </div>
                    <div class="col clockinner ">
                        <i class="fas fa-rupee-sign" style="font-size:56px"></i>
                        <br>
                        <br>
                        <h6>Handle Payments</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <iframe class="mobile-widthForCcVideo" width="630" height="400" frameborder="0"
                    style="border-radius: 7%; padding-right: 10px;" allowfullscreen
                    src="">

                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="registration_area">
    <div class="container ">
        <div data-aos="fade-up" data-aos-delay="100">
            <h2 style="text-align: center; padding: 30px 0px 30px 0px">How LearningPod Works</h2>
        </div>
        <div class="mb-2 mt-2 tileColorTeacher " >
            <a class="tileColorTeacher">
                <div class="row">
                    <div class="col-md-4">
                        <iframe class="widthForTSvideo"
                            style="width:450px; height: 220px;border-radius: 25px; padding: 6px 6px 4px 15px;"
                            frameborder="0" allowfullscreen src="">
                        </iframe>
                    </div>
                    <div style="color: black;" class="col-md-8 ">
                        <h2 style="text-align: center; padding-top: 10px;">For Teachers</h2>
                        <div class="footer-area">
                            <div class="footer-bottom">
                                <div class="footer-social" style="text-align: center; padding-top: 20px">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">
                                            <a>
                                                <i class="fa fa-user-plus"></i>
                                            </a>
                                            <h6 class="pad-title">Login</h6>
                                        </div>
                                        <div class="col-md-3">
                                            <a>
                                                <i class="far fa-newspaper"></i>
                                            </a>
                                            <h6 class="pad-title">View Schedule</h6>
                                        </div>
                                        <div class="col-md-3">
                                            <a>
                                                <i class="fas fa-chalkboard-teacher"></i>
                                            </a>
                                            <h6 class="pad-title">Start Teaching</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>



        <div class="pb-5 pt-5" >
            <a class=" rightAlignedDiv">
                <div class="row  tileColorStudent">
                    <div style="color: black;" class="col-md-6">
                        <h2 style="text-align: center; padding-top: 10px;">For Students</h2>
                        <div class="footer-area">
                            <div class="footer-bottom">
                                <div class="footer-social" style="text-align: center; padding-top: 20px">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a>
                                                <i class="fa fa-user-plus"></i>
                                            </a>
                                            <h6 class="pad-title">Login</h6>
                                        </div>
                                        <div class="col-md-4">
                                            <a>
                                                <i class="far fa-newspaper"></i>
                                            </a>
                                            <h6 class="pad-title">View Schedule</h6>
                                        </div>
                                        <div class="col-md-4">
                                            <a>
                                                <i class="fas fa-laptop-code"></i>
                                            </a>
                                            <h6 class="pad-title">Start Learning</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <iframe class="widthForTSvideo"
                            style="width:450px; border-radius: 25px;height: 220px; padding: 6px 6px 4px 10px; "
                            frameborder="0" allowfullscreen src="">
                        </iframe>
                    </div>
                </div>
            </a>
        </div>

        <!-- container ends -->


    </div>
</div>

<div class="site-section" style="padding: 50px 10px 10px 20px;" >
    <div class="row ">
        <div class="col-lg-6">
            <div class="row" style="padding-bottom: 40px; ">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center" style="margin-top: 100px;">
                    <div class="single_department">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967264/LearningPod/features/icon2_hd2w2t_rspnlq.png"
                            alt="">

                        <h4>Record Classroom Sessions</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center" >
                    <div class="single_department">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967264/LearningPod/features/icon1_kr6ccb_xpdh0m.png"
                            alt="">

                        <h4>Chat Integration</h4>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center " style="margin-top: 100px;"
                    >
                    <div class="single_department">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967264/LearningPod/features/icon3_vs98ef_n2fhjp.png"
                            alt="">

                        <h4>Whiteboard Integration</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center" >
                    <div class="single_department">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967264/LearningPod/features/icon4_vfuirs_ok2fjc.png"
                            alt="">

                        <h4>Share Study Material</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center " style="margin-top: -100px;"
                   >
                    <div class="single_department">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967264/LearningPod/features/icon5_hw03vl_ynnj5w.png"
                            alt="">

                        <h4>Audio/Video Live Streaming</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
                    <div class="single_department">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967264/LearningPod/features/icon6_lc8zsp_xo2a1j.png"
                            alt="">

                        <h4>Share Desktop Screen</h4>
                    </div>
                </div>
                <div class="offset-lg-4 col-lg-4 col-md-4 col-sm-6 col-12 text-center"
                    style="padding-top:20px;margin-top: -100px;" >
                    <div class="single_department">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967264/LearningPod/features/icon7_o86y6n_snegh3.png"
                            alt="">

                        <h4>Conduct Polls</h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 benefits" id="faq">

            <h1>Benefits</h1>
            <ul>
                <li>
                    Live classes available for greater understanding at your own convenience
                </li>
                <li>
                    To make sessions more interactive teachers share notes and study material
                </li>
                <li>
                    Join class with smartphone/laptop/desktop with internet connection
                </li>
                <li>
                    Chat during a live session which benefits students to ask doubts between the class
                </li>
                <li>
                    Learning Pod provides virtual whiteboard during a live session for a realistic experience of a
                    classroom
                </li>
                <li>
                    Discuss topics before or after the class with classmates, teachers and fellow students
                </li>
                <li>
                    Cut down on travelling cost and time by taking class at the convience of home
                </li>
                <li>
                    High quality audio, video, screenshare sessions with best reviewed teachers
                </li>
            </ul>
        </div>
    </div>
</div>

<div >
    <div id="colorlib-subscribe"
        style="background-image: url(https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967269/LearningPod/features/features-bg1_s8hryq_turycs.jpg);">
        <div class="container fact_area overlay">
            <div class="row justify-content-center pb-2" >
                <h1>Frequently Asked Questions</h1>
            </div>
            <div class="row" >

                <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#benefitModal" style="cursor: pointer;">
                    <div class="single_fact">
                        <div class="f_icon">
                            <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967263/LearningPod/features/icon1_geyhc8_oaoint.png"
                                alt="">
                            <span style="font-size: 30px; justify-content: center">&nbsp;Benefits</span>

                        </div>

                        <ul class="textColor">
                            <li>What are the benefit of using this platform?</li>
                            <li>How does this platform help my class grow?</li>
                            <li>How does this platform help the students?</li>
                            <li>How does this platform help the teachers?</li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#gettingStartedModal"
                    style="cursor: pointer;">
                    <div class="single_fact">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967263/LearningPod/features/icon2_scgsaj_bms8s4.png"
                            alt="">
                        <span style="font-size: 30px; justify-content: center">&nbsp;Getting Started</span>


                        <ul class="textColor">
                            <li>What is this platform?</li>
                            <li>Who is building this platform?</li>
                            <li>How do I start using this platform?</li>
                            <li>How to access your account?</li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#openUsageModal">
                    <div class="single_fact">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967263/LearningPod/features/icon3_d5rfef_ah0wjh.png"
                            alt="">
                        <span style="font-size: 30px; justify-content: center">&nbsp;Usage</span>

                        <ul class="textColor">
                            <li>How do I deliver my classes?</li>
                            <li>How do the students access these classes?</li>
                            <li>What are the logistics to use this platform? </li>
                            <li>What happens if I face any technical difficulties with the setup during my class? </li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#openPaymentModal"
                    style="cursor: pointer;">
                    <div class="single_fact">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967263/LearningPod/features/icon4_ftgpqi_e7guv5.png"
                            alt="">
                        <span style="font-size: 30px; justify-content: center">&nbsp;Payment</span>

                        <ul class="textColor">
                            <li>How much am I expected to pay for these online services? </li>
                        </ul>


                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#openEnrollmentModal"
                    style="cursor: pointer;">
                    <div class="single_fact">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967263/LearningPod/features/icon5_tskheo_dbixbw.png"
                            alt="">
                        <span style="font-size: 30px; justify-content: center">&nbsp;Enrollment</span>

                        <ul class="textColor">
                            <li>Who can enroll to courses?</li>
                            <li>How to enroll to courses?</li>
                            <!-- <li>What does pay online and pay in cash refers to?</li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#openSupportModal"
                    style="cursor: pointer;">
                    <div class="single_fact">

                        <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967263/LearningPod/features/icon6_ryjpck_klfaps.png"
                            alt="">
                        <span style="font-size: 30px; justify-content: center">&nbsp;Support</span>

                        <ul class="textColor">
                            <li>How can I reach the support team?</li>
                            <li>What support can I expect from the Classroom team?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-section pt-5 pb-2 bg-white" style="background-color: #353a3f!important">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 style="color: #fff;">Contact Info</h3>
                <ul class="list-unstyled">
                    <li>
                        <a class="lnk" href="">
                            <i class="icon glyphicon glyphicon-home"></i> CoffeeBeans Technologies, <br></a>

                    </li>
                    <li style="color: #fff">c/o, Regus Ruby Business Center,<br>Unit 801, 8th Floor, World Trade Center,
                        Tower-1,
                        <br>Kharadi, PUNE (MH)- 411014.</li>
                    <li>
                        <a href="" class="lnk">
                            <i class="fa fa-phone"></i> + 912067109018</a>
                    </li>
                    <li>
                        <a class="lnk" href="mailto:support@learningpod.in">
                            <i class="fa fa-envelope"></i> support@learningpod.in
                        </a>
                    </li>
                    <li>
                        <a class="lnk" href="http://coffeebeanstechnologies.com" target="_blank">
                            <i class="fa fa-globe"></i> coffeebeanstechnologies.com
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 ml-auto">
                <h3 style="color: #fff;">Links</h3>
                <ul class="list-unstyled footer-links">
                    <li>
                        <a href="../../../resources/Brochure.pdf" download>
                            <i class="fa fa-file-pdf-o"></i> Download Brochure</a>
                    </li>
                    <li>
                        <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
                    </li>
                    <li>
                        <a [routerLink]="['/help']">LearningPod Tutorials</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3 style="color: #fff;">Get in touch</h3>
                <p style="color: #fff;" class="lnk">Become part of LearningPod today</p>
                
            </div>

        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p style="color: #fff;" class="lnk">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> made with
                        <i class="fa fa-heart" aria-hidden="true"></i> by
                        <a href="https://coffeebeanstechnologies.com" target="_blank" style="color: white">CoffeeBeans
                            Technologies
                        </a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="benefitModal" style="color: black" class="modal fade " role="dialog">
    <div class="modal-dialog modal-lg modal-open">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(255, 209, 111)">
                <h4>Benefits</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <b>Q </b> What are the benefits of using this platform?
                <br>
                <b>A </b>Some of the main benefits of LearningPod are high quality audio/video sessions with the
                teachers from your coaching institute, including features like screenshare, whiteboard integration, live
                chat, and record classes, etc. The platform frees the teachers and the students from all the logistical
                hassles of daily commute and classroom management.
                <br>
                <br>
                <b>Q </b>How does this platform help my class grow?
                <br>
                <b>A </b>Grow your class by getting an online presence with LearningPod and connect with students from
                across the globe. Digital mode of teaching can enable you to grow your class exponentially.
                <br>
                <br>
                <b>Q </b>How does this platform help the students?
                <br>
                <b>A </b>It cuts down their travelling time and cost and helps students take classes anytime, anywhere,
                on any device handy at the moment. They can access notes and recorded classes later for reference/
                clarity. The platform also allows the students to take classes from teachers from far away or from other
                cities.
                <br>
                <br>
                <b>Q </b>How does this platform help the teachers?
                <br>
                <b>A </b>Teachers can manage their schedules easily with LearningPod. It also gives them the flexibility
                to conduct a class anytime, anywhere with minimum infrastructure and setup. The online way of classes
                helps the teachers reach more students globally.
            </div>
        </div>
    </div>
</div>

<div id="gettingStartedModal" style="color: black" class="modal fade " role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(231, 111, 255)">
                <h4>Getting Started</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <b>Q </b> What is this platform?
                <br>
                <b>A </b>LearningPod provides remote students a high-quality online learning experience using
                audio-video conferencing, live chat, whiteboard integration and screen-share facilities. It integrates
                schedule management, course and payment management, and other admin solutions for the coaching
                institutes.
                <br>
                <br>
                <b>Q </b>Who is building this platform?
                <br>
                <b>A </b>We are a bunch of self-starters with diverse experiences and skillsets collaborating to produce
                not just an effective, excellent product but also a well-rounded, talented, fun team. All the team
                members represent the spirit of our company: driven, committed, and aware of our limitless potential to
                grow.
                <br>
                <br>
                <b>Q </b>How do I start using this platform?
                <br>
                <b>A </b>Getting started is fairly simple.
                <br>Coaching Class : Register on our platform -> Add teachers, students, create courses, manage schedule
                & payments
                <br>Teachers : Log in using the credentials provided by the Coaching institute -> Create course -> Join
                class & start teaching
                Students : Log in using the credentials provided by your Coaching institute -> Browse & enrol in course
                -> Join class & start learning

                <br>
                <br>
                <b>Q </b>How to create and access your account?
                <br>
                <b>A </b>For first time users, register on our homepage with your phone number, institute’s name, and an
                access code provided by the central team.
                Thereafter to access your account, use your registered phone number and password to enter the world of
                LearningPod. In case you forget your password click on “Forgot password” and follow the steps.

            </div>
        </div>
    </div>
</div>

<div id="openUsageModal" style="color: black" class="modal fade " role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(111, 238, 255)">
                <h4>Usage</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <b>Q </b>How can teachers deliver their classes?
                <br>
                <b>A </b>Teachers can deliver their classes on the go by just logging into the platform -> View Schedule
                & Join Class on the scheduled date and time. You can use interactive features such as virtual
                whiteboard, screensharing, live chat to answer students’ questions, share notes/ readings, etc.
                <br>
                <br>
                <b>Q </b>How do the students access these classes?
                <br>
                <b>A </b>After logging into LearningPod using the credentials provided by the Coaching institute, the
                students can enrol in a teacher’s specific course available on our platform. These students will be able
                to join the classes on their Schedule live from anywhere, and use all the related material/notes through
                the platform at any point.
                <br><br><b>Q </b>What are the logistics to use this platform?
                <br><b>A </b>To use the platform you need a strong internet connection, a computer or a mobile with
                camera and microphone. Camera is an optional requirement but strongly recommended for optimal use. A
                strong internet connection ensures a seamless connection during the online classes.
                <br>
                <br>
                <b>Q </b>What happens if I face any technical difficulties with the setup during my class?
                <br>
                <b>A </b>If you face any technical issues using LearningPod, you can contact us directly via the contact
                number or the email address provided on the platform.
            </div>
        </div>
    </div>
</div>

<div id="openPaymentModal" style="color: black" class="modal fade " role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(111, 238, 255)">
                <h4>Payments</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <b>Q </b>How much am I expected to pay for these online services?
                <br>
                <b>A </b>Since each coaching institute has a varying demand depending on the number courses they offer
                and the number of students they cater to, we encourage you write to us with your requirements on
                support@learningpod.in to get the best quote.
                <br><br>
                <b>Q </b>Do students have to pay anything to use LearningPod?
                <br>
                <b>A </b>No, the students do not have to pay anything to log into LearningPod and join their classes, as
                they need to sign up with the coaching institute for their chosen courses.
            </div>
        </div>
    </div>
</div>

<div id="openEnrollmentModal" style="color: black" class="modal fade " role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(255, 209, 111)">
                <h4>Enrollment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <b>Q </b>Who can enroll to courses?
                <br>
                <b>A </b>Any student who has already registered and paid for a certain course at their chosen coaching
                institute, can then using the credentials provided by their coaching institute, log in and enrol in that
                course to attend their classes on LearningPod.
                <br>
                <br>
                <b>Q </b>How to enroll to courses?
                <br>
                <b>A </b>Students need to first enrol in a course at their chosen coaching institute which will help
                them set-up their login credentials, using these they can login and click to enrol in the specific
                course provided by their coaching institute on LearningPod. Thereafter, these students will be able to
                view their enrolled classes in their schedule and can join them live on the scheduled date and time.
                <!-- <br>
                <br>
                <b>Q </b>What does pay online and Already Paid refers to?
                <br>
                <b>A </b>Pay Online: It refers to making payment online for a course via debit card or paytm wallet.
                <br>Already Paid: It is for the students who have already paid to that teacher in cash. -->
            </div>
        </div>
    </div>
</div>

<div id="openSupportModal" style="color: black" class="modal fade " role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(231, 111, 255)">
                <h4>Support</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <b>Q </b>How can I reach the support team?
                <br>
                <b>A </b>To reach support team call us at +91-8459412734 or write to us at
                support@learningpod.in
                <br>
                <br>
                <b>Q </b>What support can I expect from the support team?
                <br>
                <b>A </b>Our support team would be happy to guide you on how to use the platform, help with setting up
                or creating your account, signing up your students, with any technical issues in setting up/ conducting
                classes, issues with accessing material via the platform, etc.

            </div>
        </div>
    </div>
</div>