
.tileColorTeacher{
  background-color: #e3ccff;
max-width: 950px;
border-radius: 15px;
}
.tileColorStudent{
  background-color: #e3ccff;
max-width: 1050px;
border-radius: 15px;
margin-left: 170px !important;
}
.textColor{
  color: white;
}

.benefits li{
  padding-top: 20px;
}
@media only screen and (max-width: 1125px) {
  .mobile-widthForCcVideo
  {
    width: 300px !important;
  }
  .rightAlignedDiv{
  margin-left: 0px !important;;
  }
  .widthForTSvideo{
    width: 250px !important;
  }
}

.clock_sec {
  color: #fff; }
  .clock_sec h1 {
    font-size: 42px;
    color: #fff; }
    @media (max-width: 575px) {
      .clock_sec h1 {
        font-size: 30px; } }
  .clock_sec .clockinner {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 10px;
    margin-right: 15px;
    text-align: center;
    border: 1px solid #d470ec;
    border-radius: 5px;
    margin-top: 70px; }
    @media (max-width: 767px) {
      .clock_sec .clockinner {
        margin: 10 15px;
        padding: 10px;
        margin-top: 50px; } }
    @media (max-width: 400px) {
      .clock_sec .clockinner {
        margin-right: 0;
        padding: 15px 10px; } }
    .clock_sec .clockinner:last-child {
      margin-right: 0; }
      @media (max-width: 575px) {
        .clock_sec .clockinner:last-child {
          margin-right: 15px; } }
    .clock_sec .clockinner h1 {
      font-size: 36px;
      display: inline-block; }

#contact{
  padding:60px 30px;
  padding-bottom: 40px;
}
#footer{
 background-color: #343a40 ;
  color: antiquewhite
}



 .lnk{
   color: #ffffffc2
 }


 .colorlib-heading{
   color: black;
 }


.pad-title{
  padding-top: 10px !important;
}

.registration_area, .footer-area .footer-bottom .footer-social a:hover, .single_department:hover{
  background: -webkit-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: -moz-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: -ms-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: -o-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%); 
}


.footer-area .single-footer-widget ul li a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #777777; }
  .footer-area .single-footer-widget ul li a:hover {
    color: #ffffff; }
.footer-area .single-footer-widget .form-wrap {
margin-top: 10px; }
.footer-area .single-footer-widget input {
height: 30px;
border: none;
width: 80% !important;
font-weight: 300;
background: #333333;
color: #ffffff;
border-radius: 0;
font-size: 14px;
padding: 10px; }
.footer-area .single-footer-widget input:focus {
outline: none;
box-shadow: none; }
.footer-area .single-footer-widget .click-btn {

background-size: 200% auto;
color: #ffffff;
border-radius: 20%;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
font-size: 12px;
text-transform: uppercase;
font-family: "Montserrat", sans-serif;
font-weight: 600;
border: 0;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s; }
.footer-area .single-footer-widget .click-btn span {
font-weight: 500; }
.footer-area .single-footer-widget .click-btn:focus {
outline: none;
box-shadow: none; }
.footer-area .single-footer-widget .click-btn:hover {
background-position: right center; }
.footer-area .footer-bottom {
margin-top: 10px; }
@media (max-width: 991px) {
.footer-area .footer-bottom {
  margin-top: 10px; } }
.footer-area .footer-bottom a {
color: #00aee0; }
.footer-area .footer-bottom .footer-social a {
  background: #f7f3f3;
 font-size: 46px;
 width: 80px;
 border-radius: 81%;
  display: inline-table;
  height: 40px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .footer-area .footer-bottom .footer-social a:hover i {
    color: #fff; }
.footer-area .footer-bottom .footer-social i {
  color: #aaaaaa;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
@media (max-width: 991px) {
  .footer-area .footer-bottom .footer-social {
    text-align: left;
    margin-top: 20px; } }
    .footer-bottom {
      text-align: center; }
  
    .footer-bottom .footer-social {
      text-align: center;
      margin-top: 15px; }

      .single_department {
        background: #f9f9f9;
        padding: 20px 20px;
        margin-bottom: 10px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .single_department img {
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        .single_department h4 {
          margin-top: 10px;
          margin-bottom: 0;
          color: #000000;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        .single_department:hover {
          box-shadow: 0px 20px 50px rgba(0, 175, 224, 0.3); }
          .single_department:hover img {
            -webkit-filter: brightness(0) invert(1);
            -moz-filter: brightness(0) invert(1);
            -ms-filter: brightness(0) invert(1);
            -o-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1); }
          .single_department:hover h4 {
            color: #ffffff; }

            #colorlib-subscribe {
              padding: 0.5em 0;
              clear: both; }

              
#colorlib-subscribe {
  padding: 2em 0;
  position: relative;
  overflow: hidden;
  z-index: 0; }
  #colorlib-subscribe:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  #colorlib-subscribe .colorlib-heading {
    margin-bottom: 5px; }
    #colorlib-subscribe .colorlib-heading h2 {
      color: #fff; }
    #colorlib-subscribe .colorlib-heading p {
      font-size: 15px;
      color: rgb(255, 255, 255); }

      .fact_area {
        position: relative;
        color: #fff;
       
        background-size: cover;
        z-index: 1;
        padding: 20px 0 20px; }
        @media (max-width: 991px) {
          .fact_area {
            padding: 5px 0 10px; } }
        .fact_area.overlay:after {
          background: #000;
          opacity: 0.6; }
        .fact_area .main_title h2 {
          color: #fff; }
        .fact_area .col-lg-4:nth-child(5) .single_fact {
          margin-top: -100px; }
          @media (max-width: 991px) {
            .fact_area .col-lg-4:nth-child(5) .single_fact {
              margin-top: 0; } }
        @media (max-width: 991px) {
          .fact_area .col-lg-4:nth-child(4) .single_fact {
            margin-top: -100px; } }
        @media (max-width: 767px) {
          .fact_area .col-lg-4:nth-child(4) .single_fact {
            margin-top: 0px; } }
        @media (max-width: 991px) {
          .fact_area .col-lg-4:nth-child(6) .single_fact {
            margin-top: -165px; } }
        @media (max-width: 767px) {
          .fact_area .col-lg-4:nth-child(6) .single_fact {
            margin-top: 0px; } }

            .justify-content-center {
              -ms-flex-pack: center !important;
              justify-content: center !important
          }

          
.single_fact {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single_fact h4 {
    color: #fff;
    margin-bottom: 10px; }
  .single_fact p {
    margin: 0px; }
  .single_fact .f_icon {
    margin-bottom: 10px; }
  .single_fact:hover {
    border: 1px solid rgba(255, 255, 255, 0.3); }

    .overlay {
      position: relative; }
    
    .overlay:after {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      content: "";
      z-index: -1; }
    
   
    a{
      cursor: pointer;
  }

  body.model-open {
    overflow: visible;
}