

b{
  color: black;
}




.count
{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}

  .intro-section, .intro-section .container > .row {
    height: 100vh;
    min-height: 750px;
  
  }
  @media only screen and (max-width: 150px) {
  .intro-section, .intro-section .container > .row {
    height: 100vh;
    min-height: 1400px;
  }
}

.slide-1:before {
  height: 100%;
 
}
.loginRegisterBox{
  width: 430px;
   height: 460px;
   margin-top: -70px;
}
@media only screen and (max-width: 480px) {
  .loginRegisterBox{
    width: 330px; height: 520px;
  }
}
@media only screen and (max-width: 380px) {
  .loginRegisterBox{
    width: 330px; height: 520px;
  }
}
@media only screen and (max-width: 320px) {
  .loginRegisterBox{
    width: 300px; height: 519px;
  }
}
 .lnk{
   color: #ffffffc2
 }

 .margin-b{
  margin-bottom: 0rem;
 }

 



.button {
  width: auto;
  display: inline-block;
  padding: 0 18px 0 6px;
  border: 0 none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 250ms linear;
}
.button:hover {
  text-decoration: none;
}


a{
  cursor: pointer;
}

.loading {
  position: fixed;
  left: 45%;
  top: 50%;
}

.offer{
  height: 100px;
  background: -webkit-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: -moz-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: -ms-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: -o-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%); 
   padding: 60px 5px 5px 5px; color: white;
   text-align: center;
}
@media only screen and (max-width: 1300px) {
  .offer{
    height: 110px;
     padding: 50px 5px 5px 5px; 
  }
}
@media only screen and (max-width: 700px) {
  .offer{
    height: 130px;
    padding: 50px 5px 5px 5px; 
  }
}
@media only screen and (max-width: 470px) {
  .offer{
    height: 160px;
    padding: 50px 5px 5px 5px; 
  }
}
@media only screen and (max-width: 376px) {
  .offer{
    height: 190px;
    padding: 50px 5px 5px 5px; 
  }
}
@media only screen and (max-width: 294px) {
  .offer{
    height: 210px;
    padding: 45px 5px 5px 5px; 
  }
}

.registerThroughMail{
  margin-top: 15%;
}
#viewDemo{
  display: none;
}

@media only screen and (max-width: 420px) {
  .mobileViewIframe{
    height: 300px;
  }
}

.mobileViewIframe{
  height: 600px;
}

.requestDemo{
  background: -webkit-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: -moz-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: -ms-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: -o-linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%);
  background: linear-gradient(90deg, #9984c5 0%, #d5a6d6 100%); 
}

.inputName {
  background: rgba(0, 0, 0, 0.2);
  display: block;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
  border-width: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-transform: translateX(0);
          transform: translateX(0);
          cursor: pointer;
}

.inputName.message {
  height: 130px;
  padding: 10px;
}


.name::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff;
}
.name:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
}
.name::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
.name:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}