<div *ngIf="loading" style="z-index: 1000;" class="loading">
    <div>
        <img width="100px" height="50px" src="../../assets/spinner.gif">
    </div>
</div>


<div class="offer">

    <div>
        <span style="font-weight: bold;">Doing Our Bit For The Society: </span>
        <span style="font-size: 16px;">Due to Covid-19 outbreak, we, at LearningPod, are standing up to safeguard
            students' and teachers' health by offering online live tutoring for <strong>FREE</strong> for 30
            hours</span>
    </div>

</div>


<div class="intro-section">
    <div class="slide-1"
        style="background-image: url('https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967123/LearningPod/home/hero_1_srt6bh_nqli2o.jpg'); height: 100%;"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class=" col-lg-6 " style="margin-bottom: 9.25rem!important; color: white;">
                            <h1>LearningPod offers</h1>
                            <ul>
                                <li>
                                    Live tutoring
                                </li>
                                <li>
                                    Schedule management
                                </li>
                                <li>
                                    Payment management
                                </li>

                                <li>
                                    Teacher and student management
                                </li>

                            </ul>
                            <br>
                            <a href="#viewDemo" (click)="viewDemo()" >
                                <button class="btn btn-primary btn-pill">Know More</button>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a >
                                    <button class="btn btn-primary btn-pill" data-toggle="modal"
                                    data-target="#requestDemo">Request Demo</button>
                                </a>
                        </div>
                        <div class="col-lg-5 ml-auto">
                            <div class="container" id="loginRegisterForm" *ngIf="!comservice.isUserLoggedIn()"
                                class="form-box loginRegisterBox">


                                <ul class="nav nav-pills nav-fill">
                                    <li class="active">
                                        <a class="nav-item nav-link active" data-toggle="pill" href="#home"
                                            (click)="upperLoginClicked()">Login</a>
                                    </li>
                                    <li>
                                        <a class="nav-item nav-link" data-toggle="pill"
                                            href="#registerModal">Register</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="home" class="tab-pane active" style="padding-top: 20px">

                                        <div class="pb-3">
                                            <select class="form-control" [(ngModel)]="loginUserRole"
                                                (change)="removeValidationUserRole()" id="loginUserRole"
                                                name="loginUserRole">
                                                <option [ngValue]="undefined" disabled selected>--Select Role--</option>
                                                <option value="cc">Coaching Institute Admin</option>
                                                <option value="teacher">Teacher</option>
                                                <option value="student">Student</option>
                                            </select>
                                            <span *ngIf="userRoleNeeded" style="color: red; font-size: 14px;">*User role
                                                is needed</span>
                                        </div>
                                        <div class="pb-3">
                                            <input type="number" name="loginPhoneNo" class="form-control"
                                                (change)="removeValidationUserNumber()" [(ngModel)]="loginPhoneNo"
                                                id="loginPhoneNo" placeholder="Phone number"
                                                onKeyPress="if(this.value.length==10) return false;">
                                            <span *ngIf="userNumberNeeded" style="color: red; font-size: 14px;">*User
                                                number is needed</span>
                                        </div>
                                        <div class="pb-3">
                                            <input type="password" name="loginPassword" class="form-control"
                                                [(ngModel)]="loginPassword" id="loginPassword" placeholder="Password"
                                                onKeyPress="if(this.value.length==15) return false;" />
                                            <span *ngIf="userPasswordNeeded" style="color: red; font-size: 14px;">*User
                                                password is needed</span><br>
                                            <input type="checkbox" (click)="showPasswordLogin()">&nbsp;Show Password
                                        </div>

                                        <div class="form-group ">
                                            <button [disabled]="loading" class="btn btn-primary btn-pill"
                                                (click)="login(loginUserRole,loginPhoneNo,loginPassword)">Login</button>
                                            <button class="btn btn-link" style="float: right;">
                                                <a data-toggle="pill" href="#forgetPasswordSendAccessCodeDiv">Forgot
                                                    password
                                                </a>
                                            </button>
                                            <br>
                                            <span *ngIf="userNameInvalid"
                                                style="color: blue;font-size: 18px;margin-top: 10px;">{{errorMessage}}</span>
                                            <span *ngIf="serverDown"
                                                style="color: blue;font-size: 18px;margin-top: 10px;">You seem to be offline. Please check your internet connection</span>
                                        </div>

                                    </div>
                                    <div id="registerModal" class="tab-pane">
                                        <div class="form-box" style="padding-bottom: 2px!important;">
                                            <div class="row" class="registerThroughMail">
                                                <h3>Want to get started with online live tutoring for your students?
                                                </h3>
                                                <label>Contact our team by dropping an email to
                                                    support@learningpod.in</label>
                                                <b>Have more questions? <br><a [routerLink]="['/features']"
                                                        [fragment]="'faq'"> Visit our FAQ</a></b>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="forgetPasswordSendAccessCodeDiv" class="tab-pane">
                                        <div class="modal-body">
                                            <div *ngIf="phonenumberdiv">
                                                <div class="form-group">
                                                    <div class="pb-3">
                                                        <select class="form-control" [(ngModel)]="role"
                                                            (change)="removeValidationUserRole()"
                                                            id="forgetPasswordRole">

                                                            <option [ngValue]="undefined" disabled selected>-- Select
                                                                Role
                                                                --</option>
                                                            <option value="cc">Coaching Institute Admin</option>
                                                            <option value="teacher">Teacher</option>
                                                            <option value="student">Student</option>
                                                        </select>
                                                        <span *ngIf="userRoleNeeded"
                                                            style="color: red; font-size: 14px;">*User role
                                                            is needed</span>
                                                    </div>
                                                    <div class="pb-3">
                                                        <input type="number" class="form-control" id="forgetPasswordNo"
                                                            (change)="removeValidationUserNumber()"
                                                            placeholder="Phone Number"
                                                            [(ngModel)]="forgetPasswordPhoneNo"
                                                            onKeyPress="if(this.value.length==10) return false;">
                                                        <span *ngIf="userNumberNeeded"
                                                            style="color: red; font-size: 14px;">*User
                                                            number is needed</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <a class="btn btn-primary btn-pill" data-toggle="pill"
                                                        href="#forgetPasswordSendAccessCodeDiv"
                                                        (click)="forgotPasswordSendAccessCode(role, forgetPasswordPhoneNo)">Send
                                                        Access Code
                                                    </a>
                                                </div>
                                            </div>
                                            <div *ngIf="accesscodediv">
                                                <p *ngIf="accessCodeSent" style=" color: blue;">An SMS with access code
                                                    is sent on your phone number to reset your password</p>
                                                <div class="form-group">

                                                    <input type="number"
                                                        onKeyPress="if(this.value.length==6) return false;"
                                                        class="form-control" placeholder="Access code"
                                                        [(ngModel)]="forgetPasswordAccessCode"
                                                        id="forgotPasswordAccessCode"
                                                        (change)="removeValidationAccessCode()">
                                                    <span *ngIf="forgotPassAccessCodeNeeded"
                                                        style="color: red; font-size: 14px;">*Access code is
                                                        needed</span>
                                                </div>
                                            </div>
                                            <div *ngIf="accesscodediv">
                                                <div class="form-group">

                                                    <input type="password" class="form-control"
                                                        onKeyPress="if(this.value.length==15) return false;"
                                                        placeholder="Enter New Password"
                                                        [(ngModel)]="forgetPasswordNewPassword" id="newPassword">
                                                    <span *ngIf="newPasswordNeeded"
                                                        style="color: red; font-size: 14px;">*Password field cannot be
                                                        empty</span>
                                                </div>
                                                <div class="form-group">

                                                    <input type="password" class="form-control"
                                                        onKeyPress="if(this.value.length==15) return false;"
                                                        placeholder="Confirm New Password"
                                                        [(ngModel)]="forgetPasswordConfirmPassword"
                                                        id="confirmPassword">
                                                    <span *ngIf="confirmPasswordNeeded"
                                                        style="color: red; font-size: 14px;">*Password field cannot be
                                                        empty</span>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-primary btn-pill"
                                                        (click)="updatepassword(forgetPasswordAccessCode,forgetPasswordNewPassword,forgetPasswordConfirmPassword)">Update
                                                        Password
                                                    </button>
                                                    <a data-toggle="pill" href="#home" class="btn btn-link"
                                                        style="float: right; color: #7971ea;">Back to Login</a>
                                                </div>
                                                <span *ngIf="passWordMismatch"
                                                    style="color: blue; font-size: 18px;margin-top: 10px;">*New password
                                                    and confirm password did not match</span>
                                                <span *ngIf="serverError"
                                                    style="color: blue;font-size: 18px;margin-top: 10px; ">*Server side
                                                    error</span>
                                                <span *ngIf="updatedPassword"
                                                    style="color: blue; font-size: 18px;margin-top: 10px;">*Your
                                                    password is updated</span>
                                                <span *ngIf="OtpError"
                                                    style="color: red; font-size: 18px;margin-top: 10px;">*Access code
                                                    is incorrect</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section" id="viewDemo">
    <div class="container">
        <button (click)="closeDemo()" class="close" style="font-size: 40px;">&times;</button>
        <div class="row justify-content-center" >
         <iframe class="mobileViewIframe" id="iframeVideo" style="width:100%;" allowfullscreen
                src="https://www.youtube.com/embed/87ig24c2_rA">
            </iframe>
           
        </div>
    </div>
</div>

<div class="site-section courses-title">

    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 text-center">
                <h2 class="section-title">LearningPod For</h2>
            </div>
        </div>
    </div>
</div>

<div class="site-section courses-entry-wrap">
    <div class="container">
        <div class="row">
            <div class="w3-center col-12">
                <div class="w3-row-padding">
                    <div class="w3-third w3-section">
                        <ul style="border: 1px solid #7971ea;" class="w3-ul w3-white w3-hover-shadow">
                            <li style="background-color: #353a3f; color: white">
                                <h3>TEACHERS</h3>
                            </li>

                            <li>
                                <b>Save on travel time</b>
                            </li>
                            <li>
                                <b>Upload notes/study material</b>
                            </li>
                            <li>
                                <b>Virtual classrooms</b>
                            </li>
                            <li>
                                <b>Minimum setup</b>
                            </li>
                            <li>
                                <b>Take classes on the go</b>
                            </li>
                            <li>
                                <b>Easy, intuitive UI</b>
                            </li>
                        </ul>
                    </div>
                    <div class="w3-third">
                        <ul style="border: 1px solid #7971ea;" class="w3-ul w3-white w3-hover-shadow">
                            <li style="background-color: #353a3f; color: white">
                                <h3>INSTITUTES</h3>
                            </li>
                            <li>
                                <b>One stop admin solution</b>
                            </li>
                            <li>
                                <b>Record live class sessions</b>
                            </li>
                            <li>
                                <b>Grow your network</b>
                            </li>
                            <li>
                                <b>Manage payments online</b>
                            </li>
                            <li>
                                <b>Manage students and teachers</b>
                            </li>
                            <li>
                                <b>Get reviewed and recognised</b>
                            </li>
                            <li>
                                <b>Get online presence</b>
                            </li>
                        </ul>
                    </div>
                    <div class="w3-third w3-section">
                        <ul style="border: 1px solid #7971ea;" class="w3-ul w3-white w3-hover-shadow">
                            <li style="background-color: #353a3f; color: white">
                                <h3>STUDENTS</h3>
                            </li>

                            <li>
                                <b>Save on travel time</b>
                            </li>
                            <li>
                                <b>Choose your tution time</b>
                            </li>
                            <li>
                                <b>Get recorded sessions</b>
                            </li>
                            <li>
                                <b>Take tuition from the comfort of home</b>
                            </li>
                            <li>
                                <b>Take class on smartphone</b>
                            </li>
                            <li>
                                <b>Track your performance</b>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
            <h2 class="section-title">Why LearningPod </h2>
            <p>Online live tutoring is the most modern way of teaching as it incorporates the benefits of face-to-face
                teaching and the convenience of online studying. LearningPod offers real-time audio-video call between
                students and teachers, live chat, whiteboard integration and screenshare facilities. In a live class,
                teachers can share notes and videos with the class. And this live class can be recorded for later
                referral.</p>
        </div>
    </div>
    <div class="row mb-1 align-items-center">
        <div class="col-lg-7  mb-3 pt-5 pb-5">
            <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967146/LearningPod/home/Screen-1_rsxzii.png"
                style="width: 120%; height: 120%;" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-4 ml-auto">
            <h2 class="text-black mb-3">Live Tutoring</h2>
            <p class="mb-4">LearningPod is a feature heavy platform to conduct highly interactive online live classes
                with your students.</p>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
                <span class="custom-icon-inner mr-3">
                    <span class="icon fa fa-users"></span>
                </span>
                <div>
                    <h3 class="m-0">Audio-video call and live chat</h3>
                </div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
                <span class="custom-icon-inner mr-3">
                    <i class="icon far fa-comments"></i>
                </span>
                <div>
                    <h3 class="m-0">Whiteboard and screen-share integrated</h3>
                </div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
                <span class="custom-icon-inner mr-3">
                    <span class="icon fa fa-file-video-o"></span>
                </span>
                <div>
                    <h3 class="m-0">Share notes and videos with the class</h3>
                </div>
            </div>

        </div>
    </div>

    <div class="row mb-1 align-items-center">
        <div class="col-lg-7 mb-4 order-1 order-lg-2 pt-5 pb-5">
            <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967145/LearningPod/home/Screen-2_znzqsk.png"
                style="width: 100%; height: 350px;" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-4 mr-auto order-2 order-lg-1">
            <h2 class="text-black mb-3">One Stop Admin Solution</h2>
            <p class="mb-4">Manage your entire coaching institute at one place as you extend your offering to online
                tutoring.
            </p>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
                <span class="custom-icon-inner mr-3">
                    <span class="icon fa fa-users"></span>
                </span>
                <div>
                    <h3 class="m-0">Manage students and teachers</h3>
                </div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
                <span class="custom-icon-inner mr-3">
                    <i class="icon fas fa-chalkboard"></i>
                </span>
                <div>
                    <h3 class="m-0">Manage courses and payments</h3>
                </div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
                <span class="custom-icon-inner mr-3">
                    <span class="icon fa fa-file-video-o"></span>
                </span>
                <div>
                    <h3 class="m-0">Manage recordings of live class</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-1 align-items-center">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 mb-5">
            <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967145/LearningPod/home/Screen-3_pc0au0.png"
                style="width: 300px; height: 570px;" alt="Image" class="img-fluid ">
        </div>
        <div class="col-lg-4 ml-auto mb-4">
            <h2 class="text-black mb-3">Minimum Setup</h2>
            <p class="mb-4">No heavy duty setup is required. All you need is a device with browser, mic, speaker and
                webcam and internet connectivity.</p>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
                <span class="custom-icon-inner mr-3">
                    <span class="icon fa fa-clock-o"></span>
                </span>
                <div>
                    <h3 class="m-0">No plugins or software to download and install</h3>
                </div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap mb-3">
                <span class="custom-icon-inner mr-3">
                    <span class="icon fa fa-plane"></span>
                </span>
                <div>
                    <h3 class="m-0">Works perfect on mobile data plan</h3>
                </div>
            </div>

            <div class="d-flex align-items-center custom-icon-wrap">
                <span class="custom-icon-inner mr-3">
                    <span class="icon fa fa-mobile"></span>
                </span>
                <div>
                    <h3 class="m-0">Lightweight Android application</h3>
                </div>
            </div>

        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<div class="w3-container w3-row w3-center w3-blue-grey w3-padding-64 pt-3 pb-3"
    style="background-color: #7971ea!important" id="collaborations">
    <div class="w3-quarter">
        <span class="count w3-xxlarge">100</span>+
        <br><b style="font-size: 24px; color: white;">Teachers</b>
    </div>
    <div class="w3-quarter">
        <span class="count w3-xxlarge">15</span>+
        <br><b style="font-size: 24px; color: white;">Institutes</b>
    </div>
    <div class="w3-quarter">
        <span class="count w3-xxlarge">1000</span>+
        <br><b style="font-size: 24px; color: white;">Students</b>
    </div>
    <div class="w3-quarter">
        <span class="count w3-xxlarge">1500</span>+
        <br><b style="font-size: 24px; color: white;">Live Classes</b>
    </div>
</div>

<div class="footer-section pt-5 pb-2 bg-white" style="background-color: #353a3f!important">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 style="color: #fff;">Contact Info</h3>
                <ul class="list-unstyled">
                    <li>
                        <a class="lnk" href="">
                            <i class="icon glyphicon glyphicon-home"></i> CoffeeBeans Technologies, <br></a>

                    </li>
                    <li style="color: #fff">c/o, Regus Ruby Business Center,<br>Unit 801, 8th Floor, World Trade Center,
                        Tower-1,
                        <br>Kharadi, PUNE (MH)- 411014.</li>
                    <li>
                        <a href="" class="lnk">
                            <i class="fa fa-phone"></i> + 912067109018</a>
                    </li>
                    <li>
                        <a class="lnk" href="mailto:support@learningpod.in">
                            <i class="fa fa-envelope"></i> support@learningpod.in
                        </a>
                    </li>
                    <li>
                        <a class="lnk" href="http://coffeebeanstechnologies.com" target="_blank">
                            <i class="fa fa-globe"></i> coffeebeanstechnologies.com
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 ml-auto">
                <h3 style="color: #fff;">Links</h3>
                <ul class="list-unstyled footer-links">
                    <li>
                        <a href="../../../resources/Brochure.pdf" download>
                            <i class="fa fa-file-pdf-o"></i> Download Brochure</a>
                    </li>
                    <li>
                        <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
                    </li>
                    <li>
                        <a [routerLink]="['/help']">LearningPod Tutorials</a>
                    </li>

                </ul>
            </div>

            

        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p style="color: #fff;" class="lnk">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> made with
                        <i class="fa fa-heart" aria-hidden="true"></i> by
                        <a href="https://coffeebeanstechnologies.com" target="_blank" style="color: white">CoffeeBeans
                            Technologies
                        </a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="requestDemo" style="color: black" class="modal fade " role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content requestDemo">
          
            <button type="button" class="close" id="close" style="margin: 0rem 0rem 0rem auto;padding: 0.5rem;" data-dismiss="modal">&times;</button>
           
            <div class="container" style="text-align: center; color: white;">
                    <h1 >Request Demo</h1>
                    <p >Please fill out and submit the below form and we will get in touch with you</p>
                   
                    <input class='inputName name' [(ngModel)]="name" name='user_name' placeholder='*Enter your name' type='text'>
                    <input class='inputName name' [(ngModel)]="ccName" name='user_name' placeholder="Enter your institute's name" type='text'>
                    <input class='inputName name' [(ngModel)]="phoneNo" onKeyPress="if(this.value.length==10) return false;" name='user_name' placeholder='*Enter your phone number' type='number'>
                    <input class='inputName name' [(ngModel)]="email" name='user_name' placeholder='Enter your email' type='email'>
                    <input class='inputName name' [(ngModel)]="timeToTalk" name='user_name' placeholder='Preferred time to talk' type='text'>
                    <textarea class='inputName message name'[(ngModel)]="message"  rows="3" cols="50" placeholder='How can we help you?'></textarea>
                    <div *ngIf="errorMsg" class="alert alert-warning" role="alert">{{errorMsg}}</div>
                    <button class="btn btn-light btn-block mt-4 mb-3 shadow-white" id="submit" [disabled]="disableSubmit"
                     (click)="sendEmail(name,ccName,phoneNo,email,message,timeToTalk)">Submit</button>
                     
            </div>


        </div>
    </div>
</div>