

<div *ngIf="loading" style="z-index: 1000;" class="loading">
    <div>
        <img width="100px" height="50px" src="../../assets/spinner.gif">
    </div>
</div>
<div *ngIf="!teacherDetails" class="container-fluid mt-0" >
    <div class="row">
        
        <div class="col-sm-2">
            <input type="text" id="searchTeacher" class="form-control" (keyup)="searchTeacherByName()"
                placeholder="Search for teacher" title="Type in a name">
        </div>
        <div class="col-sm-7"></div>
        <div class="col-sm-2">
            <button data-toggle="modal" *ngIf="comservice.myUserRole === 'cc'" class="changepassword"
                (click)="addTeacher()" data-target="#registerTeacher" class="btn btn-primary btn-pill">Add
                Teacher</button>
        </div>
    </div>
    <div *ngIf="!displayInfoMyAffiliation || displayInfoMyAffiliation == undefined || displayInfoMyAffiliation.length == 0"
        style="text-align: center; padding-top: 2%;">
        <img width="500px" height="300px" src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/noRecordings_j5qvnw.png">

        <h3 style="color: grey;">
            Start Adding Teachers To Get Started
        </h3>

    </div>
    <div *ngIf="showNoResults" style="text-align: center; padding-top: 2%;">
        <img width="500px" height="300px" src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/noRecordings_j5qvnw.png">

        <h3 style="color: grey;">
            No Teachers Found
        </h3>

    </div>
    <!-- style="overflow:auto; height: 450px;" -->
    <div class="py-5"  >
        <div class="container container-left-margin">
            <div class="profile-feed row hidden-md-up">
                <div *ngFor="let x of filteredTeacherData|| displayInfoMyAffiliation" class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-block">
                            <div class="profile-activity clearfix ">
                                <div>
                                    <img class="pull-left" alt="Alex Doe's avatar"
                                        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1576570138/user_uiipks.png">
                                    <a class="user" (click)="getTeacherDetails(x.teacherInfo.teacherId)"
                                        style="border-radius: 20px"
                                        (click)="updateTeacher()">{{x.teacherInfo.teacherName}}</a>
                                    <br>
                                    <br> {{x.teacherInfo.teacherName}} is listed as your teacher
                                    <span *ngIf="x.teacherInfo.classInfo.length != 0 ">for class(es) </span>
                                    
                                    <span
                                        *ngFor="let y of getSortedClasses(x.teacherInfo.classInfo) | slice:0:x.teacherInfo.classInfo.length - 1; let i = index">
                                        {{y.classInfo.className}}, </span>
                                    {{x.teacherInfo.classInfo.length >= 2 ? "" + x.teacherInfo.classInfo[x.teacherInfo.classInfo.length - 1].classInfo.className : ""}}
                                    {{x.teacherInfo.classInfo.length == 1 ?
                                    x.teacherInfo.classInfo[x.teacherInfo.classInfo.length - 1].classInfo.className : ""}}
                                    <span *ngIf="x.teacherInfo.boardInfo.length != 0">and board(s)</span>
                                    <span
                                        *ngFor="let y of getSortedBoards(x.teacherInfo.boardInfo) | slice:0:x.teacherInfo.boardInfo.length - 1; let i = index">
                                        {{y.boardInfo.boardName}},</span> {{x.teacherInfo.boardInfo.length >= 2 ? "and " + x.teacherInfo.boardInfo[x.teacherInfo.boardInfo.length - 1].boardInfo.boardName : ""}}
                                    {{x.teacherInfo.boardInfo.length == 1 ? x.teacherInfo.boardInfo[x.teacherInfo.boardInfo.length - 1].boardInfo.boardName : ""}}

                                    <span *ngIf="x.teacherInfo.subjectInfo.length != 0">and teaches</span>
                                    <span
                                        *ngFor="let y of getSortedSubjects(x.teacherInfo.subjectInfo) | slice:0:x.teacherInfo.subjectInfo.length - 1; let i = index">
                                        {{y.subjectInfo.subjectName}},</span> {{x.teacherInfo.subjectInfo.length >= 2 ? "and " + x.teacherInfo.subjectInfo[x.teacherInfo.subjectInfo.length - 1].subjectInfo.subjectName : ""}}
                                    {{x.teacherInfo.subjectInfo.length == 1 ? x.teacherInfo.subjectInfo[x.teacherInfo.subjectInfo.length - 1].subjectInfo.subjectName : ""}}

                
                                    <div class="time">
                                        <i class="ace-icon fa fa-phone bigger-110"></i> {{x.teacherInfo.phoneNo}}
                                    </div>
                                </div>

                                <div class="tools action-buttons">
                                    <a style="margin: 10px;" class="blue">
                                        <button (click)="getAffiliatedTeacherDetails(x);"
                                            class="changepassword" data-toggle="modal" data-target="#updateTeacher">
                                            <i class="ace-icon fa fa-pencil" title="update teacher information"></i></button>
                                    </a>

                                    <!-- <a style="margin: 10px;" class="red">
                                        <button (click)="deleteRestrictedRequest(x.ccInfo.ccId,x.teacherInfo.teacherId);" id="deleteHide{{x.requestId}}" title="remove teacher from institute"><i class="fas fa-trash-alt"></i></button>
                                    </a>  -->

                                    <a style="margin: 10px;" class="red">
                                        <button data-toggle="modal" data-target="#downloadTeacherReport"
                                            title="View teacher report"
                                            (click)="setTeacherId(x.teacherInfo.teacherId, x.teacherInfo.teacherName)"><i
                                                class="far fa-address-book"></i></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- style="overflow:auto; height: 450px;" -->
<div *ngIf="teacherDetails" class="container teacherDetails" >
    <button class="btn btn-primary" (click)="backToMyTeachers()">Back To All Teachers</button>

    <div class="mt-4">
        <div>
            <div class="row">
                <!-- <div *ngIf="teacherDetails && teacherDetails.picturePath != undefined" class="col-md-2">
                    <img [src]="teacherDetails.picturePath" style="border-radius: 50%; height: 80px; width: 80px;">
                </div> -->
                <div class="col-md-2">
                    <img src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1576570138/user_uiipks.png"
                        style="border-radius: 50%; height: 80px; width: 80px;">
                </div>

                <div class="col-md-5">
                    <h2>{{teacherDetails.teacherInfo.teacherName}}</h2>
                    <p *ngIf="teacherDetails.teacherInfo.qualifications"><b>Qualification</b>
                        {{teacherDetails.teacherInfo.qualifications}}
                    </p>
                    <p *ngIf="teacherDetails.teacherInfo.email"><b>Email</b> {{teacherDetails.teacherInfo.email}}
                    </p>
                    <p *ngIf="teacherDetails.teacherInfo.phoneNo"><b>Mobile</b> {{teacherDetails.teacherInfo.phoneNo}}
                    </p>
                </div>

                <div class="col-md-5">
                    <div>
                        <p *ngIf="teacherDetails && teacherClassInfo"><b>Class</b>
                            <span
                                *ngFor="let y of teacherClassInfo | slice:0: teacherClassInfo.length - 1; let i = index">
                                {{y.classInfo.className}},
                            </span>
                            {{teacherClassInfo.length >= 2 ? "" + teacherClassInfo[teacherClassInfo.length - 1].classInfo.className : ""}}
                            {{teacherClassInfo.length
                            == 1 ? teacherClassInfo[teacherClassInfo.length - 1].classInfo.className : ""}}
                        </p>

                        <p *ngIf="teacherDetails && teacherSubjectInfo"><b>Subject</b>
                            <span
                                *ngFor="let y of teacherSubjectInfo | slice:0: teacherSubjectInfo.length - 1; let i = index">
                                {{y.subjectName}},
                            </span>{{teacherSubjectInfo.length >= 2 ? "" + teacherSubjectInfo[teacherSubjectInfo.length - 1].subjectName : ""}}
                            {{teacherSubjectInfo.length
                            == 1 ? teacherSubjectInfo[teacherSubjectInfo.length - 1].subjectName : ""}}
                        </p>
                        <p *ngIf="teacherDetails.teacherInfo.teacherSkills"><b>Skills</b>
                            {{teacherDetails.teacherInfo.teacherSkills}}
                        </p>
                    </div>
                </div>

            </div>

            <hr>
            <br>
            <br>
            <div class="row">

                <div class="col-md-9">
                    <h2>{{teacherDetails.teacherInfo.teacherName}}'s Courses</h2>
                </div>
                <div class="scrollableTable">
                    <table class="table table-striped mb-5">
                        <thead>
                            <tr>

                                <th>Title</th>
                                <th>Subject</th>
                                <th>Class</th>
                                <th>Duration</th>
                                <th>Timing</th>
                                <th>Frequency</th>
                                <!-- <th>Total classes</th> -->
                            </tr>
                        </thead>
                        <tbody *ngIf="teacherCourseDetails != undefined">
                            <tr *ngFor="let one of teacherCourseDetails; let i=index">

                                <td>{{one.title}}</td>
                                <td>{{one.subjectInfo == undefined ? 'NA' : one.subjectInfo.subjectName}}</td>
                                <td>{{one.classInfo == undefined ? 'NA' : one.classInfo.className}}</td>
                                <td *ngIf="one.startDate">{{one.startDate}} to {{one.endDate}}</td>
                                <td *ngIf="!one.startDate">NA</td>
                                <td *ngIf="one.startTime">{{one.startTime}} to {{one.endTime}}</td>
                                <td *ngIf="!one.startTime">NA</td>

                                <td>{{one.frequency == undefined ? 'NA' : comservice.formatFrequencyForExplore(one.frequency)}}
                                </td>
                                <!-- <td>{{one.totalClassCount == undefined ? 'NA' : one.totalClassCount}}</td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>
                <br>
                <br>
                <hr>
                <br>
                <br>
                <div class="col-md-9">
                    <h2>{{teacherDetails.teacherInfo.teacherName}}'s class report</h2>
                </div>
                <div class="mt-3 mb-3 scrollableTable">

                    Select Start Date
                    <kendo-datepicker [(ngModel)]="startDate" name="startDate"></kendo-datepicker>
                    and End Date
                    <kendo-datepicker [(ngModel)]="endDate" name="endDate"></kendo-datepicker>
                    <button class="btn btn-primary" style="float: right;cursor: pointer;border-radius:12%;" id="print"
                        (click)="getTeacherReport(startDate, endDate)">Get
                        Report</button>
                    <button class="btn btn-primary" *ngIf="showPrint" title="Print report" id="print"
                        (click)="printReport()" style="cursor: pointer; float: right; border-radius:12%;">
                        Print Report
                    </button>
                    <div *ngIf="loadingReport" style="z-index: 1000;" class="loading">
                        <div>
                            <img width="100px" height="50px" src="../../assets/spinner.gif">
                        </div>
                    </div>
                    <div *ngIf="!showTable">
                        {{scheduleClassInfo}}
                    </div>
                    <div *ngIf="showTable">
                        <br>
                        <b>Total scheduled classes in past: </b>{{totalCounts.totalPastClassCount}}
                        <br>
                        <b>Total live class(es) joined: </b>{{totalCounts.totalPastJoinClassCount}}
                        <br>
                        <b>Total live class(es) missed:
                        </b>{{totalCounts.totalPastClassCount - totalCounts.totalPastJoinClassCount}}
                        <br>
                        <div class="scrollableTable">
                            <table style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Course Name</th>
                                        <th rowspan="2">Topic</th>
                                        <th rowspan="2">Class</th>
                                        <th rowspan="2">Subject</th>
                                        <th rowspan="2">Date</th>
                                        <th colspan="2" style="text-align: center;">Scheduled Class(es)</th>
                                        <th colspan="5" style="text-align: center;">Conducted Class(es)</th>
                                    </tr>
                                    <tr>
                                        <th>Scheduled Start Time</th>
                                        <th>Scheduled End Time</th>
                                        <th>Live Class Start Time</th>
                                        <th>Live Class End Time</th>
                                        <th>No. Of Student Joined</th>
                                        <th>Teacher Joined</th>
                                        <th>Live Class Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let x of scheduleClassInfo">
                                    <tr>
                                        <td rowspan="10">
                                            {{x.courseTitle}}
                                        </td>
                                        <td rowspan="10">
                                            {{x.topic ? x.topic : "-"}}

                                        </td>
                                        <td rowspan="10">
                                            {{x.className}}th
                                        </td>
                                        <td rowspan="10">
                                            {{x.subjectName}}
                                        </td>
                                        <td rowspan="10">
                                            {{x.scheduleClassDate}}
                                        </td>

                                        <td rowspan="10">
                                            {{x.scheduleClassStartTime}}
                                        </td>
                                        <td rowspan="10">
                                            {{x.scheduleClassEndTime}}
                                        </td>
                                    </tr>
                                    <tr *ngIf="x.virtualClassInfo.length == 0">
                                            Nobody joined the live class
                                    </tr>
                                    <tr *ngFor="let x1 of x.virtualClassInfo" >
                                        <td colspan="1">
                                            {{x1.virtualClassStartTime ? x1.virtualClassStartTime : "-"}}
                                        </td>
                                        <td colspan="1">
                                            {{x1.virtualClassEndTime ? x1.virtualClassEndTime : "-"}}
                                        </td>
                                        <td colspan="1">
                                            {{x1.noOfAttendee ? x1.noOfAttendee : "0"}}
                                        </td>
                                        <td colspan="1">
                                                {{x1.noOfModerator ? "Yes" : "No"}}
                                            </td>
                                        <td colspan="1" *ngIf="x1.scheduleClassStatus == 'Future'">
                                            <span style="color: green;">Future class</span>
                                        </td>
                                        <td colspan="1" *ngIf="x1.scheduleClassStatus == 'Past'">
                                            <span *ngIf="x1.noOfModerator > 0">Yes</span>
                                            <span
                                                *ngIf="x1.virtualStatus == 'Virtual class information is not available'"
                                                style="color: red;">Teacher missed the class</span>
                                            <span *ngIf="x1.noOfModerator == 0"
                                                style="color: red;">Teacher
                                                missed the class</span>
                                        </td>
                                        <td colspan="1" *ngIf="x1.meetingStatus == 'created'">
                                            <span style="color: blue;">Currently scheduled class</span>
                                            <br>
                                            <button *ngIf="x1.virtualClassStartTime" id="endMeeting" class="btn-primary btn-sm" 
                                        (click)="endOngoingMeetingFromTeacherReport(x.scheduleClassId)">End Class</button>
                                        </td>
                                        <td colspan="1" *ngIf="x1.meetingStatus == 'Finished'">
                                                <span style="color: blue;">Class finished</span>
                                            </td>
                                          
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="registerTeacher" class="modal fade modal-open" *ngIf="comservice.myUserRole =='cc'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Teacher's Details</h4>
                <button type="button" id="closeRegisterModal" (click)="clearModal()" class="close"
                    data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="loading" style="z-index: 1000;" class="loading">
                    <div>
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Name*</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Enter teacher name" id="teacherName" class="form-control"
                            name="teacherName" [(ngModel)]="teacherName" autofocus>
                            <small *ngIf="nameError" id="emailHelp" class="form-text text-muted">*Please enter name</small>
                    </div>

                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Qualifications</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Enter teacher qualifications" class="form-control"
                            name="teacherQualification" [(ngModel)]="teacherQualification">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Skills</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Enter teacher skills" class="form-control" name="teacherSkill"
                            [(ngModel)]="teacherSkill">
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Phone Number*</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="number" onKeyPress="if(this.value.length==10) return false;" id="phoneNumber"
                            placeholder="Enter phone number" class="form-control" name="phoneNumber"
                            [(ngModel)]="phoneNumber">
                            <small *ngIf="phoneNoError" id="emailHelp" class="form-text text-muted">*Please enter phone number</small>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Total teaching experience (in years)</h5>
                    </div>
                    <div class="col-sm-6">

                        <input oninput="maxLengthCheck(this)" type="number"
                            onKeyPress="if(this.value.length==2) return false;" min="1" max="99"
                            placeholder="Teacher experience" class="form-control" name="teacherExperience"
                            [(ngModel)]="teacherExperience">
                    </div>

                    <div class="col-sm-3"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Class(es)</h5>
                    </div>
                    <div class="col-sm-6" *ngIf="comservice.cbsObj != undefined">
                        <ng-multiselect-dropdown [placeholder]="'--Select Class--'"
                            [data]="comservice.cbsObj.allClasses" [(ngModel)]="selectedClassesToUpdate"
                            [settings]="dropdownSettings2" style="color:black;">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Board(s)</h5>
                    </div>
                    <div class="col-sm-6" *ngIf="comservice.cbsObj != undefined">
                        <ng-multiselect-dropdown [placeholder]="'--Select Board--'"
                            [data]="comservice.cbsObj.allBoards" [(ngModel)]="selectedBoardsToUpdate"
                            [settings]="dropdownSettings3" style="color:black;">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Subject(s)</h5>
                    </div>
                    <div class="col-sm-6" *ngIf="comservice.cbsObj != undefined">
                        <ng-multiselect-dropdown [placeholder]="'--Select Subject--'"
                            [data]="comservice.cbsObj.allSubjects" [(ngModel)]="selectedSubjectsToUpdate"
                            [settings]="dropdownSettings1" style="color:black;">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Choose Password*</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="password" onKeyPress="if(this.value.length==15) return false;" id="password"
                            placeholder="Enter Password" class="form-control" name="teacherPassword"
                            [(ngModel)]="teacherPassword">
                            <small *ngIf="passwordError" id="emailHelp" class="form-text text-muted">*Please enter password</small>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-pill" [disabled]="disableButton"
                            (click)="registerRestrictedTeacher(teacherName, teacherQualification, teacherSkill, phoneNumber, teacherExperience, teacherPassword )">Add</button>
                        <button type="button" (click)="clearModal()" class="btn btn-primary btn-pill"
                            data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

            </div>

        </div>
    </div>
</div>


<div id="updateTeacher" class="modal fade modal-open" *ngIf="comservice.myUserRole =='cc'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update {{updatedTeacherInfo.teacherName}}'s details</h4>
                <button type="button" id="closeUpdateModal" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="loading" style="z-index: 1000;" class="loading">
                    <div>
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Name*</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" id="updateTeacherName" placeholder="Enter teacher name" class="form-control"
                            name="teacherName" [(ngModel)]="updatedTeacherInfo.teacherName">
                            <small *ngIf="updateNameError" id="emailHelp" class="form-text text-muted">*Please enter name</small>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Qualifications</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Enter teacher qualifications" class="form-control"
                            name="teacherQualification" [(ngModel)]="updatedTeacherInfo.qualifications">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Skills</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Enter teacher skills" class="form-control" name="teacherSkill"
                            [(ngModel)]="updatedTeacherInfo.teacherSkills">
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Phone number*</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="number" id="updatePhoneNo" placeholder="Enter phone number"
                            class="form-control" name="phoneNumber" [(ngModel)]="updatedTeacherInfo.phoneNo"
                            onKeyPress="if(this.value.length==10) return false;">
                            <small *ngIf="updatePhoneNoError" id="emailHelp" class="form-text text-muted">*Please enter phone number</small>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Total teaching experience (in years)</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="number" onKeyPress="if(this.value.length==2) return false;"
                            placeholder="Teacher experience" class="form-control" name="teacherExperience"
                            [(ngModel)]="updatedTeacherInfo.experience">
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Class(es)</h5>
                    </div>
                    <div class="col-sm-6" *ngIf="comservice.cbsObj != undefined">
                        <ng-multiselect-dropdown [placeholder]="'--Select Classes--'"
                            [data]="comservice.cbsObj.allClasses" [(ngModel)]="selectedClassesToUpdate1"
                            [settings]="dropdownSettings2" style="color:black;">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>
                            Board(s)</h5>
                    </div>
                    <div class="col-sm-6" *ngIf="comservice.cbsObj != undefined">
                        <ng-multiselect-dropdown [placeholder]="'--Select Boards--'"
                            [data]="comservice.cbsObj.allBoards" [(ngModel)]="selectedBoardsToUpdate1"
                            [settings]="dropdownSettings3" style="color:black;">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Subject(s)</h5>
                    </div>
                    <div class="col-sm-6" *ngIf="comservice.cbsObj != undefined">
                        <ng-multiselect-dropdown [placeholder]="'--Select Subjects--'"
                            [data]="comservice.cbsObj.allSubjects" [(ngModel)]="selectedSubjectsToUpdate1"
                            [settings]="dropdownSettings1" style="color:black;">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Reset password to</h5>
                    </div>
                    <div class="col-sm-6">
                        <input type="password" onKeyPress="if(this.value.length==15) return false;"
                            placeholder="Enter Password" class="form-control" name="teacherPassword"
                            [(ngModel)]="UpdatedTeacherPassword">
                    </div>
                    <div class="col-sm-3"></div>
                </div>


                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    <div style="float: right;" class="col-sm-6">
                        <button class="btn btn-primary btn-pill"
                            (click)="updateRestrictedTeacher(updatedTeacherInfo, UpdatedTeacherPassword)">Update</button>
                        <button type="button" class="btn btn-primary btn-pill" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="downloadTeacherReport" class="modal fade modal-open" *ngIf="comservice.myUserRole =='cc'">
    <div class="modal-dialog" style="max-width: 90%; top:0%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{teacherName}}'s Report</h4>
                <button type="button" id="closeUpdateModal" class="close" data-dismiss="modal">&times;</button>
                <div *ngIf="loadingReport" style="z-index: 1000;" class="loading">
                    <div>
                        <img width="100px" height="50px" src="../../assets/spinner.gif">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="scrollableTable">
                    Select Start Date
                    <kendo-datepicker [ngModelOptions]="{standalone: true}" [(ngModel)]="startDate" name="startDate">
                    </kendo-datepicker>
                    and End Date
                    <kendo-datepicker [ngModelOptions]="{standalone: true}" [(ngModel)]="endDate" name="endDate">
                    </kendo-datepicker>

                    <button class="btn btn-primary" style="float: right;cursor: pointer;border-radius:12%;" id="print"
                        (click)="getTeacherReport(startDate, endDate)">Get Report</button>

                    <button class="btn btn-primary" *ngIf="showPrint" title="Print report" id="print"
                        (click)="printReport()" style="cursor: pointer; float: right; border-radius:12%;">
                        Print Report
                    </button>
                </div>

                <div *ngIf="!showTable">
                    {{scheduleClassInfo}}
                </div>



                <div *ngIf="showTable">
                    <br>
                    <b>Total scheduled classes in past: </b>{{totalCounts.totalPastClassCount}}
                    <br>
                    <b>Total live class(es) joined: </b>{{totalCounts.totalPastJoinClassCount}}
                    <br>
                    <b>Total live class(es) missed:
                    </b>{{totalCounts.totalPastClassCount - totalCounts.totalPastJoinClassCount}}
                    <br>
                    <div class="scrollableTable">
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th rowspan="2">Course Name</th>
                                    <th rowspan="2">Topic</th>
                                    <th rowspan="2">Class</th>
                                    <th rowspan="2">Subject</th>
                                    <th rowspan="2">Date</th>
                                    <th colspan="2" style="text-align: center;">Scheduled Class(es)</th>
                                    <th colspan="5" style="text-align: center;">Conducted Class(es)</th>

                                </tr>
                                <tr>

                                    <th>Scheduled Start Time</th>
                                    <th>Scheduled End Time</th>
                                    <th>Live Class Start Time</th>
                                    <th>Live Class End Time</th>
                                    <th>No. Of Student Joined</th>
                                    <th>Teacher Joined</th>
                                    <th>Live Class Status</th>
                                </tr>

                            </thead>
                            <tbody *ngFor="let x of scheduleClassInfo">
                                <tr>
                                    <td rowspan="10">
                                        {{x.courseTitle}}
                                    </td>
                                    <td rowspan="10">
                                        {{x.topic ? x.topic : "-"}}

                                    </td>
                                    <td rowspan="10">
                                        {{x.className}}th
                                    </td>
                                    <td rowspan="10">
                                        {{x.subjectName}}
                                    </td>
                                    <td rowspan="10">
                                        {{x.scheduleClassDate}}
                                    </td>

                                    <td rowspan="10">
                                        {{x.scheduleClassStartTime}}
                                    </td>
                                    <td rowspan="10">
                                        {{x.scheduleClassEndTime}}
                                    </td>
                                </tr>
                                <tr rowspan="1" *ngIf="x.scheduleLiveClassInfo.length == 0">
                                    <td  colspan="5">
Nobody joined the live class
</td>
                                </tr>
                                <tr   >
                                    <td colspan="1">
                                        {{x.scheduleLiveClassInfo.virtualClassStartTime ? x.scheduleLiveClassInfo.virtualClassStartTime : "-"}}
                                    </td>
                                    <td colspan="1">
                                        {{x.scheduleLiveClassInfo.virtualClassEndTime ? x.scheduleLiveClassInfo.virtualClassEndTime : "-"}}
                                    </td>
                                    <td colspan="1">
                                        {{x.scheduleLiveClassInfo.noOfAttendee ? x.scheduleLiveClassInfo.noOfAttendee : "0"}}
                                    </td>
                                    <td colspan="1">
                                            {{x.scheduleLiveClassInfo.noOfModerator == 1 ? "Yes" : "No"}}
                                        </td>
                                    <td colspan="1" *ngIf="x.scheduleClassStatus == 'Future'">
                                        <span style="color: green;">Future class</span>
                                    </td>
                                    <td colspan="1" *ngIf="x.scheduleClassStatus == 'Present'">
                                        <span *ngIf="x.scheduleLiveClassInfo.noOfModerator > 0">Yes</span>
                                        <!-- <span
                                            *ngIf="x1.virtualStatus == 'Virtual class information is not available'"
                                            style="color: red;">Teacher missed the class</span> -->
                                        <span *ngIf="x.scheduleLiveClassInfo.noOfModerator == 0" style="color: red;">Teacher
                                            missed the class</span>
                                    </td>
                                    <td colspan="1" *ngIf="x.scheduleLiveClassInfo.meetingStatus == 'created'">
                                        <span style="color: blue;">Currently scheduled class</span>
                                        <br>
                                        <button *ngIf="x.scheduleLiveClassInfo.virtualClassStartTime" id="endMeeting" class="btn-primary btn-sm" 
                                        (click)="endOngoingMeetingFromTeacherReport(x.scheduleClassId)">End Class</button>
                                    </td>
                                    <td colspan="1" *ngIf="x.scheduleLiveClassInfo.meetingStatus == 'Finished'">
                                            <span style="color: blue;">Class finished</span>
                                        </td>
                                        <td colspan="1" *ngIf="x.scheduleClassStatus == 'Past'" style="color: blue;">Class Finished</td>
                                        
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>