<br>
<br>
<br>
<div *ngIf="loading" style="z-index: 1000;" class="loading">
  <div>
    <img width="100px" height="50px" src="../../assets/spinner.gif">
  </div>
</div>

<button (click)="back()">&#8701;Back to {{comservice.exploreHistory}}</button>
<br>
<br>

<div id="user-profile-2" class="user-profile" *ngIf="!showExploreCourseDetails">
  <div class="tabbable">
    <ul style="padding-bottom: 6px;" class="nav nav-tabs padding-18">
      <li class="active">
        <a data-toggle="tab" href="#home">
          <i class="green ace-icon fa fa-user bigger-120"></i>
          Profile
        </a>
      </li>

      <li>
        <a data-toggle="tab" href="#feed">
          <i class="orange ace-icon fa fa-book bigger-120"></i>
          Courses
        </a>
      </li>
    </ul>

    <div class="tab-content no-border padding-24">
      <div id="home" class="tab-pane in active">
        <!-- <app-left-panel></app-left-panel> -->
        <div class="site-section">
          <div class="container">
            <div class="card">
              <div class="card-body">
                <div *ngIf="teacherInfo != null">
                  <div class="row">
                    <div class="col-sm-4 form-group">

                      <h3 style="color: black">{{teacherInfo.teacherName}}</h3>
                      <ngx-stars [readonly]="true" [initialStars]="teacherInfo.cumulativeRating" [color]="'#e5570b'"
                        [size]="1"></ngx-stars>
                    </div>
                    <div class="col-sm-6">

                    </div>

                  </div>
                  <div class="row">

                    <div class="col-sm-2 form-group">
                      <b>Date Of Birth</b>
                    </div>
                    <div class="col-sm-2 form-group" *ngIf="teacherInfo.teacherBirthdate">
                      <p>{{teacherInfo.teacherBirthdate}}</p>
                    </div>

                    <div class="col-sm-2 form-group" *ngIf="teacherInfo.teacherGender">
                      <b>Gender</b>
                    </div>
                    <div class="col-sm-2 form-group">
                      <p>{{teacherInfo.teacherGender}}</p>
                    </div>
                    <div class="col-sm-2 form-group" *ngIf="teacherInfo.qualifications">
                      <b>Qualification</b>
                    </div>
                    <div class="col-sm-2 form-group">
                      <p>{{teacherInfo.qualifications}}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-2 form-group">
                      <b>Class(es)</b>
                    </div>
                    <div class="col-sm-2 form-group">
                      <div>
                        <label *ngFor="let x of selectedClasses">{{x.className +"th &nbsp;"}}</label>
                      </div>
                    </div>

                    <div class="col-sm-2 form-group">
                      <b>Subject(s)</b>
                    </div>
                    <div class="col-sm-2 form-group">
                      <div>
                        <label *ngFor="let x of selectedSubjects">{{x.subjectName +"&nbsp;"}}</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 form-group" *ngIf="teacherInfo.description">
                      <b>About Me</b>
                      <p>{{teacherInfo.description}}</p>
                    </div>

                    <div class="col-sm-4 form-group" *ngIf="teacherInfo.teacherSkills">
                      <b>Skill</b>
                      <p>{{teacherInfo.teacherSkills}}</p>
                    </div>
                    <div class="col-sm-6 form-group" *ngIf="teacherInfo.experience">
                        <b>Teaching Experience</b>
                        <p>{{teacherInfo.experience}} year(s)</p>
                    </div>
                  </div>

                 

                  <!-- <div class="row">
                    <div class="col-sm-3 form-group">
                      <b>Address</b>
                    </div>
                    <div class="col-sm-3">
                      <p>{{teacherInfo.address1}}</p>
                      <p>{{teacherInfo.address2}}</p>
                      <p>{{teacherInfo.city}}</p>
                      <p>{{teacherInfo.state}}</p>
                      <p>{{teacherInfo.pincode}}</p>
                    </div>

                    <div class="col-sm-3 form-group">
                      <b>Phone No.</b>
                      <br>
                      <label>{{teacherInfo.phoneNo}}</label>
                      <br>
                      <b>Email Id</b>
                      <br>
                      <label>{{teacherInfo.email}}</label>
                      <b *ngIf="!emailerr" style="color: white">Enter valid email address</b>
                    </div>
                    <div class="col-sm-3 form-group">
                      <br>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- /#home -->

      <div id="feed" class="tab-pane">
        <div class="container">
          <div class="row">
            <div class="header">
              <div class="row">
                <div class="col-sm-4"></div>
              </div>
            </div>
          </div>

          <div *ngFor="let x of teacherCoursesInfo">

            <ul>
              <li>
                <a [routerLink]="['/home/course']" (click)="courseClicked(x.courseId)" style="cursor: pointer;">
                  <h5>{{x.title}}</h5>
                </a>
                <div class="row">
                  <div class="col-md-12" *ngIf="x.description">
                    <b>Course description</b> {{x.description}}
                  </div>
                </div>
                <div class="row" style="color: black; word-wrap: break-word;" >
                  <div class="col-md-6">
                    <b *ngIf="x.frequency">Frequency</b> {{comservice.formatFrequencyForExplore(x.frequency)}}
                    <br>
                    <div *ngIf="comservice.myUserRole != 'teacher'"><b>Cost</b> {{x.cost}} INR</div>
                  </div>
                  <div class="col-md-6">
                    <b>Duration</b> {{x.startDate}} to {{x.endDate}}
                    <br>
                    <b>Timings</b> {{x.startTime}} to {{x.endTime}}
                    <br>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </div>


      </div>

    </div>
  </div>
</div>


<div *ngIf="showExploreCourseDetails">
  <app-course-profile [course]="courseDetailsId"></app-course-profile>
</div>