<a (click)="topFunction()" id="scrollBtnTeacher" title="Back To Top"> <i class="fa fa-chevron-up"></i></a>

<div data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">
        <div *ngIf="comservice.showNavbar">
            <app-navbar></app-navbar>
        </div>
        <div id="scrollDivTeacher" style="overflow:auto; height: 100vh" >
            <div *ngIf="comservice.myUserRole == 'teacher' || comservice.myUserRole == 'student'">
                <div *ngIf="messagingService.notifications != null && messagingService.notifications.length > 0">
                    <div *ngFor="let x of messagingService.notifications">
                        <span class="warning">
                            <h5>
                                {{x.body}}
                                <button class="buttonflash" *ngIf="x.isJoinEnabled" (click)="joinMeeting()">
                                    Join Class
                                </button>
                            </h5>
                        </span>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>