
.bg
{
    background-color: grey;
}
.form-title
{
  padding-left: 75px;
  padding-top: 5px;
}
.activeStatusColor
{
  color: green;
}

.inactiveStatusColor
{
  color:red;
}

.search
{
  background-color: #f2f2f2;
  
}
.container-fluid
{
  margin-top:-9%;
  max-height: 50%;

}
.loading
{
  top:50%;
  left:50%;
  z-index: 1000;
}
.loading{
  /* vertical-align: middle;
  border-style: none;
  position: fixed;
  /* margin-top: 10%;
  margin-left: 28%; */
  /* margin: 0 auto;  */
  position: absolute;
  left: 50%;
  top : 40%;
  margin-left: -50px;
}
.loading img{
 padding-top:16%;
 padding-left: 41%;
}

.buttonflash {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #008000; -webkit-box-shadow: 0 0 3px #008000; }
  50% { background-color: #00e600; -webkit-box-shadow: 0 0 40px #00e600; }
  100% { background-color: #008000; -webkit-box-shadow: 0 0 3px #008000; }
}

@-moz-keyframes glowing {
  0% { background-color: #008000; -moz-box-shadow: 0 0 3px #008000; }
  50% { background-color: #00e600; -moz-box-shadow: 0 0 40px #00e600; }
  100% { background-color: #008000; -moz-box-shadow: 0 0 3px #008000; }
}

@-o-keyframes glowing {
  0% { background-color: #008000; box-shadow: 0 0 3px #008000; }
  50% { background-color: #00e600; box-shadow: 0 0 40px #00e600; }
  100% { background-color: #008000; box-shadow: 0 0 3px #008000; }
}

@keyframes glowing {
  0% { background-color: #008000; box-shadow: 0 0 3px #008000; }
  50% { background-color: #00e600; box-shadow: 0 0 40px #00e600; }
  100% { background-color: #008000; box-shadow: 0 0 3px #008000; }
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.4;   }


  span{
    display: block;
    z-index: 1000;
    position : fixed;
    left:65%;


  }
  
  span.warning {
    color: #d47df7;
    background-color:#f6ecfa;
   top: 10%;
  padding: 5px 5px 0px 5px;
  border-radius: 10px;
  }
  iframe {
    max-width: 100%;
    max-height: 100%;
  }

  @media only screen and (min-width: 800px) {
    /* For desktop: */
    .resize {
      border: 2px solid;
      padding: 20px; 
      width: 770px;
      height: 570px;
      resize: both;
      overflow: auto;
      min-width: 585px;
    min-height: 400px;
    }

   
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .hideMobileView{
      display: none
    }

    .cls{
      margin-right: 20px;
    }

  }
 
 .header{
   margin-right:  377.350px;
   margin-left: 377.350px;
   width: 50%;
   height: 35px;
   position: absolute;
   bottom: 10px;
 }
  
 .header .wc-box{
    position: absolute;
    top: calc(44% - 15px);
    right: calc(6% - 45px);
 }
 
  
  .modal .header .buttons {
    position: absolute;
    /* right: 0; */
    top: 9px;
  }
  
  .modal .header .buttons span {
    border-left: 1px solid #ccc;
    padding: 8px 20px;
    cursor: pointer;
  }
  
  .modal .header .buttons span:hover {
    background: #eee;
  }
  
  .moveBottom{
    transform: translate(0, 75vh);
  }

  .hide{
    display: none
  }

  .wc-box {
    position: absolute;
    top: calc(4% - 15px);
    right: calc(7% - 45px);
  }
  
  .wc-box div {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
  }
  .wc-box span {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
  }
  
  .wc-box div:before,
  .wc-box div:after {
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    content: " ";
    position: absolute;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 2px 0;
  }
  .wc-box span:before,
  .wc-box span:after {
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    position: absolute;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 2px 0;
  }
  
  .wc-box .minimize:before {
    border-bottom-width: 2px;
  }

  .wc-box .fullscreen:before {
    border-bottom-width: 2px;
  }
  
  .wc-box .maximize:before {
    border-width: 1px 1px 2px 1px;
  }
  
  .wc-box .cls:before,
  .wc-box .cls:after {
    bottom: 50%;
    top: 50%;
  }
  
  .wc-box .cls:before {
    transform: rotate(45deg);
  }
  
  .wc-box .cls:after {
    transform: rotate(-45deg);
  }
  
  .wc-box div:hover {
    background-color: #CCCCCC;
  }

  .wc-box span:hover {
    background-color: #CCCCCC;
  }
  
  .wc-box .cls:hover {
    background-color: #E04343;
  }
  
  .wc-box div:hover:after,
  .wc-box div:hover:before {
    border-color: #333333;
  }

  .wc-box span:hover:after,
  .wc-box span:hover:before {
    border-color: #333333;
  }
  
  .wc-box .cls:hover:after,
  .wc-box .cls:hover:before {
    border-color: #FFFFFF;
  }

  #scrollDivTeacher{
    scroll-behavior: smooth;
}

#scrollBtnTeacher {
    position: fixed;
    bottom: 50px;
    left: 40px;
    z-index: 500;
    cursor: pointer;
    background: rgba(85, 77, 201, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scrollBtnTeacher i {
    cursor: pointer;
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scrollBtnTeacher:hover {
    cursor: pointer;
    background: rgba(85, 77, 201, 0.9);
}
#scrollBtnTeacher:hover i {
    color: #fff;
    top: 5px;
}
