<div class="site-section">
    <div class="splitright right">
        <!-- <div (messageEvent)="receiveMessage($event)"></div> -->
        <div class="container mobile-pad" style="padding-top: 7%" *ngIf="!showExploreDetails">
            <div class="jumbotron mb-8" *ngIf="emptydatalist">
                <div>
                    <h3>
                        <strong> Sorry ! </strong> No courses found
                    </h3>
                </div>
            </div>
 
            <div *ngIf="loading" style="z-index: 1000;" class="loading">
                <div>
                    <img width="100px" height="50px" src="../../assets/spinner.gif">
                </div>
            </div>
            <!-- <div class="row"> 
                    <h3 >Courses under</h3>
                    </div> -->
            <div *ngFor="let x of courseList  | paginate: { itemsPerPage: 4, currentPage: p }">

                <div class="tags">
                    <div class="jumbotron">
                        <div class="row" onclick="$(this).parent().parent().find('.category').slideToggle();">
                            <div class="col-sm-3">
                                <a [routerLink]="['/course']" (click)="courseClicked(x.courseId)"
                                    style="cursor: pointer;">

                                    <h4 style="color: black;">{{x.title}} </h4>

                                </a>
                                <ngx-stars [readonly]="true" [initialStars]="x.cumulativeRating" [color]="'#e5570b'"
                                    [size]="1"></ngx-stars>
                                {{x.teacherInfo == undefined ? '' :'by '+ x.teacherInfo.teacherName}}



                            </div>
                            <div class="col-sm-4">
                                <label> Frequency </label><span *ngIf="x.frequency">
                                    {{comservice.formatFrequencyForExplore(x.frequency)}}</span>
                                <br>
                                <label> Class </label> {{x.classInfo == undefined ? '' : x.classInfo.className + 'th'}}
                                <!-- <span *ngIf="x.classInfo"> {{x.classInfo.className}}th</span> -->
                                <br>
                                <div *ngIf="comservice.myUserRole != 'teacher'">
                                    <label> Cost </label> {{x.cost == undefined ? '' : x.cost + ' INR'}}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label> Subject </label> {{x.subjectInfo == undefined ? '' : x.subjectInfo.subjectName}}
                                <br>
                                <label> Time </label> {{x.startTime == undefined ? '' : x.startTime + ' to'}}
                                {{x.endTime == undefined ? '' : x.endTime}}

                                <br>
                                <label> Total scheduled classes</label>
                                {{x.totalClassCount == undefined ? '' : x.totalClassCount}}
                                <br>
                            </div>

                            <div class="col-md-2">
                                <!-- [disabled]="isEnquireDisabled(x.isEnquired)"  value="{{getEnquireValue(x.isEnquired)}}" -->
                                <div *ngIf="comservice.myUserRole == 'student' && x.teacherInfo != undefined">
                                    <!-- <i class="fa fa-heart" (click)="changeColor()" id="heart"  ></i> -->
                                    <input type="button" [disabled]="isEnquireDisabled(x.isEnquired)"
                                        class="btn btn-primary btn-pill " id="enquire{{x.courseId}}"
                                        *ngIf="comservice.enquiryForCourse "
                                        (click)="enquireCcTeacher(x.courseId,x.ccInformation.ccId, x.teacherInfo.teacherId)"
                                        value="{{getEnquireValue(x.isEnquired)}}" name="enquire"
                                        style="cursor: pointer;">
                                </div>
                                <div *ngIf="comservice.myUserRole == 'student' && x.teacherInfo == undefined">
                                    <!-- <i class="fa fa-heart" (click)="changeColor()" id="heart"  ></i> -->
                                    <input type="button" [disabled]="isEnquireDisabled(x.isEnquired)"
                                        class="btn btn-primary btn-pill " id="enquire{{x.courseId}}"
                                        *ngIf="comservice.enquiryForCourse "
                                        (click)="enquireCcTeacher(x.courseId,x.ccInformation.ccId)"
                                        value="{{getEnquireValue(x.isEnquired)}}" name="enquire"
                                        style="cursor: pointer;">
                                </div>
                                <br>
                                <div>
                                    <input *ngIf="comservice.myUserRole == 'student' && x.teacherInfo != undefined"
                                        type="button" [disabled]="isEnrollDisabled(x.isEnrolled)"
                                        class="btn btn-primary btn-pill " id="enroll{{x.courseId}}"
                                        (click)="payInCashCc(x.courseId, x.ccInformation.ccId, x.teacherInfo.teacherId)"
                                        value="{{getEnrollValue(x.isEnrolled)}}" name="enroll">
                                </div>
                            </div>
                        </div>

                        <div class="category" id="category">
                            <div class="row">
                                <div class="col-sm-12" *ngIf="x.description">
                                    <h5>Course Description</h5>
                                    {{x.description == undefined ? '' : x.description}}
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Additional Features</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-check" aria-hidden="true" *ngIf="x.doubtClearance =='true'"></i>
                                    <i class="fa fa-times" aria-hidden="true" *ngIf="x.doubtClearance !='true'"></i>
                                    Provide doubt clearance
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-check" aria-hidden="true" *ngIf="x.onlineForum =='true'"></i>
                                    <i class="fa fa-times" aria-hidden="true" *ngIf="x.onlineForum !='true'"></i>
                                    Public forum available
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-check" aria-hidden="true" *ngIf="x.homework =='true'"></i>
                                    <i class="fa fa-times" aria-hidden="true" *ngIf="x.homework !='true'"></i>
                                    Check homework
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-check" aria-hidden="true" *ngIf="x.periodicTests =='true'"></i>
                                    <i class="fa fa-times" aria-hidden="true" *ngIf="x.periodicTests !='true'"></i>
                                    Conducts test
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-check" aria-hidden="true" *ngIf="x.studyMaterial =='true'"></i>
                                    <i class="fa fa-times" aria-hidden="true" *ngIf="x.studyMaterial !='true'"></i>
                                    Provide course material/notes
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-check" aria-hidden="true" *ngIf="x.availableOnPhone =='true'"></i>
                                    <i class="fa fa-times" aria-hidden="true" *ngIf="x.availableOnPhone !='true'"></i>
                                    Available over phone for doubts
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" *ngIf="x.startTime != null">
                                    <i class="fa fa-check" aria-hidden="true" *ngIf="x.startTime != null"></i>
                                    <i class="fa fa-times" aria-hidden="true" *ngIf="x.startTime == null"></i>
                                    {{getTimeDifference(x.startTime,x.endTime)}} Minute class
                                </div>
                                <div class="col-sm-6" *ngIf="x.maxStudent != null">
                                    <i class="fa fa-check" aria-hidden="true" *ngIf="x.maxStudent !=null"></i>
                                    <i class="fa fa-times" aria-hidden="true" *ngIf="x.maxStudent == null"></i>
                                    {{x.maxStudent}} Students per session
                                </div>
                            </div>
                            <hr />
                            <div class="row" *ngIf="x.teacherInfo != null">
                                <div class="col-sm-12">
                                    <h5>Teacher Details </h5>
                                </div>
                            </div>
                            <!-- <a  [routerLink]="['/profile',x.teacherInfo.profileUrl]"> -->

                            <div class="row" *ngIf="x.teacherInfo">
                                <div class="col-md-1" *ngIf="x.teacherInfo.picturePath != null">
                                    <img [src]="x.teacherInfo.picturePath"
                                        style="border-radius: 50%; height: 60px; width: 60px;">
                                </div>

                                <div class="col-sm-5">
                                    <a [routerLink]="['/home/teacher']"
                                        (click)="teacherClicked(x.teacherInfo.teacherId)" style="cursor: pointer;">
                                        <label> {{x.teacherInfo == undefined ? '' : x.teacherInfo.teacherName}}</label>
                                        <br>
                                        {{x.teacherInfo.qualifications == undefined ? '' : x.teacherInfo.qualifications}}
                                        <br>{{x.teacherInfo.experience == undefined ? '' : x.teacherInfo.experience + ' year(s) experience'}}
                                        <br>
                                    </a>
                                </div>


                                <div class="col-sm-6" *ngIf="x.videoPath != null">
                                    <video width="320" height="120" controls>
                                        <source [src]="x.videoPath" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <!-- </a> -->
                        </div>
                    </div>
                </div>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <!-- <form ngNoForm #myFormPost hidden id="payForm" [action]="PAYTM_PAYMENT_URL" method="POST" target="_blank">
        </form> -->
    </div>

</div>