
.button1
{
    background-color: #7971ea;
    border-radius: 10px;
    padding: 3px; 
    width: 80px;
    height: 30px;
}


.rating{
  color: white
}

.options
{
    margin-top:12%;
    margin-left:10%;
  

}

.Title
{
    margin-top:18%;
    margin-left:10%;

    
}
.contentdiv
{
    width:80%;
    margin-top:1%;
    margin-left:6%;
  padding-left: 10%;
  border: 1px solid #007bff;
  background-color: white;
  border-radius: 5px;
 
   

}
.isactive
{
    background-color: white;
    color: black;
}

 
      .splitright {
        height: 100%;
        width: 100%;
        position: fixed;
       
        top: 20px;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
     
      /* Control the right side */
      .right {
        right: 0;
        top:0px;
        background-color: white;
      }
      
    
      /* Style the image inside the centered container, if needed */
      .centered img {
        width: 150px;
        border-radius: 50%;
      }
     
      .black
      {
          color: black;
      }
     .fixedcontainer
     {
    position: fixed;z-index: 1000; background-color: white;
     }
     .myhiddendiv
     {
         display: none;
     }
    .category
    {
        display: none;
       }

    .jumbotron
    {
      color: black;
      background-color: #e9ecef;
   
        padding: 1rem 2rem;
        -webkit-box-shadow: 1px 1px 11px 0px #666666; 
        box-shadow: 1px 1px 11px 0px #666666 ;
    }
  
     
    .col-sm-6 p{
        font-size: medium;
        font-weight: 600;
    }
    .fa-check
    {
        color: green;
      font-size: 20px;
    }
    .fa-times
    {
        color: red;
      font-size: 20px;
    }
  
    .loading {
      position: fixed;
      left: 45%;
      top: 50%;
  }
      .btn-success
      {
          height: 30px;
          text-align: center;
          padding: 3px; 
         
          border-radius: 10px;
      }
  .aligned
  {
      margin-top:-30px;
  }
  video {
    max-width: 100%;
    max-height: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    .mobile-pad
    {
      padding-top: 16% !important;
    }
  }

  .btn{
    
    padding: 5%;
  }

  .site-section{
    font-weight: 400 !important;
  }
  .searchClearButton{
    background-color: #353a3f;
    border-radius: 10px;
    padding: 7px; 
    width: 100px;
    border: white;
    color: white;
  }


a{
  cursor: pointer;
}
