.fa-square
    {
        color: green;
      font-size: 20px;
    }
    .loading {
      position: fixed;
      left: 45%;
      top: 50%;
  }
.fa-square-o
    {
       
      font-size: 20px;
    }

.fa-check
{
    color: green;
  font-size: 20px;
}
.fa-times
{
    color: red;
  font-size: 20px;
}
.container{
  font-weight: 400 !important;
}
a{
  cursor: pointer;
}
