<div *ngIf="loading" style="z-index: 1000;" class="loading">
  <img width="100px" height="50px" src="../../assets/spinner.gif">
</div>
<br><br><br>
<div class="container" *ngIf="!showExploreTeacherDetails">
  <div *ngIf="courseDetails != undefined">
    <div>

      <div *ngIf="comservice.exploreHistory != undefined">
        <button (click)="back()">&#8701;Back to {{comservice.exploreHistory}}</button>
      </div>

      <br> 
      <div class="row">

        <div class="col-md-9">
          <h2>{{courseDetails.title}}</h2>
        </div>

        <div class="col-md-3">
          <b>Course Price </b>
          <span *ngIf="courseDetails.cost && comservice.myUserRole !='teacher'">{{courseDetails.cost}} INR </span>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4" style="z-index: 0;">
          <ngx-stars *ngIf="courseDetails.cumulativeRating " [readonly]="true"
            [initialStars]="courseDetails.cumulativeRating" [color]="'#e5570b'" [size]="1"></ngx-stars>
        </div>
      </div>


      <div class="row">
        <div class="col-md-5">
          <b>Class </b>
          <span *ngIf="courseDetails.classInfo">{{courseDetails.classInfo.className}}th</span>
        </div>

        <div class="col-md-5">
          <b>Subject </b>
          <span *ngIf="courseDetails.subject">{{courseDetails.subject.subjectName}}</span>
        </div>


      </div>
      <div class="row">

        <div class="col-md-5">
          <b>Duration </b>
          <span *ngIf="courseDetails.startDate && courseDetails.endDate">{{courseDetails.startDate}} to
            {{courseDetails.endDate}}</span>
        </div>

        <div class="col-md-5">
          <b>Timings </b>
          <span *ngIf="courseDetails.startTime && courseDetails.endTime">{{courseDetails.startTime}} to
            {{courseDetails.endTime}}</span>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6" *ngIf="courseDetails.frequency != null">
          <b>Classes per week</b>
          {{getNumOfDaysFromFrequency(courseDetails.frequency)}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-1">
          <b>Frequency</b>
        </div>

        <div class="col-sm-1">
          <i class="fa fa-square" aria-hidden="true" *ngIf="isClassScheduledOnDay('Monday')"></i>
          <i class="fa fa-square-o" aria-hidden="true" *ngIf="!isClassScheduledOnDay('Monday')"></i>
          <br> Mon
        </div>


        <div class="col-sm-1">
          <i class="fa fa-square" aria-hidden="true" *ngIf="isClassScheduledOnDay('Tuesday')"></i>
          <i class="fa fa-square-o" aria-hidden="true" *ngIf="!isClassScheduledOnDay('Tuesday')"></i>
          <br> Tue
        </div>

        <div class="col-sm-1">
          <i class="fa fa-square" aria-hidden="true" *ngIf="isClassScheduledOnDay('Wednesday')"></i>
          <i class="fa fa-square-o" aria-hidden="true" *ngIf="!isClassScheduledOnDay('Wednesday')"></i>
          <br> Wed
        </div>

        <div class="col-sm-1">
          <i class="fa fa-square" aria-hidden="true" *ngIf="isClassScheduledOnDay('Thursday')"></i>
          <i class="fa fa-square-o" aria-hidden="true" *ngIf="!isClassScheduledOnDay('Thursday')"></i>
          <br> Thur
        </div>

        <div class="col-sm-1">
          <i class="fa fa-square" aria-hidden="true" *ngIf="isClassScheduledOnDay('Friday')"></i>
          <i class="fa fa-square-o" aria-hidden="true" *ngIf="!isClassScheduledOnDay('Friday')"></i>
          <br> Fri
        </div>

        <div class="col-sm-1">
          <i class="fa fa-square" aria-hidden="true" *ngIf="isClassScheduledOnDay('Saturday')"></i>
          <i class="fa fa-square-o" aria-hidden="true" *ngIf="!isClassScheduledOnDay('Saturday')"></i>
          <br> Sat
        </div>

        <div class="col-sm-1">
          <i class="fa fa-square" aria-hidden="true" *ngIf="isClassScheduledOnDay('Sunday')"></i>
          <i class="fa fa-square-o" aria-hidden="true" *ngIf="!isClassScheduledOnDay('Sunday')"></i>
          <br> Sun
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="courseDetails.description">
          <hr />
          <h5>Course Description</h5>
          <span *ngIf="courseDetails.description">{{courseDetails.description}}</span>
        </div>

      </div>
      <hr />
      <div class="row" *ngIf="courseDetails.teacher">

        <div class="col-md-5">

          <h5>Teacher Details </h5>
          <a [routerLink]="['/home/teacher']" (click)="teacherClicked(courseDetails.teacher.teacherID)"
            style="cursor: pointer;">
            <b>Name</b> {{courseDetails.teacher.teacherName}}
          </a>
          <br>
          <b>Qualification(s)</b> {{courseDetails.teacher.qualifications}}
          <br>
          <b>Experience</b> {{courseDetails.teacher.experience}}&nbsp;year(s)
          <br>

        </div>

        <div class="col-md-5">
          <div *ngIf="courseDetails.cc != null">
            <h5>Course Run By Institute</h5>
            <div>{{courseDetails.cc.ccName}}</div>
            <div>{{courseDetails.cc.address1}}</div>
          </div>
        </div>
        <div class="col-md-1" *ngIf="courseDetails.teacher">
          <img [src]="courseDetails.teacher.picturePath" style="border-radius: 50%; height: 80px; width: 80px;">
        </div>
      </div>
      <div class="row" *ngIf="courseDetails.videoPath != null">
        <div class="col-sm-6">
          <br>
          <video width="600px" height="200px" controls>
            <source [src]="courseDetails.videoPath" type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> Your browser does not support the video tag. -->
          </video>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <h5>Additional Features</h5>
        </div>
      </div>
      <div class="category" id="category">
        <div class="row">
          <div class="col-sm-5">
            <i class="fa fa-check" aria-hidden="true" *ngIf="courseDetails.doubtClearance =='true'"></i>
            <i class="fa fa-times" aria-hidden="true" *ngIf="courseDetails.doubtClearance !='true'"></i>
            Doubt Clearance
          </div>
          <div class="col-sm-5">
            <i class="fa fa-check" aria-hidden="true" *ngIf="courseDetails.onlineForum =='true'"></i>
            <i class="fa fa-times" aria-hidden="true" *ngIf="courseDetails.onlineForum !='true'"></i>
            Public forum available
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <i class="fa fa-check" aria-hidden="true" *ngIf="courseDetails.homework =='true'"></i>
            <i class="fa fa-times" aria-hidden="true" *ngIf="courseDetails.homework !='true'"></i>
            Check Homework
          </div>
          <div class="col-sm-5">
            <i class="fa fa-check" aria-hidden="true" *ngIf="courseDetails.periodicTests =='true'"></i>
            <i class="fa fa-times" aria-hidden="true" *ngIf="courseDetails.periodicTests !='true'"></i>
            Conduct tests
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <i class="fa fa-check" aria-hidden="true" *ngIf="courseDetails.studyMaterial =='true'"></i>
            <i class="fa fa-times" aria-hidden="true" *ngIf="courseDetails.studyMaterial !='true'"></i>
            Provide course material/notes
          </div>
          <div class="col-sm-5">
            <i class="fa fa-check" aria-hidden="true" *ngIf="courseDetails.availableOnPhone =='true'"></i>
            <i class="fa fa-times" aria-hidden="true" *ngIf="courseDetails.availableOnPhone !='true'"></i>
            Available over phone for doubts
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <i class="fa fa-check" aria-hidden="true" *ngIf="courseDetails.startTime != null"></i>
            <i class="fa fa-times" aria-hidden="true" *ngIf="courseDetails.startTime == null"></i>
            {{getTimeDifference(courseDetails.startTime,courseDetails.endTime)}} minutes class
          </div>
          <div class="col-sm-5" *ngIf="courseDetails.maxStudent != null">
            <i class="fa fa-check" aria-hidden="true" *ngIf="courseDetails.maxStudent !=null"></i>
            <i class="fa fa-times" aria-hidden="true" *ngIf="courseDetails.maxStudent == null"></i>
            {{courseDetails.maxStudent}} students per session
          </div>
        </div>
      </div>
      <hr />
      <div class="row" *ngIf="courseReviews.studentReviews.length > 0">
        <div class="col-sm-6">
          <h5>
            Reviews
          </h5>
        </div>
      </div>
      <div class="row" *ngFor="let y of courseReviews.studentReviews">
        <div class="col-sm-3">
          <b>{{y.studentName}}</b>
        </div>
        <div class="col-sm-3">
          <ngx-stars [readonly]="true" [initialStars]="y.studentRating" [color]="'#e5570b'" [size]="1"></ngx-stars>
        </div>
        <div class="col-md-12">
          {{y.studentReview}}
          <hr />
        </div>

      </div>

    </div>
  </div>
</div>
<div *ngIf="showExploreTeacherDetails">
  <app-explore-profile [teacher]="teacherDetailsId"></app-explore-profile>
</div>