<br>
<br>
<br>
<div *ngIf="loading" style="z-index: 1000;" class="loading">
    <div>
        <img width="100px" height="50px" src="../../assets/spinner.gif">
    </div>
</div>

<div class="page-wrapper chiller-theme toggled">



    <a *ngIf="comservice.myUserRole == 'cc'" style="top: 84px;padding: 0px 25px; z-index: 100;" id="show-sidebar"
        class="btn btn-dark">
        <i style="color: white; font-size: 20px;" class="fa fa-gears"></i>
    </a>

    <a class="mobile-view" (click)="openNav()"> <img style="height:30px; width: 30px; padding-bottom: 5px;" src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1589803119/LearningPod/myAccounts/userSideBar_wyujj3.png">
         My Account
</a>
    <nav *ngIf="comservice.myUserRole == 'cc'" style="top: 50px;" id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a>Settings</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="sidebar-menu">
                <button style="float: right;margin: 15px;" (click)="setCcPreference()"
                    class="btn-sm btn-primary">Apply</button>

                <ul style="list-style-type:none;">

                    <li class="sidebar-dropdown">
                        <a class="pointer">
                            <i class="fa fa-puzzle-piece"></i>
                            <span>General Settings</span>

                        </a>
                        <div *ngIf="preferenceData" class="sidebar-submenu">
                            <ul style="list-style-type:none;">
                                <!-- <li>
                                    <p><input type="checkbox" [(ngModel)]="preferenceData.enquiryForCourse"> Enable course enquiry </p>
                                </li> -->
                                <li>
                                    <p class="pointer"><input type="checkbox" disabled> Enable online payment </p>
                                </li>
                                <li>
                                    <span style="color:#b8b9c5;">Send SMS when</span>
                                    <ul style="list-style-type:none;">

                                        <li>
                                            <p><input type="checkbox"
                                                    [(ngModel)]="preferenceData.ccPreference.sendSMSForCourseCreate">
                                                Course is created</p>
                                        </li>
                                        <li>
                                            <p><input type="checkbox"
                                                    [(ngModel)]="preferenceData.ccPreference.sendSMSForCourseUpdate">
                                                Course is updated</p>
                                        </li>
                                        <li>

                                            <p class="pointer"><input type="checkbox"
                                                    [(ngModel)]="preferenceData.ccPreference.sendSMSForUpcomingSC">
                                                Scheduled class is approaching</p>
                                        </li>
                                        <li>
                                            <p class="pointer"><input type="checkbox"
                                                    [(ngModel)]="preferenceData.ccPreference.sendSMSForAddNewSC">New
                                                class is scheduled</p>
                                        </li>
                                        <li>
                                            <p class="pointer"><input type="checkbox"
                                                    [(ngModel)]="preferenceData.ccPreference.sendSMSForUpdatedSC">
                                                Scheduled class is updated</p>
                                        </li>

                                        <li>
                                            <p class="pointer"><input type="checkbox"
                                                    [(ngModel)]="preferenceData.ccPreference.sendSMSForCourseEnrollment">
                                                For course enrollment</p>
                                        </li>
                                    </ul>

                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a>
                            <i class="fa fa-users"></i>
                            <span class="pointer">Student settings</span>

                        </a>
                        <div *ngIf="preferenceData" class="sidebar-submenu">
                            <ul style="list-style-type:none;">
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccStudentPreference.displayMyPayments"> Show
                                        payment details</p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccStudentPreference.displayMyRecordings"> Show
                                        recordings
                                    </p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccStudentPreference.enquiryForCourse"> Enable
                                        course enquiry </p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccStudentPreference.allowRating"> Allow rating a
                                        course
                                    </p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccStudentPreference.showExploreCoursesAndTeacher">
                                        Make explore teachers and courses visible to students
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a class="pointer">
                            <i class="far fa-user"></i>
                            <span>Teacher settings</span>
                        </a>
                        <div *ngIf="preferenceData" class="sidebar-submenu">
                            <ul style="list-style-type:none;">
                                <li>
                                    <p class="pointer"><input disabled type="checkbox"
                                            [(ngModel)]="preferenceData.ccTeacherPreference.displayMyStudents"> Show
                                        students
                                    </p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccTeacherPreference.displayMyRecordings"> Show
                                        recordings
                                    </p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccTeacherPreference.allowCreateCourse"> Allow
                                        course creation</p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox" disabled
                                            [(ngModel)]="preferenceData.ccTeacherPreference.allowEnrollStudent"> Allow
                                        student enrollment</p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccTeacherPreference.allowUploadNotes"> Allow
                                        uploading notes</p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccTeacherPreference.allowAddSchedule"> Allow
                                        scheduling new class</p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccTeacherPreference.allowEditSchedule"> Allow
                                        updating scheduled class</p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccTeacherPreference.allowPaymentModification">
                                        Allow making payments
                                    </p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccTeacherPreference.showExploreCoursesAndTeacher">
                                        Make explore teachers and courses visible to teachers
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sidebar-dropdown">
                        <a class="pointer">
                            <i class="fa fa-desktop"></i>
                            <span>Live class settings</span>
                        </a>
                        <div *ngIf="preferenceData" class="sidebar-submenu">
                            <ul style="list-style-type:none;">
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccLiveClassPreference.recordingAvailable">
                                        Enable recording </p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccLiveClassPreference.autoStartStopRecording">
                                        Start recording as the class starts </p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccLiveClassPreference.allowTeacherStartStopRecording">
                                        Allow teacher to start/stop recording</p>
                                </li>
                                <li>
                                    <p class="pointer"><input type="checkbox"
                                            [(ngModel)]="preferenceData.ccLiveClassPreference.endMeetingUponEndTime">
                                        End live class forcefully upon scheduled end time</p>
                                </li>
                            </ul>
                        </div>
                    </li>


                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->

    </nav>
    <!-- sidebar-wrapper  -->



    <div id="mobileViewOfMyProfileTabs" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a data-toggle="tooltip" data-placement="bottom" (click)="closeNav()" title="Your profile" id="one"
            data-toggle="tab" href="#profile">
            <i class="green ace-icon fa fa-user "></i> My Profile
        </a>
        <a *ngIf="comservice.myUserRole == 'cc'" data-toggle="tooltip" (click)="closeNav()" data-placement="bottom"
            title="To manage your teachers" data-toggle="tab" id="two" href="#teachers">
            <i class="blue ace-icon fa fa-users"></i> My Teachers
        </a>
        <a *ngIf="displayMyStudents && comservice.myUserRole == 'cc'" (click)="closeNav()" data-toggle="tooltip"
            data-placement="bottom" title="To manage your students" data-toggle="tab" id="three" href="#students">
            <i class="blue ace-icon fa fa-users "></i> My Students
        </a>
        <a data-toggle="tooltip" data-placement="bottom" (click)="closeNav()" title="To view all your courses"
            data-toggle="tab" href="#courses">
            <i class="orange ace-icon fa fa-book "></i> My Courses
        </a>
        <a data-toggle="tooltip" data-placement="bottom" (click)="closeNav()"
            title="To view and manage your calendar of scheduled classes" data-toggle="tab" href="#schedule">
            <i class="purple ace-icon fa fa-calendar "></i> My Schedule
        </a>
        <a *ngIf="displayMyRecordings" data-toggle="tooltip" (click)="closeNav()" data-placement="bottom"
            title="To view recorded live sessions" data-toggle="tab" href="#recordings">
            <i class="red ace-icon fa fa-video-camera "></i> My Recordings
        </a>
        <a *ngIf="displayMyPayments" data-toggle="tooltip" (click)="closeNav()" data-placement="bottom"
            title="To manage your payments" data-toggle="tab" href="#paymentStats1">
            <i class="green ace-icon fa fa-money "></i> My Payments
        </a>

    </div>


    <div id="user-profile-2" class="user-profile">

        <div class="tabbable">
            <div class="col-lg-12 desktop-view"
                style="position: fixed;background-color: white;top: 40px;padding-left: 60px;height: 60px; z-index: 10;">
                <ul class="nav nav-tabs desktop-view" style="top: 25px;">
                    <li data-step="1" data-intro="View and manage your profile" class="active " (click)="tabClicked()">
                        <a data-toggle="tooltip" data-placement="bottom" title="Your profile"  id="one" data-toggle="tab"
                            href="#profile">
                            <i class="green ace-icon fa fa-user bigger-120" ></i> My Profile 
                        </a>
                    </li>
                    <li *ngIf="comservice.myUserRole == 'cc'" (click)="tabClicked()" >
                        <a data-toggle="tooltip" data-placement="bottom" title="To manage your teachers" data-step="2"
                            data-intro="Manage teachers of your coaching institute and create their logins "
                            data-toggle="tab" id="two" href="#teachers" [ngStyle]="{'background-color': teacherCount != 0  ? '' : '#ffe1b0' }">
                    <i class="blue ace-icon fa fa-users bigger-120"></i> My Teachers {{teacherCount ? "(" + teacherCount + ")" : ""}}
                        </a>
                    </li>
                    <li *ngIf="displayMyStudents && comservice.myUserRole == 'cc'" (click)="tabClicked()">
                        <a data-toggle="tooltip" data-placement="bottom" title="To manage your students" data-step="3"
                            data-intro="Manage students in your coaching institute and their payment details"
                            data-toggle="tab" id="three" href="#students" [ngStyle]="{'background-color': studentCount != 0  ? '' : '#ffe1b0' }">
                            <i class="blue ace-icon fa fa-users bigger-120"></i> My Students {{studentCount ? "(" + studentCount + ")" : ""}}
                        </a>
                    </li>
                    <li (click)="tabClicked()">
                        <a data-toggle="tooltip" data-placement="bottom" title="To view all your courses" data-step="4"
                            data-intro="View and manage courses offered by your coaching institute" data-toggle="tab"
                            href="#courses" [ngStyle]="{'background-color': courseCount != 0  ? '' : '#ffe1b0' }">
                            <i class="orange ace-icon fa fa-book bigger-120"></i> My Courses {{courseCount ? "(" + courseCount + ")" : ""}}
                        </a>
                    </li>
                    <li (click)="tabClicked()">
                        <a data-toggle="tooltip" data-placement="bottom"
                            title="To view and manage your calendar of scheduled classes" data-step="5"
                            data-intro="Get a monthly view of calendar of scheduled classes by all teachers"
                            data-toggle="tab" href="#schedule">
                            <i class="purple ace-icon fa fa-calendar bigger-120"></i> My Schedule
                        </a>
                    </li>
                    <li *ngIf="displayMyRecordings" (click)="tabClicked()">
                        <a data-toggle="tooltip" data-placement="bottom" title="To view recorded live sessions"
                            data-step="6" data-intro="View recorded live classes" data-toggle="tab" href="#recordings">
                            <i class="red ace-icon fa fa-video-camera bigger-120"></i> My Recordings
                        </a>
                    </li>
                    <li *ngIf="displayMyPayments" (click)="tabClicked()"> 
                        <a data-toggle="tooltip" data-placement="bottom" title="To manage your payments" data-step="7"
                            data-intro="Get summary and detailed views of payments and transactions" data-toggle="tab"
                            href="#paymentStats1">
                            <i class="green ace-icon fa fa-money bigger-120"></i> My Payments
                        </a>
                    </li>
                </ul>
              
            </div>

            <div class="tab-content no-border">
                <div id="profile" class="tab-pane in active">
                    <app-accounts *ngIf="loadComponent" [teacherDetailsForAccountPage]="teacherDetailsForAccountPage"
                        [ccDetailsForAccountPage]="ccDetailsForAccountPage"
                        [studentDetailsForAccountPage]="studentDetailsForAccountPage" [teacherDetails]="teacherDetails"
                        [studentDetails]="studentDetails" (isTeacherAdded)="isTeacherAdded($event)" (isStudentAdded)="isStudentAdded($event)"
                        (teacherStudentCountEvent)="getTeacherStudentCount($event)" (isCourseAdded)="isCourseAdded($event)"></app-accounts>
                </div>
                <!-- /#profile -->

                <div id="courses" class="tab-pane">
                    <app-course *ngIf="loadComponent" [teacherDetails]="teacherDetails" [teacherList]="teacherList"
                        (isPaymentUpdated)="isPaymentUpdatedFromCourse($event)"
                        (isStudentEnrolled)="isStudentEnrolled($event)" (isCourseUpdated)="isCourseUpdated($event)"
                        (isNewCourseUpdated)="isNewCourseUpdated($event)" (deletedCourseId)="deletedCourseId()"
                        [preferenceData]="preferenceData" [studentDetails]="studentDetails" [isDelete]="isDeleteEvent"
                        [teacherStudentCount]="teacherStudentCount"></app-course>
                </div>
                <!-- /#courses -->

                <div id="schedule" class="tab-pane">
                    <mwl-demo-component *ngIf="loadComponent" [courseList]="courseList"
                        [teacherDetails]="teacherDetails"></mwl-demo-component>
                </div>

                <div id="teachers" class="tab-pane">
                    <app-my-teachers *ngIf="loadComponent" (isTeacherUpdated)="getUpdatedTeacherList($event)" (isDelete)="isDelete($event)">
                    </app-my-teachers>
                </div>
                <div id="students" class="tab-pane">
                    <app-my-students *ngIf="loadComponent" (isStudentEnrolled)="isStudentEnrolledFromStudent($event)"
                        (isPaymentUpdated)="isPaymentUpdatedFromStudent($event)"
                        (isStudentUpdated)="getUpdatedStudentList($event)" [teacherStudentCount]="teacherStudentCount">
                    </app-my-students>
                </div>
                <!-- /#teachers -->

                <div id="recordings" class="tab-pane">
                    <app-my-recording *ngIf="loadComponent"></app-my-recording>
                </div>

                <div id="paymentStats1" class="tab-pane" *ngIf="comservice.myUserRole != 'teacher'">
                    <app-payment-stats *ngIf="loadComponent"></app-payment-stats>
                </div>


                <!-- /#pictures -->
            </div>

        </div>

        <!-- <a id="poweredBy" class="navbar-brand" href="#a">Powered by LearningPod</a> -->
        <div>
            <img src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967174/LearningPod/home/blackWithLp_agasuz.png"
                style="height: 60px; width: 80px; position: fixed; right: 0px; bottom: 0px; padding: 0px 20px 20px 0px;">
        </div>



    </div>
    <!-- page-content" -->
</div>


