<div class="container" style="padding-top : 70px ;">
  <div class="row pb-3">
    
    <h2>
        Tutorials For Coaching Institute Admin
    </h2>

  </div>
  <div class="row pb-3" >
    <div class="col-sm-4 pb-4">
      <iframe style="border-radius: 7%; width: 100%; height: 90%;" src="">
      </iframe>
      <p>
        How to setup your institute on LearningPod
      </p>
    </div>
    <div class="col-sm-4 pb-4">
      <iframe style="border-radius: 7%; width: 100%; height: 90%;" src="">
      </iframe>
      <p>
        Live class demonstration on LearningPod
      </p>
    </div>
    <div class="col-sm-4 pb-4">
      <div class="pdf">
        <iframe style="border-radius: 7%; width: 100%; height: 100%;" class="image"
          src="../../../resources/LearningPod_CIAdmin_Manual.pdf">
        </iframe>
        <div class="middle">
          <a href="../../../resources/LearningPod_CIAdmin_Manual.pdf" download title="Download manual" style="padding-right: 15px;">
            <i class="fa fa-download" style="font-size: 20px;"></i>
          </a>
          <a data-target="#previewPdfForCc" data-toggle="modal" download title="View manual" >
            <i class="fa fa-search" style="font-size: 20px; color: #7971ea;"></i>
          </a>
        </div>
      </div>
      <p class="pt-2">Lookup manual for coaching institute admin</p>
    </div>
  </div>
  <div class="row pb-3" >
      <h2>
        Tutorials For Teachers Of LearningPod
      </h2>
  </div>
  <div class="row pb-3" >
    <div class="col-sm-4 pb-4">
      <iframe style="border-radius: 7%; width: 100%; height: 90%;" src="">
      </iframe>
      <p>
        How to join a live class as teacher
      </p>
    </div>
    <div class="col-sm-4 pb-4">
      <iframe style="border-radius: 7%; width: 100%; height: 90%;" src="">
      </iframe>
      <p>
        Features of live class by LearningPod
      </p>
    </div>
    <div class="col-sm-4 pb-4">
      <iframe style="border-radius: 7%; width: 100%; height: 90%;" src="">
      </iframe>
      <p>
        LearningPod teacher's view on mobile
      </p>
    </div>
    <div class="col-sm-4 pb-4">
        <div class="pdf">
          <iframe style="border-radius: 7%; width: 100%; height: 100%;" class="image"
            src="../../../resources/LearningPod_Teachers_Manual.pdf">
          </iframe>
          <div class="middle">
            <a href="../../../resources/LearningPod_Teachers_Manual.pdf" download title="Download manual" style="padding-right: 15px;">
              <i class="fa fa-download" style="font-size: 20px;"></i>
            </a>
            <a data-target="#previewPdfForTeacher" data-toggle="modal" download title="View manual" >
              <i class="fa fa-search" style="font-size: 20px; color: #7971ea;"></i>
            </a>
          </div>
        </div>
        <p class="pt-2">Lookup manual for teachers</p>
      </div>
  </div>
  <div class="row pb-3" >
    
      <h2>
        Tutorials For Students Of LearningPod
      </h2>
   
  </div>
  <div class="row pb-3" >
    <div class="col-sm-4 pb-4">
      <iframe style="border-radius: 7%; width: 100%; height: 90%;" src="">
      </iframe>
      <p>
        LearningPod tutorial for students
      </p>
    </div>
    <div class="col-sm-4 pb-4">
      <iframe style="border-radius: 7%; width: 100%; height: 90%;" src="">
      </iframe>
      <p>
        Tutorial for students to access on mobile
      </p>
    </div>
    <div class="col-sm-4 pb-4">
        <div class="pdf">
          <iframe style="border-radius: 7%; width: 100%; height: 100%;" class="image"
            src="../../../resources/LearningPod_Students_Manual.pdf">
          </iframe>
          <div class="middle">
            <a href="../../../resources/LearningPod_Students_Manual.pdf" download title="Download manual" style="padding-right: 15px;">
              <i class="fa fa-download" style="font-size: 20px;"></i>
            </a>
            <a data-target="#previewPdfForStudent" data-toggle="modal" download title="View manual" >
              <i class="fa fa-search" style="font-size: 20px; color: #7971ea;"></i>
            </a>
          </div>
        </div>
        <p class="pt-2">Lookup manual for students</p>
      </div>
  </div>
</div>

<div id="previewPdfForCc" style="color: black" class="modal fade" role="dialog" >
    <div class="modal-dialog modal-lg modal-open" >
        <div class="modal-content">
            <div class="modal-header">
                <h4>Lookup manual for coaching institute admin</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="480px" 
                src="../../../resources/LearningPod_CIAdmin_Manual.pdf">
              </iframe>
            </div>
        </div>
    </div>
</div>
<div id="previewPdfForTeacher" style="color: black" class="modal fade " role="dialog" >
    <div class="modal-dialog modal-lg modal-open" >
        <div class="modal-content">
            <div class="modal-header">
                <h4>Lookup manual for teachers</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="480px" 
                src="../../../resources/LearningPod_Teachers_Manual.pdf">
              </iframe>
            </div>
        </div>
    </div>
</div>
<div id="previewPdfForStudent" style="color: black" class="modal fade " role="dialog" >
    <div class="modal-dialog modal-lg modal-open" >
        <div class="modal-content">
            <div class="modal-header">
                <h4>Lookup manual for students</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="480px" 
                src="../../../resources/LearningPod_Students_Manual.pdf">
              </iframe>
            </div>
        </div>
    </div>
</div>