.pdf {
  position: relative;
  width: 100%;
  height: 90%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.pdf:hover .image {
  opacity: 0.3;
}

.pdf:hover .middle {
  opacity: 1;
}


  
  h2 {
    text-shadow: 2px 2px 4px grey;
    padding-left: 10px;
  }

  a {
    cursor: pointer;
  }

  @media only screen and (max-width: 330px) {
    p {
font-size: 16px;
    }
  }