
.header
{
    background-color: black;
    /* border-radius: 20px; */
    padding-top:17px;
    transform: translateY(-100%) !important;
    position: absolute;
    padding-bottom: 3px;
}

i question
{
    font-size: small;
}

.content
{
    padding: 1rem 2rem;
    -webkit-box-shadow: 1px 1px 11px 0px #666666; 
    box-shadow: 1px 1px 11px 0px #666666 ;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    padding-top:10px;
  
}
.content-wrapper
{
    padding-top: 4px;
    max-height: 400px;
    overflow: auto;
}


 
  #popup { 
    display: none; 
    border: 1px black solid;
    width: 400px; height: 200px; 
    top:20px; left:20px;
    background-color: white;
    z-index: 10;
    padding: 2em;
    position: fixed;
  }
  
  
  #iframe { border: 0; }



@media only screen and (min-width: 768px) {
  /* For desktop: */
  .resize {
    border: 2px solid;
    padding: 20px; 
    width: 770px;
    height: 570px;
    resize: both;
    overflow: auto;
    min-width: 585px;
  min-height: 400px;
  }

 
}


 

 .header{
   margin-right:  377.350px;
   margin-left: 377.350px;
   width: 50%;
   height: 35px;
   position: absolute;
   bottom: 10px;
 }
  
 .header .wc-box{
    position: absolute;
    top: calc(44% - 15px);
    right: calc(6% - 45px);
 }
 
  
  .modal .header .buttons {
    position: absolute;
    /* right: 0; */
    top: 9px;
  }
  
  .modal .header .buttons span {
    border-left: 1px solid #ccc;
    padding: 8px 20px;
    cursor: pointer;
  }
  
  .modal .header .buttons span:hover {
    background: #eee;
  }
  
  .moveBottom{
    transform: translate(0, 75vh);
  }

  .hide{
    display: none
  }

  .wc-box {
    position: absolute;
    top: calc(4% - 15px);
    right: calc(7% - 24px);
  }
  
  .wc-box div {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
  }
  .wc-box span {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
  }
  
  .wc-box div:before,
  .wc-box div:after {
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    content: " ";
    position: absolute;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 2px 0;
  }
  .wc-box span:before,
  .wc-box span:after {
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    position: absolute;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 2px 0;
  }
  
  .wc-box .minimize:before {
    border-bottom-width: 2px;
  }

  .wc-box .fullscreen:before {
    border-bottom-width: 2px;
  }
  
  .wc-box .maximize:before {
    border-width: 1px 1px 2px 1px;
  }
  
  .wc-box .cls:before,
  .wc-box .cls:after {
    bottom: 50%;
    top: 50%;
  }
  
  .wc-box .cls:before {
    transform: rotate(45deg);
  }
  
  .wc-box .cls:after {
    transform: rotate(-45deg);
  }
  
  .wc-box div:hover {
    background-color: #CCCCCC;
  }

  .wc-box span:hover {
    background-color: #CCCCCC;
  }
  
  .wc-box .cls:hover {
    background-color: #E04343;
  }
  
  .wc-box div:hover:after,
  .wc-box div:hover:before {
    border-color: #333333;
  }

  .wc-box span:hover:after,
  .wc-box span:hover:before {
    border-color: #333333;
  }
  
  .wc-box .cls:hover:after,
  .wc-box .cls:hover:before {
    border-color: #FFFFFF;
  }






a{
  cursor: pointer;
}

.loading {
  position: fixed;
  left: 45%;
  top: 50%;
}



th {
 
white-space:nowrap;
  border-width: 1px;
  padding: 0.5em;
  position: relative;
  text-align: center;
  background: #eee;
  border-color: #bbb;
  border-radius: 0.25em;
  border-style: solid;
}

td {
  border-width: 1px;
  padding: 0.5em;
  position: relative;
  text-align: center;
  border-color: #ddd;
  border-radius: 0.25em;
  border-style: solid;
}
.addClassSub{
  visibility: hidden;
}

@media only screen and (max-width: 488px) {
  .scrollableTable {
      overflow-x: auto;
  }
  .dateColumn{
    width: 200px;
   
  }
  .removeColumn{
    display: none;
  }
  .addClassSub{
    visibility: visible;
  }
}