
<div *ngIf="loading" style="z-index: 1000;" class="loading">
    <div>
        <img width="100px" height="50px" src="../../assets/spinner.gif">
    </div>
</div>
<div class="container">
    <div *ngIf="isRecordingAvailable" style="text-align: center; padding-top: 2%;">
        <img width="500px" height="300px" src="https://res.cloudinary.com/coffeebeans-technologies/image/upload/v1587967444/LearningPod/myAccounts/noRecordings_j5qvnw.png">
        <h3 style="color: grey;">
          No Recordings Found
        </h3>
      </div>
      <div class="row pb-3" *ngIf="recordingDetailsArray && recordingDetailsArray.length != 0">
          <div class="col-sm-9">
          </div>
          <div class="col-sm-3">
              <button class="btn btn-primary" id="delete" style="float: right;" title="Select the recording(s) you want to delete" [disabled]="disableDelete" (click)="deleteRecordings(); ">Delete &nbsp;<i class="fas fa-trash-alt"></i></button>
          </div>
        </div>
<div class="scrollableTable">
        <div *ngIf="recordingDetailsArray && recordingDetailsArray.length != 0" class="row" >
            <table style="width: 100%;">
                <thead>
                  <tr>
                    <th>Title </th>
                    <th class="removeColumn">Subject </th>
                    <th class="removeColumn">Class </th>
                    <th class="dateColumn">Date </th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let x of recordingDetailsArray | paginate: { itemsPerPage: 10, currentPage: p } ;" >
                    <td>{{x.courseTitle}}  <div class="addClassSub">({{x.subjectName}}{{x.className == "Custom" ?  "" : "-" + x.className}})</div></td>
                    <td  class="removeColumn">{{x.subjectName}}</td>
                    <td  class="removeColumn">{{x.className}}</td>
                    <td  class="dateColumn">
                      <div *ngFor="let x1 of filteredRecordingData || x.scDetails ">
                        {{x1.scDate}}
                        <button *ngIf="x1.courseVideo != null" class="btn-sm btn-primary" style="border-radius: 20px;">
                          <i class="fa fa-search" data-dismiss="modal" data-toggle="modal" title="Preview Video"
                            data-backdrop="false" data-target="#recordingPreview"
                            (click)="videoPreviewFunction(x1.courseVideo)"></i>
                        </button> &nbsp;
                        <input  type="checkbox" id="recording{{x1.recordingId}}" class="recording_checkbox"
                         value="{{x1.recordingId}}" (change)="enableDeleteOnCheck()" style="width: 20px; height: 20px; padding-top: 2px;">
                      </div>
                    </td>
              
                  </tr>
          
                </tbody>
              </table>
          
        </div>
</div>

</div>

<div id="recordingPreview" class="modal fade modal-open" draggable="true" role="dialog"
  style="background-color: transparent;">
  <div class="header moveBottom hide">
    <div class="wc-box">

      <div class="minimize min"></div>
      <div class="maximize max"></div>
      <div class="cls" data-dismiss="modal" (click)="closeModal()"></div>
    </div>

  </div>
  <div class="modal-dialog modal-lg popup ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="wc-box">
          <span (click)="openFullscreen()" class="fullscreen hideMobileView" style="text-align: center;"><i
              class="fa fa-expand"></i></span>
          <div class="minimize min hideMobileView"></div>
          <div class="maximize max hideMobileView"></div>
          <div class="cls" data-dismiss="modal" (click)="closeModal()"></div>
        </div>

      </div>

      <div class="modal-body " style="padding: 0;">
        <!-- <div class="header">
              <span>Modal Window</span>
              <span class="buttons"><span class="min">_</span><span class="max">[ ]</span><span class="close">X</span></span>
            </div> -->

        <!-- <button type="button" class="close"  data-dismiss="modal"  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              <button (click)="openFullscreen()" style="padding-bottom: 6px;" class="close" aria-label="Close">
                  <span aria-hidden="true"> </span> &#9633;
              </button> -->


        <div >
          <iframe id="iframe" width="98%" height="500px" [src]="url"></iframe>
        </div>



      </div>
    </div>
  </div>
</div>