@import "../node_modules/angular-calendar/css/angular-calendar.css";



html { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;  
    height: 100%;
    overflow-y: hidden;
}

body.modal-open {
    overflow: hidden;
}

